files-fpml/schemas/fpml5-4/transparency/fpml-option-shared-5-4.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 
== Copyright (c) 2002-2012 All rights reserved. 
== Financial Products Markup Language is subject to the FpML public license. 
== A copy of this license is available at http://www.fpml.org/license/license.html
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns="http://www.fpml.org/FpML-5/transparency" targetNamespace="http://www.fpml.org/FpML-5/transparency" ecore:documentRoot="FpML" ecore:nsPrefix="trnsp" ecore:package="org.fpml.transparency" version="$Revision: 9666 $" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:include schemaLocation="fpml-asset-5-4.xsd" />
<!--View Generation: SKIPPED Asian - NonStandardFeature-->
<!--View Generation: SKIPPED AveragingObservationList - NonStandardFeature-->
<!--View Generation: SKIPPED AveragingPeriod - NonStandardFeature-->
<!--View Generation: SKIPPED AveragingSchedule - NonStandardFeature-->
<!--View Generation: SKIPPED Barrier - NonStandardFeature-->
<!--View Generation: SKIPPED CalendarSpread - NonStandardFeature-->
  <xsd:complexType name="ClassifiedPayment">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A classified non negative payment.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NonNegativePayment">
        <xsd:sequence>
          <xsd:element name="paymentType" type="PaymentType" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Payment classification.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!--View Generation: SKIPPED Composite - NonStandardFeature-->
<!--View Generation: SKIPPED CreditEventNotice - Unsupported-->
  <xsd:complexType name="CreditEvents">
    <xsd:sequence>
<!--View Generation: SKIPPED bankruptcy - Standardized-->
<!--View Generation: SKIPPED failureToPay - Standardized-->
<!--View Generation: SKIPPED failureToPayPrincipal - Standardized-->
<!--View Generation: SKIPPED failureToPayInterest - Standardized-->
<!--View Generation: SKIPPED obligationDefault - Standardized-->
<!--View Generation: SKIPPED obligationAcceleration - Standardized-->
<!--View Generation: SKIPPED repudiationMoratorium - Standardized-->
      <xsd:element name="restructuring" type="Restructuring" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A credit event. A restructuring is an event that materially impacts the reference entity's obligations, such as an interest rate reduction, principal reduction, deferral of interest or principal, change in priority ranking, or change in currency or composition of payment. ISDA 2003 Term: Restructuring.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
<!--View Generation: SKIPPED distressedRatingsDowngrade - Standardized-->
<!--View Generation: SKIPPED maturityExtension - Standardized-->
<!--View Generation: SKIPPED writedown - Standardized-->
<!--View Generation: SKIPPED impliedWritedown - Standardized-->
<!--View Generation: SKIPPED defaultRequirement - Standardized-->
<!--View Generation: SKIPPED creditEventNotice - Standardized-->
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:ID" use="optional" />
  </xsd:complexType>
<!--View Generation: SKIPPED CreditEventsReference - Documentation-->
<!--View Generation: SKIPPED FailureToPay - Standardized-->
<!--View Generation: SKIPPED FeaturePayment - NonStandardFeature-->
  <xsd:complexType name="FrequencyType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Frequency Type.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="frequencyTypeScheme" type="xsd:anyURI" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
<!--View Generation: SKIPPED FxFeature - NonStandardFeature-->
<!--View Generation: SKIPPED GracePeriodExtension - Standardized-->
<!--View Generation: SKIPPED Knock - NonStandardFeature-->
<!--View Generation: SKIPPED MarketDisruption - Documentation-->
<!--View Generation: SKIPPED NotifyingParty - Documentation-->
  <xsd:complexType name="Option" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A type for defining the common features of options. Buyer/seller information is not normally used in Transparency view but is optional in case the information is needed for administrative purposes such as Reporting Party determination.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Product">
        <xsd:sequence>
          <xsd:group ref="BuyerSeller.model"></xsd:group>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OptionBase" abstract="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type for defining the common features of options.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
<!--5-1 FX Refactoring: Replaced the Product with Option base class. Removed BuyerSeller.model as it exists inside the option base class-->
      <xsd:extension base="Option">
        <xsd:sequence>
          <xsd:element name="optionType" type="OptionTypeEnum">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The type of option transaction. From a usage standpoint, put/call is the default option type, while payer/receiver indicator is used for options index credit default swaps, consistently with the industry practice. Straddle is used for the case of straddle strategy, that combine a call and a put with the same strike.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OptionBaseExtended" abstract="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Base type for options starting with the 4-3 release, until we refactor the schema as part of the 5-0 release series.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="OptionBase">
        <xsd:sequence>
          <xsd:element name="premium" type="Premium" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The option premium payable by the buyer to the seller.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="exercise"></xsd:element>
<!--View Generation: SKIPPED exerciseProcedure - Documentation-->
<!--View Generation: SKIPPED feature - NonStandardFeature-->
          <xsd:choice minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">A choice between an explicit representation of the notional amount, or a reference to a notional amount defined elsewhere in this document.</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="notionalReference" type="NotionalAmountReference" />
            <xsd:element name="notionalAmount" type="Money" />
          </xsd:choice>
          <xsd:group ref="OptionDenomination.model" minOccurs="0" />
<!--View Generation: SKIPPED  - NonStandardFeature-->
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!--View Generation: SKIPPED OptionFeature - NonStandardFeature-->
  <xsd:complexType name="OptionNumericStrike">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type for defining the strike price for an option as a numeric value without currency.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:choice minOccurs="0">
        <xsd:element name="strikePrice" type="xsd:decimal">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The price or level at which the option has been struck.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="strikePercentage" type="xsd:decimal">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The price or level expressed as a percentage of the forward starting spot price.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OptionStrike">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type for defining the strike price for an equity option. The strike price is either: (i) in respect of an index option transaction, the level of the relevant index specified or otherwise determined in the transaction; or (ii) in respect of a share option transaction, the price per share specified or otherwise determined in the transaction. This can be expressed either as a percentage of notional amount or as an absolute value.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="OptionNumericStrike">
        <xsd:sequence>
          <xsd:element name="currency" type="Currency" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The currency in which an amount is denominated.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PassThrough">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Type which contains pass through payments.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="passThroughItem" type="PassThroughItem" maxOccurs="unbounded" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">One to many pass through payment items.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PassThroughItem">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Type to represent a single pass through payment.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group ref="PayerReceiver.model" />
      <xsd:element name="underlyerReference" type="AssetReference" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Reference to the underlyer whose payments are being passed through.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="passThroughPercentage" type="xsd:decimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Percentage of payments from the underlyer which are passed through.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Premium">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type for defining a premium.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="SimplePayment">
        <xsd:sequence>
          <xsd:group ref="Premium.model"></xsd:group>
<!--View Generation: SKIPPED  - NonStandardFeature-->
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PubliclyAvailableInformation">
    <xsd:sequence>
      <xsd:element name="standardPublicSources" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">If this element is specified and set to 'true', indicates that ISDA defined Standard Public Sources are applicable.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="publicSource" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A public information source, e.g. a particular newspaper or electronic news service, that may publish relevant information used in the determination of whether or not a credit event has occurred. ISDA 2003 Term: Public Source.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="specifiedNumber" type="xsd:positiveInteger" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The minimum number of the specified public information sources that must publish information that reasonably confirms that a credit event has occurred. The market convention is two. ISDA 2003 Term: Specified Number.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Quanto">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Determines the currency rate that the seller of the equity amounts will apply at each valuation date for converting the respective amounts into a currency that is different from the currency denomination of the underlyer.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="fxRate" type="FxRate" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Specifies a currency conversion rate.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fxSpotRateSource" type="FxSpotRateSource" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Specifies the methodology (reference source and, optionally, fixing time) to be used for determining a currency conversion rate.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Restructuring">
    <xsd:sequence>
      <xsd:element name="applicable" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Indicates whether the restructuring provision is applicable.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
<!--View Generation: SKIPPED restructuringType - Documentation-->
<!--View Generation: SKIPPED multipleHolderObligation - Standardized-->
<!--View Generation: SKIPPED multipleCreditEventNotices - Standardized-->
    </xsd:sequence>
  </xsd:complexType>
<!--View Generation: SKIPPED RestructuringType - Documentation-->
<!--View Generation: SKIPPED StrategyFeature - NonStandardFeature-->
  <xsd:complexType name="StrikeSpread">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type for defining a strike spread feature.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="upperStrike" type="OptionStrike" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Upper strike in a strike spread.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="upperStrikeNumberOfOptions" type="PositiveDecimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Number of options at the upper strike price in a strike spread.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Trigger">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Trigger point at which feature is effective.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:choice minOccurs="0">
        <xsd:element name="level" type="xsd:decimal">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The trigger level.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="levelPercentage" type="xsd:decimal">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The trigger level percentage.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
<!--View Generation: Skipped an empty choice.-->
      </xsd:choice>
      <xsd:element name="triggerType" type="TriggerTypeEnum" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The Triggering condition.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="triggerTimeType" type="TriggerTimeTypeEnum" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The valuation time type of knock condition.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!--View Generation: SKIPPED TriggerEvent - NonStandardFeature-->
<!--View Generation: SKIPPED WeightedAveragingObservation - NonStandardFeature-->
<!--View Generation: SKIPPED OptionBaseFeature.model - NonStandardFeature-->
  <xsd:group name="OptionDenomination.model">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A model group containing the option denomination components.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="optionEntitlement" type="PositiveDecimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The number of units of underlyer per option comprised in the option transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="entitlementCurrency" type="Currency" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">TODO</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="numberOfOptions" type="PositiveDecimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The number of options comprised in the option transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
<!--View Generation: SKIPPED OptionFeature.model - NonStandardFeature-->
  <xsd:group name="OptionSettlement.model">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A group which has Option Settlement elements.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="settlementType" type="SettlementTypeEnum"></xsd:element>
      <xsd:element name="settlementDate" type="AdjustableOrRelativeDate" minOccurs="0" />
      <xsd:group ref="SettlementAmountOrCurrency.model" minOccurs="0" />
    </xsd:sequence>
  </xsd:group>
</xsd:schema>

