files-fpml/schemas/fpml5-11/transparency/fpml-transparency-processes-5-11.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 
== Copyright (c) 2018-2020 All rights reserved. 
== Financial Products Markup Language is subject to the FpML public license. 
== A copy of this license is available at http://www.fpml.org/license/license.html
-->
<xsd:schema xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns="http://www.fpml.org/FpML-5/transparency" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" xmlns:fpml-annotation="http://www.fpml.org/annotation" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.fpml.org/FpML-5/transparency" ecore:documentRoot="FpML" ecore:nsPrefix="trnsp" ecore:package="org.fpml.transparency" version="$Revision: 7629 $" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:include schemaLocation="fpml-recordkeeping-processes-5-11.xsd" />
  <xsd:complexType name="PublicDisclosure">
    <xsd:annotation></xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="AddressedMessage">
        <xsd:sequence>
          <xsd:element name="isCorrection" type="xsd:boolean" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Indicates if this message corrects an earlier submission. If true, the recipient is directed to record information about the most recent lifecycle event affecting the trade as a correction of the previous submission, rather than as a new lifecycle event.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="onBehalfOf" type="OnBehalfOf" minOccurs="0" maxOccurs="4">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Indicates which party (or parties) (and accounts) a trade or event is being processed for. Normally there will only be a maximum of 2 parties, but in the case of a novation there could be a transferor, transferee, remaining party, and other remaining party. Also, in the context of a trade package there could be several parties for which limit check is requested, necessitating multiple onBehalfOf elements. Except for these cases, there should be no more than two onBehalfOf references in a message.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="eventId" type="EventId" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>A unique event identifier.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="eventType" type="EventTaxonomy">
            <xsd:annotation>
              <xsd:documentation>A structured code indicating the event type.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="eventTimestamp" type="xsd:dateTime">
            <xsd:annotation>
              <xsd:documentation>When the reported event happened.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:group ref="ReportingNotionalChange.model" minOccurs="0" />
          <xsd:element name="applicableRegulations" type="ApplicableRegulations">
            <xsd:annotation>
              <xsd:documentation>All the regulator that applies to this trade.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="regulationSpecificInformation" type="PublicRegulationDetails" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>All the regulations that this trade should be reported under.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="trade" type="Trade">
            <xsd:annotation>
              <xsd:documentation>The revised state of the trade or its final state for a lifecycle ending event</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="quote" type="BasicQuotation" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>Pricing information for the trade.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="party" type="Party" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>The supporting party definitions.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PublicDisclosureAcknowledgement">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type defining an acknowledgement to a regulatory reporting submission, e.g. regulatoryDisclosure or regulatoryWithdrawal.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Message">
        <xsd:sequence>
          <xsd:element name="header" type="ResponseMessageHeader" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Standard FpML message header</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="tradeIdentifier" type="PartyTradeIdentifier" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>identifies the affected trade</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="reportingStatus" type="ReportingStatus" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Information about how the position is being reported to regulators.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="additionalData" type="AdditionalData" minOccurs="0" />
          <xsd:element name="party" type="Party" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Reference information about parties, business units, and persons involed in the trade.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PublicExecutionReport">
    <xsd:annotation></xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="CorrectableRequestMessage">
        <xsd:sequence>
          <xsd:choice minOccurs="0">
            <xsd:annotation></xsd:annotation>
            <xsd:group ref="TradingAndPostTradeEvents.model" />
          </xsd:choice>
          <xsd:group ref="EventValuation.model" minOccurs="0" />
          <xsd:group ref="PartiesAndAccounts.model" minOccurs="0" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PublicExecutionReportRetracted">
    <xsd:complexContent>
      <xsd:extension base="NonCorrectableRequestMessage">
        <xsd:sequence>
          <xsd:choice minOccurs="0">
            <xsd:group ref="TradingAndPostTradeEvents.model" />
            <xsd:sequence>
              <xsd:element name="primaryAssetClass" type="AssetClass" minOccurs="0" />
              <xsd:element name="tradeIdentifier" type="PartyTradeIdentifier" minOccurs="0" />
              <xsd:element name="eventIdentifier" type="BusinessEventIdentifier" minOccurs="0" maxOccurs="2">
                <xsd:annotation>
                  <xsd:documentation xml:lang="en">Individual parties should only use a single event identifier to identify a retraction. Platforms providing services on behalf of both parties in a transaction may provide event identifiers for both parties; in this case it is up to the recipient (the trade repository) to validate that the event IDs refer to the same event.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:choice>
          <xsd:group ref="PartiesAndAccounts.model" minOccurs="0" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PublicPackageInfo">
    <xsd:annotation></xsd:annotation>
    <xsd:sequence>
      <xsd:element name="packageIdentifier" type="IssuerTradeId" minOccurs="0" />
      <xsd:element name="pacakageWithNonReportableComponent" type="xsd:boolean" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PublicRegulationDetails">
    <xsd:annotation></xsd:annotation>
    <xsd:sequence>
      <xsd:element name="cftc_part43_2012" type="PublicReporting.Part43_2012" minOccurs="0" />
      <xsd:element name="cftc_part43_2019" type="PublicReporting.Part43_2019" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PublicReporting.Part43_2012">
    <xsd:annotation></xsd:annotation>
    <xsd:sequence>
      <xsd:element name="cancellation" type="xsd:boolean" minOccurs="0" />
      <xsd:element name="cleared" type="xsd:token" minOccurs="0" />
      <xsd:element name="executionVenueType" type="ExecutionVenueType" minOccurs="0" />
      <xsd:element name="collateralizationType" type="CollateralizationType" minOccurs="0" />
      <xsd:element name="offMarketPrice" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Indicates that the price does not reflect the current market. For example, in a credit trade where the two counterparties are not of equal credit standing, there is no initial margin and one party pays collateral to the other in the form of an add-on to the price (say a price that would otherwise be 100 at the market is struck at 105 to include the collateral, resulting in a very off-market looking price.)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="largeSizeTrade" type="xsd:boolean" minOccurs="0" />
      <xsd:element name="nonStandardTerms" type="xsd:boolean" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PublicReporting.Part43_2019">
    <xsd:annotation></xsd:annotation>
    <xsd:sequence>
      <xsd:element name="cancellation" type="xsd:boolean" minOccurs="0" />
      <xsd:element name="cleared" type="xsd:token" minOccurs="0" />
      <xsd:element name="endUserException" type="xsd:boolean" minOccurs="0" />
      <xsd:element name="executionVenueType" type="ExecutionVenueType" minOccurs="0" />
      <xsd:element name="collateralizationType" type="CollateralizationType" minOccurs="0" />
      <xsd:element name="largeSizeTrade" type="xsd:boolean" minOccurs="0" />
      <xsd:element name="nonStandardTerms" type="xsd:boolean" minOccurs="0" />
      <xsd:element name="clearingService" type="PartyReference" minOccurs="0" />
      <xsd:element name="packageInfo" type="PublicPackageInfo" minOccurs="0" />
      <xsd:element name="disseminationTime" type="xsd:dateTime" minOccurs="0" />
      <xsd:element name="disseminationId" type="xsd:token" minOccurs="0" />
      <xsd:element name="originalDisseminationId" type="xsd:token" minOccurs="0" />
      <xsd:element name="postPricedIndicator" type="xsd:boolean" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="publicExecutionReport" type="PublicExecutionReport" />
  <xsd:element name="publicExecutionReportAcknowledgement" type="Acknowledgement" />
  <xsd:element name="publicExecutionReportException" type="Exception" />
  <xsd:element name="publicExecutionReportRetracted" type="PublicExecutionReportRetracted" />
  <xsd:element name="publicDisclosure" type="PublicDisclosure" />
  <xsd:element name="publicDisclosureAcknowledgement" type="PublicDisclosureAcknowledgement" />
  <xsd:element name="publicDisclosureException" type="RegulatoryReportingException" />
  <xsd:element name="publicDisclosureWithdrawal" type="RegulatoryWithdrawal" />
</xsd:schema>

