files-fpml/schemas/fpml3-0/fpml-dtd-fx-3-0.dtd

<?xml version='1.0' encoding='UTF-8' ?>

<!--Generated by XML Authority-->

<!-- wip-fpml-fx.dtd - "FpML-FX - Work In Progress Draft"  Version 1.0 -->
<!ENTITY % FpML_Address "streetAddress? , city? , state? , country? , postalCode?">

<!ENTITY % FpML_CurrencyFlow "%FpML_Payment; , settlementInformation?">

<!ENTITY % FpML_ExpiryDateTime "expiryDate , expiryTime , cutName?">

<!ENTITY % FpML_QuotedCurrencyPair "currency1 , currency2 , quoteBasis">

<!ENTITY % FpML_FXFixing "quotedCurrencyPair , primaryRateSource , secondaryRateSource? , fixingDate , fixingTime">

<!ENTITY % FpML_FXCashSettlement "settlementCurrency , fixing+">

<!ENTITY % FpML_FXLeg "%FpML_Product; , exchangedCurrency1 , exchangedCurrency2 , (valueDate | (currency1ValueDate , currency2ValueDate)) , exchangeRate , nonDeliverableForward? , confirmationSenderPartyReference?">

<!ENTITY % FpML_FXOptionLeg "%FpML_Product; , buyerPartyReference , sellerPartyReference , expiryDateTime , exerciseStyle , fxOptionPremium* , valueDate , cashSettlementTerms? , putCurrencyAmount , callCurrencyAmount , fxStrikePrice , quotedAs?">

<!ENTITY % FpML_FXBarrierOption "%FpML_FXOptionLeg; , spotRate? , fxBarrier+ , triggerPayout?">

<!ENTITY % FpML_FXDigitalOption "%FpML_Product; , buyerPartyReference , sellerPartyReference , expiryDateTime , fxOptionPremium* , valueDate , quotedCurrencyPair , spotRate? , (fxEuropeanTrigger+ | fxAmericanTrigger+) , triggerPayout">

<!ENTITY % FpML_FXAverageRateOption "%FpML_Product; , buyerPartyReference , sellerPartyReference , expiryDateTime , exerciseStyle , fxOptionPremium* , valueDate , putCurrencyAmount , callCurrencyAmount , fxStrikePrice , spotRate? , payoutCurrency , averageRateQuoteBasis , precision? , payoutFormula? , primaryRateSource , secondaryRateSource? , fixingTime , (averageRateObservationSchedule | averageRateObservationDate+) , observedRates*">

<!ENTITY % FpML_FXAverageRateObservationSchedule "observationStartDate , observationEndDate , calculationPeriodFrequency">

<!ENTITY % FpML_FXAverageRateObservationDate "observationDate , averageRateWeightingFactor">

<!ENTITY % FpML_ObservedRates "observationDate , observedRate">

<!ENTITY % FpML_FXOptionPremium "payerPartyReference , receiverPartyReference , premiumAmount , premiumSettlementDate , settlementInformation? , premiumQuote?">

<!ENTITY % FpML_FXStrikePrice "rate , strikeQuoteBasis">

<!ENTITY % FpML_FXBarrier "fxBarrierType? , quotedCurrencyPair , triggerRate , informationSource+ , observationStartDate? , observationEndDate?">

<!ENTITY % FpML_FXAmericanTrigger "touchCondition , quotedCurrencyPair , triggerRate , informationSource+ , observationStartDate? , observationEndDate?">

<!ENTITY % FpML_FXEuropeanTrigger "triggerCondition , quotedCurrencyPair , triggerRate , informationSource+">

<!ENTITY % FpML_FXOptionPayout "%FpML_Money; , payoutStyle , settlementInformation?">

<!ENTITY % FpML_FXSwap "%FpML_Product; , fxSingleLeg+">

<!ENTITY % FpML_FXRate "quotedCurrencyPair , rate , spotRate? , forwardPoints? , sideRates?">

<!ENTITY % FpML_PremiumQuote "premiumValue , premiumQuoteBasis">

<!ENTITY % FpML_QuotedAs "optionOnCurrency , faceOnCurrency , quotedTenor?">

<!ENTITY % FpML_Routing "(routingIds | routingExplicitDetails | routingIdsAndExplicitDetails)">

<!ENTITY % FpML_RoutingExplicitDetails "routingName , routingAddress? , routingAccountNumber? , routingReferenceText*">

<!ENTITY % FpML_RoutingIds "routingId+">

<!ENTITY % FpML_RoutingIdsAndExplicitDetails "routingIds+ , %FpML_RoutingExplicitDetails;">

<!ENTITY % FpML_IntermediaryInformation "%FpML_Routing; , intermediarySequenceNumber">

<!ENTITY % FpML_SettlementInformation "standardSettlementStyle | settlementInstruction">

<!ENTITY % FpML_SettlementInstruction "settlementMethod? , correspondentInformation? , intermediaryInformation* , beneficiaryBank? , beneficiary , splitSettlement*">

<!ENTITY % FpML_SideRates "baseCurrency , currency1SideRate? , currency2SideRate?">

<!ENTITY % FpML_SideRate "currency , sideRateBasis , rate , spotRate? , forwardPoints?">

<!ENTITY % FpML_SplitSettlement "splitSettlementAmount , beneficiaryBank? , beneficiary">

<!ENTITY % FpML_StreetAddress "streetLine+">

<!ELEMENT averageRateObservationDate (%FpML_FXAverageRateObservationDate;)>

<!ATTLIST averageRateObservationDate  type NMTOKEN  #FIXED 'FXAverageRateObservationDate' >
<!ELEMENT averageRateObservationSchedule (%FpML_FXAverageRateObservationSchedule;)>

<!ATTLIST averageRateObservationSchedule  type NMTOKEN  #FIXED 'FXAverageRateObservationSchedule' >
<!ELEMENT averageRateQuoteBasis (#PCDATA)>

<!ATTLIST averageRateQuoteBasis  type                   NMTOKEN  #FIXED 'string'
                                   strikeQuoteBasisScheme CDATA    #IMPLIED >
<!ELEMENT averageRateWeightingFactor (#PCDATA)>

<!ATTLIST averageRateWeightingFactor  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT baseCurrency (#PCDATA)>

<!ATTLIST baseCurrency  type           NMTOKEN  #FIXED 'string'
                          currencyScheme CDATA    #IMPLIED >
<!ELEMENT beneficiary (%FpML_Routing;)>

<!ATTLIST beneficiary  type NMTOKEN  #FIXED 'Routing' >
<!ELEMENT beneficiaryBank (%FpML_Routing;)>

<!ATTLIST beneficiaryBank  type NMTOKEN  #FIXED 'Routing' >
<!ELEMENT callCurrencyAmount (%FpML_Money;)>
<!ATTLIST callCurrencyAmount  type NMTOKEN  #FIXED 'Money' >
<!ELEMENT cashSettlementTerms (%FpML_FXCashSettlement;)>

<!ATTLIST cashSettlementTerms  type NMTOKEN  #FIXED 'FXCashSettlement' >
<!ELEMENT city (#PCDATA)>

<!ATTLIST city  type NMTOKEN  #FIXED 'string' >
<!ELEMENT confirmationSenderPartyReference EMPTY>

<!ATTLIST confirmationSenderPartyReference  href IDREF  #REQUIRED >
<!ELEMENT currency1 (#PCDATA)>

<!ATTLIST currency1  type           NMTOKEN  #FIXED 'string'
                       currencyScheme CDATA    #IMPLIED >
<!ELEMENT currency1SideRate (%FpML_SideRate;)>

<!ATTLIST currency1SideRate  type NMTOKEN  #FIXED 'SideRate' >
<!ELEMENT currency1ValueDate (#PCDATA)>

<!ATTLIST currency1ValueDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT currency2 (#PCDATA)>

<!ATTLIST currency2  type           NMTOKEN  #FIXED 'string'
                       currencyScheme CDATA    #IMPLIED >
<!ELEMENT currency2SideRate (%FpML_SideRate;)>

<!ATTLIST currency2SideRate  type NMTOKEN  #FIXED 'SideRate' >
<!ELEMENT currency2ValueDate (#PCDATA)>

<!ATTLIST currency2ValueDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT correspondentInformation (%FpML_Routing;)>

<!ATTLIST correspondentInformation  type NMTOKEN  #FIXED 'Routing' >
<!ELEMENT country (#PCDATA)>

<!ATTLIST country  type          NMTOKEN  #FIXED 'string'
                     countryScheme CDATA    #IMPLIED >
<!ELEMENT cutName (#PCDATA)>

<!ATTLIST cutName  type          NMTOKEN  #FIXED 'string'
                     cutNameScheme CDATA    #IMPLIED >
<!ELEMENT exerciseStyle (#PCDATA)>

<!ATTLIST exerciseStyle  exerciseStyleScheme CDATA    #IMPLIED
                           type                NMTOKEN  #FIXED 'string' >
<!ELEMENT exchangedCurrency1 (%FpML_CurrencyFlow;)>

<!ATTLIST exchangedCurrency1  type NMTOKEN  #FIXED 'CurrencyFlow' >
<!ELEMENT exchangedCurrency2 (%FpML_CurrencyFlow;)>

<!ATTLIST exchangedCurrency2  type NMTOKEN  #FIXED 'CurrencyFlow' >
<!ELEMENT exchangeRate (%FpML_FXRate;)>

<!ATTLIST exchangeRate  type NMTOKEN  #FIXED 'FXRate' >
<!ELEMENT expiryDate (#PCDATA)>

<!ATTLIST expiryDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT expiryDateTime (%FpML_ExpiryDateTime;)>

<!ATTLIST expiryDateTime  type NMTOKEN  #FIXED 'ExpiryDateTime' >
<!ELEMENT expiryTime (%FpML_BusinessCenterTime;)>
<!ATTLIST expiryTime  type NMTOKEN  #FIXED 'BusinessCenterTime' >
<!ELEMENT faceOnCurrency (#PCDATA)>

<!ATTLIST faceOnCurrency  type           NMTOKEN  #FIXED 'string'
                            currencyScheme CDATA    #IMPLIED >
<!ELEMENT fixing (%FpML_FXFixing;)>

<!ATTLIST fixing  type NMTOKEN  #FIXED 'FXFixing' >
<!ELEMENT fixingDate (#PCDATA)>

<!ATTLIST fixingDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT forwardPoints (#PCDATA)>

<!ATTLIST forwardPoints  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT fxAmericanTrigger (%FpML_FXAmericanTrigger;)>

<!ATTLIST fxAmericanTrigger  type NMTOKEN  #FIXED 'FXAmericanTrigger' >
<!ELEMENT fxAverageRateOption (%FpML_FXAverageRateOption;)>

<!ATTLIST fxAverageRateOption  type NMTOKEN  #FIXED 'FXAverageRateOption'
                                 base NMTOKEN  #FIXED 'Product'
                                 id   ID       #IMPLIED >
<!ELEMENT fxBarrier (%FpML_FXBarrier;)>

<!ATTLIST fxBarrier  type NMTOKEN  #FIXED 'FXBarrier'
                       base NMTOKEN  #FIXED 'Product' >
<!ELEMENT fxBarrierOption (%FpML_FXBarrierOption;)>

<!ATTLIST fxBarrierOption  type NMTOKEN  #FIXED 'FXBarrierOption'
                             base NMTOKEN  #FIXED 'FXOptionLeg'
                             id   ID       #IMPLIED >
<!ELEMENT fxBarrierType (#PCDATA)>

<!ATTLIST fxBarrierType  type                NMTOKEN  #FIXED 'string'
                           fxBarrierTypeScheme CDATA    #IMPLIED >
<!ELEMENT fxDigitalOption (%FpML_FXDigitalOption;)>

<!ATTLIST fxDigitalOption  type NMTOKEN  #FIXED 'FXDigitalOption'
                             base NMTOKEN  #FIXED 'Product'
                             id   ID       #IMPLIED >
<!ELEMENT fxEuropeanTrigger (%FpML_FXEuropeanTrigger;)>

<!ATTLIST fxEuropeanTrigger  type NMTOKEN  #FIXED 'FXEuropeanTrigger' >
<!ELEMENT fxOptionPremium (%FpML_FXOptionPremium;)>

<!ATTLIST fxOptionPremium  type NMTOKEN  #FIXED 'FXOptionPremium' >
<!ELEMENT fxSimpleOption (%FpML_FXOptionLeg;)>

<!ATTLIST fxSimpleOption  type NMTOKEN  #FIXED 'FXOptionLeg'
                            base NMTOKEN  #FIXED 'Product'
                            id   ID       #IMPLIED >
<!ELEMENT fxSingleLeg (%FpML_FXLeg;)>

<!ATTLIST fxSingleLeg  type NMTOKEN  #FIXED 'FXLeg'
                         base NMTOKEN  #FIXED 'Product'
                         id   ID       #IMPLIED >
<!ELEMENT fxStrikePrice (%FpML_FXStrikePrice;)>

<!ATTLIST fxStrikePrice  type NMTOKEN  #FIXED 'FXStrikePrice' >
<!ELEMENT fxSwap (%FpML_FXSwap;)>

<!ATTLIST fxSwap  type NMTOKEN  #FIXED 'FXSwap'
                    base NMTOKEN  #FIXED 'Product'
                    id   ID       #IMPLIED >
<!ELEMENT intermediaryInformation (%FpML_IntermediaryInformation;)>

<!ATTLIST intermediaryInformation  type NMTOKEN  #FIXED 'IntermediaryInformation' >
<!ELEMENT intermediarySequenceNumber (#PCDATA)>

<!ATTLIST intermediarySequenceNumber  type NMTOKEN  #FIXED 'integer' >
<!ELEMENT nonDeliverableForward (%FpML_FXCashSettlement;)>

<!ATTLIST nonDeliverableForward  type NMTOKEN  #FIXED 'FXCashSettlement' >
<!ELEMENT observationDate (#PCDATA)>

<!ATTLIST observationDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT observationEndDate (#PCDATA)>

<!ATTLIST observationEndDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT observationStartDate (#PCDATA)>

<!ATTLIST observationStartDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT observedRates (%FpML_ObservedRates;)>

<!ATTLIST observedRates  type NMTOKEN  #FIXED 'ObservedRates' >
<!ELEMENT optionOnCurrency (#PCDATA)>

<!ATTLIST optionOnCurrency  type           NMTOKEN  #FIXED 'string'
                              currencyScheme CDATA    #IMPLIED >
<!ELEMENT payoutCurrency (#PCDATA)>

<!ATTLIST payoutCurrency  type           NMTOKEN  #FIXED 'string'
                            currencyScheme CDATA    #IMPLIED >
<!ELEMENT payoutFormula (#PCDATA)>

<!ATTLIST payoutFormula  type NMTOKEN  #FIXED 'string' >
<!ELEMENT payoutStyle (#PCDATA)>

<!ATTLIST payoutStyle  type         NMTOKEN  #FIXED 'string'
                         payoutScheme CDATA    #IMPLIED >
<!ELEMENT postalCode (#PCDATA)>

<!ATTLIST postalCode  type NMTOKEN  #FIXED 'string' >
<!ELEMENT premiumAmount (%FpML_Money;)>
<!ATTLIST premiumAmount  type NMTOKEN  #FIXED 'Money' >
<!ELEMENT premiumQuote (%FpML_PremiumQuote;)>

<!ATTLIST premiumQuote  type NMTOKEN  #FIXED 'PremiumQuote' >
<!ELEMENT premiumQuoteBasis (#PCDATA)>

<!ATTLIST premiumQuoteBasis  type                    NMTOKEN  #FIXED 'string'
                               premiumQuoteBasisScheme CDATA    #IMPLIED >
<!ELEMENT premiumSettlementDate (#PCDATA)>

<!ATTLIST premiumSettlementDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT premiumValue (#PCDATA)>

<!ATTLIST premiumValue  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT primaryRateSource (%FpML_InformationSource;)>
<!ATTLIST primaryRateSource  type NMTOKEN  #FIXED 'InformationSource' >
<!ELEMENT putCurrencyAmount (%FpML_Money;)>
<!ATTLIST putCurrencyAmount  type NMTOKEN  #FIXED 'Money' >
<!ELEMENT quoteBasis (#PCDATA)>

<!ATTLIST quoteBasis  type             NMTOKEN  #FIXED 'string'
                        quoteBasisScheme CDATA    #IMPLIED >
<!ELEMENT quotedAs (%FpML_QuotedAs;)>

<!ATTLIST quotedAs  type NMTOKEN  #FIXED 'QuotedAs' >
<!ELEMENT quotedCurrencyPair (%FpML_QuotedCurrencyPair;)>

<!ATTLIST quotedCurrencyPair  type NMTOKEN  #FIXED 'QuotedCurrencyPair' >
<!ELEMENT quotedTenor (%FpML_Interval;)>
<!ATTLIST quotedTenor  type NMTOKEN  #FIXED 'Interval' >
<!ELEMENT routingAccountNumber (#PCDATA)>

<!ATTLIST routingAccountNumber  type NMTOKEN  #FIXED 'string' >
<!ELEMENT routingAddress (%FpML_Address;)>

<!ATTLIST routingAddress  type NMTOKEN  #FIXED 'Address' >
<!ELEMENT routingExplicitDetails (%FpML_RoutingExplicitDetails;)>

<!ATTLIST routingExplicitDetails  type NMTOKEN  #FIXED 'RoutingExplicitDetails' >
<!ELEMENT routingId (#PCDATA)>

<!ATTLIST routingId  type            NMTOKEN  #FIXED 'string'
                       routingIdScheme CDATA    #IMPLIED >
<!ELEMENT routingIds (%FpML_RoutingIds;)>

<!ATTLIST routingIds  type NMTOKEN  #FIXED 'RoutingIds' >
<!ELEMENT routingIdsAndExplicitDetails (%FpML_RoutingIdsAndExplicitDetails;)>

<!ATTLIST routingIdsAndExplicitDetails  type NMTOKEN  #FIXED 'RoutingIdsAndExplicitDetails' >
<!ELEMENT routingName (#PCDATA)>

<!ATTLIST routingName  type NMTOKEN  #FIXED 'string' >
<!ELEMENT routingReferenceText (#PCDATA)>

<!ATTLIST routingReferenceText  type NMTOKEN  #FIXED 'string' >
<!ELEMENT secondaryRateSource (%FpML_InformationSource;)>
<!ATTLIST secondaryRateSource  type NMTOKEN  #FIXED 'InformationSource' >
<!ELEMENT settlementInformation (%FpML_SettlementInformation;)>

<!ATTLIST settlementInformation  type NMTOKEN  #FIXED 'SettlementInformation' >
<!ELEMENT settlementInstruction (%FpML_SettlementInstruction;)>

<!ATTLIST settlementInstruction  type NMTOKEN  #FIXED 'SettlementInstruction' >
<!ELEMENT settlementMethod (#PCDATA)>

<!ATTLIST settlementMethod  type                   NMTOKEN  #FIXED 'string'
                              settlementMethodScheme CDATA    #IMPLIED >
<!ELEMENT sideRateBasis (#PCDATA)>

<!ATTLIST sideRateBasis  type                NMTOKEN  #FIXED 'string'
                           sideRateBasisScheme CDATA    #IMPLIED >
<!ELEMENT sideRates (%FpML_SideRates;)>

<!ATTLIST sideRates  type NMTOKEN  #FIXED 'SideRates' >
<!ELEMENT splitSettlement (%FpML_SplitSettlement;)>

<!ATTLIST splitSettlement  type NMTOKEN  #FIXED 'SplitSettlement' >
<!ELEMENT splitSettlementAmount (%FpML_Money;)>
<!ATTLIST splitSettlementAmount  type NMTOKEN  #FIXED 'Money' >
<!ELEMENT spotRate (#PCDATA)>

<!ATTLIST spotRate  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT standardSettlementStyle (#PCDATA)>

<!ATTLIST standardSettlementStyle  type                          NMTOKEN  #FIXED 'string'
                                     standardSettlementStyleScheme CDATA    #IMPLIED >
<!ELEMENT state (#PCDATA)>

<!ATTLIST state  type NMTOKEN  #FIXED 'string' >
<!ELEMENT streetAddress (%FpML_StreetAddress;)>

<!ATTLIST streetAddress  type NMTOKEN  #FIXED 'StreetAddress' >
<!ELEMENT streetLine (#PCDATA)>

<!ATTLIST streetLine  type NMTOKEN  #FIXED 'string' >
<!ELEMENT strikeQuoteBasis (#PCDATA)>

<!ATTLIST strikeQuoteBasis  type                   NMTOKEN  #FIXED 'string'
                              strikeQuoteBasisScheme CDATA    #IMPLIED >
<!ELEMENT touchCondition (#PCDATA)>

<!ATTLIST touchCondition  type                 NMTOKEN  #FIXED 'string'
                            touchConditionScheme CDATA    #IMPLIED >
<!ELEMENT triggerCondition (#PCDATA)>

<!ATTLIST triggerCondition  type                   NMTOKEN  #FIXED 'string'
                              triggerConditionScheme CDATA    #IMPLIED >
<!ELEMENT triggerPayout (%FpML_FXOptionPayout;)>

<!ATTLIST triggerPayout  type NMTOKEN  #FIXED 'FXOptionPayout' >
<!ELEMENT triggerRate (#PCDATA)>

<!ATTLIST triggerRate  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT valueDate (#PCDATA)>

<!ATTLIST valueDate  type NMTOKEN  #FIXED 'date' >
