files-fpml/schemas/fpml3-0/fpml-dtd-shared-3-0.dtd

<?xml version='1.0' encoding='UTF-8' ?>

<!--Generated by Turbo XML 2.3.1.100.-->

<!-- uri://www.fpml.org/spec/2001/fpml-dtd-shared-1-0-2001-09-14 -->
<!-- NOT YET USED - but FpML_AmericanExercise should change to extend this -->
<!ENTITY % FpML_SharedAmericanExercise "commencementDate , expirationDate , latestExerciseTime?">

<!ENTITY % FpML_Product "productType?,productId*">

<!ENTITY % FpML_AdjustableDate "unadjustedDate , dateAdjustments">

<!ENTITY % FpML_BusinessCenters "businessCenter+">

<!ENTITY % FpML_BusinessDayAdjustments "businessDayConvention , (businessCentersReference | businessCenters)?">

<!ENTITY % FpML_Payment "payerPartyReference , receiverPartyReference , paymentAmount , paymentDate? , adjustedPaymentDate?">

<!ENTITY % FpML_Fee "%FpML_Payment; , paymentType?">

<!ENTITY % FpML_Interval "periodMultiplier , period">

<!ENTITY % FpML_CalculationPeriodFrequency "(%FpML_Interval; , rollConvention)">

<!ENTITY % FpML_Money "currency , amount">

<!ENTITY % FpML_Offset "(%FpML_Interval; , dayType?)">

<!ENTITY % FpML_RateObservation "adjustedFixingDate , observedRate? , treatedRate? , observationWeight , rateReference?">

<!ENTITY % FpML_RelativeDateOffset "(%FpML_Offset; , businessDayConvention , (businessCentersReference | businessCenters)? , dateRelativeTo)">

<!ENTITY % FpML_Rounding "roundingDirection , precision">

<!ENTITY % FpML_Schedule "initialValue , step*">

<!ENTITY % FpML_AmountSchedule "(%FpML_Schedule; , currency)">

<!ENTITY % FpML_Step "stepDate , stepValue">

<!ENTITY % FpML_Strike "strikeRate , buyer? , seller?">

<!ENTITY % FpML_StrikeSchedule "(%FpML_Schedule; , buyer? , seller?)">

<!ENTITY % FpML_AdjustableDates "unadjustedDate+ , dateAdjustments">

<!ENTITY % FpML_AdjustableOrRelativeDate "adjustableDate | relativeDate">

<!ENTITY % FpML_AdjustableOrRelativeDates "adjustableDates | relativeDates">

<!ENTITY % FpML_AmericanExercise "commencementDate , expirationDate , relevantUnderlyingDate? , earliestExerciseTime , latestExerciseTime? , expirationTime , multipleExercise? , exerciseFeeSchedule?">

<!ENTITY % FpML_AutomaticExercise "thresholdRate">

<!ENTITY % FpML_BermudaExercise "bermudaExerciseDates , relevantUnderlyingDate? , earliestExerciseTime , latestExerciseTime? , expirationTime , multipleExercise? , exerciseFeeSchedule?">

<!ENTITY % FpML_BusinessCenterTime "hourMinuteTime , businessCenter">

<!ENTITY % FpML_CalculationAgent "calculationAgentPartyReference+ | calculationAgentParty">

<!ENTITY % FpML_DateRange "unadjustedFirstDate , unadjustedLastDate">

<!ENTITY % FpML_BusinessDateRange "(%FpML_DateRange; , businessDayConvention , (businessCentersReference | businessCenters)?)">

<!ENTITY % FpML_EuropeanExercise "expirationDate , relevantUnderlyingDate? , earliestExerciseTime , expirationTime , partialExercise? , exerciseFee?">

<!ENTITY % FpML_ExerciseFee "payerPartyReference , receiverPartyReference , notionalReference , (feeAmount | feeRate) , feePaymentDate">

<!ENTITY % FpML_ExerciseFeeSchedule "payerPartyReference , receiverPartyReference , notionalReference , (feeAmountSchedule | feeRateSchedule) , feePaymentDate">

<!ENTITY % FpML_ExerciseProcedure "(manualExercise | automaticExercise) , followUpConfirmation">

<!ENTITY % FpML_FxSpotRateSource "informationSource , fixingTime">

<!ENTITY % FpML_InformationSource "rateSource , rateSourcePage? , rateSourcePageHeading?">

<!ENTITY % FpML_ManualExercise "exerciseNotice? , fallbackExercise?">

<!ENTITY % FpML_PartialExercise "notionalReference+ , integralMultipleAmount? , minimumNotionalAmount">

<!ENTITY % FpML_MultipleExercise "%FpML_PartialExercise; , maximumNotionalAmount?">

<!ENTITY % FpML_ReferenceBank "referenceBankId , referenceBankName?">

<!ENTITY % FpML_RelativeDates "(%FpML_RelativeDateOffset; , periodSkip? , scheduleBounds?)">

<!ENTITY % FpML_ExerciseNotice "partyReference , exerciseNoticePartyReference? , businessCenter">

<!ENTITY % FpML_Documentation "masterAgreement , contractualDefinitions+ , masterConfirmation? , creditSupportDocument?">

<!ENTITY % FpML_MasterAgreement "masterAgreementType , masterAgreementDate?">

<!ELEMENT adjustableDate (%FpML_AdjustableDate;)>

<!ATTLIST adjustableDate  type NMTOKEN  #FIXED 'AdjustableDate' >
<!ELEMENT adjustableDates (%FpML_AdjustableDates;)>

<!ATTLIST adjustableDates  type NMTOKEN  #FIXED 'AdjustableDates' >
<!ELEMENT adjustedFixingDate (#PCDATA)>

<!ATTLIST adjustedFixingDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT adjustedPaymentDate (#PCDATA)>

<!ATTLIST adjustedPaymentDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT amount (#PCDATA)>

<!ATTLIST amount  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT americanExercise (%FpML_AmericanExercise;)>

<!ATTLIST americanExercise  type NMTOKEN  #FIXED 'AmericanExercise'
                              id   ID       #IMPLIED >
<!ELEMENT automaticExercise (%FpML_AutomaticExercise;)>

<!ATTLIST automaticExercise  type NMTOKEN  #FIXED 'AutomaticExercise' >
<!ELEMENT bermudaExercise (%FpML_BermudaExercise;)>

<!ATTLIST bermudaExercise  type NMTOKEN  #FIXED 'BermudaExercise'
                             id   ID       #IMPLIED >
<!ELEMENT bermudaExerciseDates (%FpML_AdjustableOrRelativeDates;)>

<!ATTLIST bermudaExerciseDates  type NMTOKEN  #FIXED 'AdjustableOrRelativeDates' >
<!ELEMENT businessCenter (#PCDATA)>

<!ATTLIST businessCenter  type                 NMTOKEN  #FIXED 'string'
                            id                   ID       #IMPLIED
                            businessCenterScheme CDATA    #IMPLIED >
<!ELEMENT businessCenters (%FpML_BusinessCenters;)>

<!ATTLIST businessCenters  type NMTOKEN  #FIXED 'BusinessCenters'
                             id   ID       #IMPLIED >
<!ELEMENT businessCentersReference EMPTY>

<!ATTLIST businessCentersReference  href IDREF  #REQUIRED >
<!ELEMENT businessDayConvention (#PCDATA)>

<!ATTLIST businessDayConvention  type                        NMTOKEN  #FIXED 'string'
                                   businessDayConventionScheme CDATA    #IMPLIED >
<!ELEMENT businessDateRange (%FpML_BusinessDateRange;)>

<!ATTLIST businessDateRange  type NMTOKEN  #FIXED 'BusinessDateRange'
                               base NMTOKEN  #FIXED 'DateRange' >
<!ELEMENT buyer (#PCDATA)>

<!ATTLIST buyer  type                NMTOKEN  #FIXED 'string'
                   id                  ID       #IMPLIED
                   payerReceiverScheme CDATA    #IMPLIED >
<!ELEMENT buyerPartyReference EMPTY>

<!ATTLIST buyerPartyReference  href IDREF  #REQUIRED >
<!ELEMENT calculationAgent (%FpML_CalculationAgent;)>

<!ATTLIST calculationAgent  type NMTOKEN  #FIXED 'CalculationAgent' >
<!ELEMENT calculationAgentParty (#PCDATA)>

<!ATTLIST calculationAgentParty  type                        NMTOKEN  #FIXED 'string'
                                   calculationAgentPartyScheme CDATA    #IMPLIED >
<!ELEMENT calculationAgentPartyReference EMPTY>

<!ATTLIST calculationAgentPartyReference  href IDREF  #REQUIRED >
<!ELEMENT calculationPeriodFrequency (%FpML_CalculationPeriodFrequency;)>

<!ATTLIST calculationPeriodFrequency  type NMTOKEN  #FIXED 'CalculationPeriodFrequency'
                                        base NMTOKEN  #FIXED 'Interval' >
<!ELEMENT contractualDefinitions (#PCDATA)>

<!ATTLIST contractualDefinitions  type                         NMTOKEN  #FIXED 'Definitions'
                                    contractualDefinitionsScheme CDATA    #IMPLIED >
<!ELEMENT commencementDate (%FpML_AdjustableOrRelativeDate;)>

<!ATTLIST commencementDate  type NMTOKEN  #FIXED 'AdjustableOrRelativeDate' >
<!ELEMENT creditSupportDocument (#PCDATA)>

<!ATTLIST creditSupportDocument  type NMTOKEN  #FIXED 'string' >
<!ELEMENT currency (#PCDATA)>

<!ATTLIST currency  type           NMTOKEN  #FIXED 'string'
                      currencyScheme CDATA    #IMPLIED >
<!ELEMENT dateAdjustments (%FpML_BusinessDayAdjustments;)>

<!ATTLIST dateAdjustments  type NMTOKEN  #FIXED 'BusinessDayAdjustments' >
<!ELEMENT dateRelativeTo (#PCDATA)>

<!ATTLIST dateRelativeTo  type                 NMTOKEN  #FIXED 'string'
                            href                 IDREF    #REQUIRED
                            dateRelativeToScheme CDATA    #IMPLIED >
<!ELEMENT dayType (#PCDATA)>

<!ATTLIST dayType  type          NMTOKEN  #FIXED 'string'
                     dayTypeScheme CDATA    #IMPLIED >
<!ELEMENT documentation (%FpML_Documentation;)>

<!ATTLIST documentation  type NMTOKEN  #FIXED 'Documentation' >
<!ELEMENT earliestExerciseTime (%FpML_BusinessCenterTime;)>

<!ATTLIST earliestExerciseTime  type NMTOKEN  #FIXED 'BusinessCenterTime' >
<!ELEMENT europeanExercise (%FpML_EuropeanExercise;)>

<!ATTLIST europeanExercise  type NMTOKEN  #FIXED 'EuropeanExercise'
                              id   ID       #IMPLIED >
<!ELEMENT exerciseFee (%FpML_ExerciseFee;)>

<!ATTLIST exerciseFee  type NMTOKEN  #FIXED 'ExerciseFee' >
<!ELEMENT exerciseFeeSchedule (%FpML_ExerciseFeeSchedule;)>

<!ATTLIST exerciseFeeSchedule  type NMTOKEN  #FIXED 'ExerciseFeeSchedule' >
<!ELEMENT exerciseNotice (%FpML_ExerciseNotice;)>

<!ATTLIST exerciseNotice  type NMTOKEN  #FIXED 'ExerciseNotice'
                            id   ID       #IMPLIED >
<!ELEMENT exerciseNoticePartyReference EMPTY>

<!ATTLIST exerciseNoticePartyReference  href IDREF  #REQUIRED >
<!ELEMENT exerciseProcedure (%FpML_ExerciseProcedure;)>

<!ATTLIST exerciseProcedure  type NMTOKEN  #FIXED 'ExerciseProcedure' >
<!ELEMENT expirationDate (%FpML_AdjustableOrRelativeDate;)>

<!ATTLIST expirationDate  type NMTOKEN  #FIXED 'AdjustableOrRelativeDate' >
<!ELEMENT expirationTime (%FpML_BusinessCenterTime;)>

<!ATTLIST expirationTime  type NMTOKEN  #FIXED 'BusinessCenterTime' >
<!ELEMENT fallbackExercise (#PCDATA)>

<!ATTLIST fallbackExercise  type NMTOKEN  #FIXED 'boolean' >
<!ELEMENT feeAmount (#PCDATA)>

<!ATTLIST feeAmount  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT feeAmountSchedule (%FpML_Schedule;)>

<!ATTLIST feeAmountSchedule  type NMTOKEN  #FIXED 'Schedule' >
<!ELEMENT feePaymentDate (%FpML_RelativeDateOffset;)>

<!ATTLIST feePaymentDate  type NMTOKEN  #FIXED 'RelativeDateOffset'
                            base NMTOKEN  #FIXED 'Offset' >
<!ELEMENT feeRate (#PCDATA)>

<!ATTLIST feeRate  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT feeRateSchedule (%FpML_Schedule;)>

<!ATTLIST feeRateSchedule  type NMTOKEN  #FIXED 'Schedule' >
<!ELEMENT fixingTime (%FpML_BusinessCenterTime;)>

<!ATTLIST fixingTime  type NMTOKEN  #FIXED 'BusinessCenterTime' >
<!ELEMENT followUpConfirmation (#PCDATA)>

<!ATTLIST followUpConfirmation  type NMTOKEN  #FIXED 'boolean' >
<!ELEMENT governingLaw (#PCDATA)>

<!ATTLIST governingLaw  type               NMTOKEN  #FIXED 'string'
                          governingLawScheme CDATA    #IMPLIED >
<!ELEMENT hourMinuteTime (#PCDATA)>

<!ATTLIST hourMinuteTime  type NMTOKEN  #FIXED 'time' >
<!ELEMENT informationSource (%FpML_InformationSource;)>

<!ATTLIST informationSource  type NMTOKEN  #FIXED 'InformationSource' >
<!ELEMENT initialValue (#PCDATA)>

<!ATTLIST initialValue  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT integralMultipleAmount (#PCDATA)>

<!ATTLIST integralMultipleAmount  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT latestExerciseTime (%FpML_BusinessCenterTime;)>

<!ATTLIST latestExerciseTime  type NMTOKEN  #FIXED 'BusinessCenterTime' >
<!ELEMENT manualExercise (%FpML_ManualExercise;)>

<!ATTLIST manualExercise  type NMTOKEN  #FIXED 'ManualExercise' >
<!ELEMENT masterAgreement (%FpML_MasterAgreement;)>

<!ATTLIST masterAgreement  type NMTOKEN  #FIXED 'MasterAgreement' >
<!ELEMENT masterAgreementDate (#PCDATA)>

<!ATTLIST masterAgreementDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT masterAgreementType (#PCDATA)>

<!ATTLIST masterAgreementType  type                      NMTOKEN  #FIXED 'string'
                                 masterAgreementTypeScheme CDATA    #IMPLIED >
<!ELEMENT masterConfirmation (#PCDATA)>

<!ATTLIST masterConfirmation  type NMTOKEN  #FIXED 'date' >
<!ELEMENT maximumNotionalAmount (#PCDATA)>

<!ATTLIST maximumNotionalAmount  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT minimumNotionalAmount (#PCDATA)>

<!ATTLIST minimumNotionalAmount  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT multipleExercise (%FpML_MultipleExercise;)>

<!ATTLIST multipleExercise  type NMTOKEN  #FIXED 'MultipleExercise'
                              base NMTOKEN  #FIXED 'PartialExercise' >
<!ELEMENT notional (%FpML_Money;)>

<!ATTLIST notional  type NMTOKEN  #FIXED 'Money' >
<!ELEMENT notionalReference EMPTY>

<!ATTLIST notionalReference  href IDREF  #REQUIRED >
<!ELEMENT observedRate (#PCDATA)>

<!ATTLIST observedRate  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT observationWeight (#PCDATA)>

<!ATTLIST observationWeight  type NMTOKEN  #FIXED 'positiveInteger' >
<!ELEMENT partialExercise (%FpML_PartialExercise;)>

<!ATTLIST partialExercise  type NMTOKEN  #FIXED 'PartialExercise' >
<!ELEMENT partyReference EMPTY>

<!ATTLIST partyReference  href IDREF  #REQUIRED >
<!ELEMENT paymentAmount (%FpML_Money;)>

<!ATTLIST paymentAmount  type NMTOKEN  #FIXED 'Money' >
<!ELEMENT paymentDate (%FpML_AdjustableDate;)>

<!ATTLIST paymentDate  type NMTOKEN  #FIXED 'AdjustableDate'
                         id   ID       #IMPLIED >
<!ELEMENT paymentType (#PCDATA)>

<!ATTLIST paymentType  type              NMTOKEN  #FIXED 'string'
                         paymentTypeScheme CDATA    #IMPLIED >
<!ELEMENT payerPartyReference EMPTY>

<!ATTLIST payerPartyReference  href IDREF  #REQUIRED >
<!ELEMENT period (#PCDATA)>

<!ATTLIST period  type         NMTOKEN  #FIXED 'string'
                    periodScheme CDATA    #IMPLIED >
<!ELEMENT periodMultiplier (#PCDATA)>

<!ATTLIST periodMultiplier  type NMTOKEN  #FIXED 'integer' >
<!ELEMENT periodSkip (#PCDATA)>

<!ATTLIST periodSkip  type NMTOKEN  #FIXED 'positiveInteger' >
<!ELEMENT precision (#PCDATA)>

<!ATTLIST precision  type NMTOKEN  #FIXED 'nonNegativeInteger' >
<!ELEMENT productId (#PCDATA)>

<!ATTLIST productId  type            NMTOKEN  #FIXED 'string'
                       id              ID       #IMPLIED
                       productIdScheme CDATA    #IMPLIED >
<!ELEMENT productType (#PCDATA)>

<!ATTLIST productType  type              NMTOKEN  #FIXED 'string'
                         productTypeScheme CDATA    #IMPLIED >
<!ELEMENT rate (#PCDATA)>

<!ATTLIST rate  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT rateReference EMPTY>

<!ATTLIST rateReference  href IDREF  #REQUIRED >
<!ELEMENT rateSource (#PCDATA)>

<!ATTLIST rateSource  type                      NMTOKEN  #FIXED 'string'
                        informationProviderScheme CDATA    #IMPLIED >
<!ELEMENT rateSourcePage (#PCDATA)>

<!ATTLIST rateSourcePage  type                 NMTOKEN  #FIXED 'string'
                            rateSourcePageScheme CDATA    #IMPLIED >
<!ELEMENT rateSourcePageHeading (#PCDATA)>

<!ATTLIST rateSourcePageHeading  type NMTOKEN  #FIXED 'string' >
<!ELEMENT receiverPartyReference EMPTY>

<!ATTLIST receiverPartyReference  href IDREF  #REQUIRED >
<!ELEMENT referenceBank (%FpML_ReferenceBank;)>

<!ATTLIST referenceBank  type NMTOKEN  #FIXED 'ReferenceBank'
                           id   ID       #IMPLIED >
<!ELEMENT referenceBankId (#PCDATA)>

<!ATTLIST referenceBankId  type                  NMTOKEN  #FIXED 'string'
                             referenceBankIdScheme CDATA    #IMPLIED >
<!ELEMENT referenceBankName (#PCDATA)>

<!ATTLIST referenceBankName  type NMTOKEN  #FIXED 'string' >
<!ELEMENT relativeDate (%FpML_RelativeDateOffset;)>

<!ATTLIST relativeDate  type NMTOKEN  #FIXED 'RelativeDateOffset'
                          base NMTOKEN  #FIXED 'Offset' >
<!ELEMENT relativeDates (%FpML_RelativeDates;)>

<!ATTLIST relativeDates  type NMTOKEN  #FIXED 'RelativeDates'
                           base NMTOKEN  #FIXED 'RelativeDateOffset' >
<!ELEMENT relevantUnderlyingDate (%FpML_AdjustableOrRelativeDates;)>

<!ATTLIST relevantUnderlyingDate  type NMTOKEN  #FIXED 'AdjustableOrRelativeDates' >
<!ELEMENT rollConvention (#PCDATA)>

<!ATTLIST rollConvention  type                 NMTOKEN  #FIXED 'string'
                            rollConventionScheme CDATA    #IMPLIED >
<!ELEMENT roundingDirection (#PCDATA)>

<!ATTLIST roundingDirection  type                    NMTOKEN  #FIXED 'string'
                               roundingDirectionScheme CDATA    #IMPLIED >
<!ELEMENT scheduleBounds (%FpML_DateRange;)>

<!ATTLIST scheduleBounds  type NMTOKEN  #FIXED 'DateRange' >
<!ELEMENT seller (#PCDATA)>

<!ATTLIST seller  type                NMTOKEN  #FIXED 'string'
                    id                  ID       #IMPLIED
                    payerReceiverScheme CDATA    #IMPLIED >
<!ELEMENT sellerPartyReference EMPTY>

<!ATTLIST sellerPartyReference  href IDREF  #REQUIRED >
<!ELEMENT settlementCurrency (#PCDATA)>

<!ATTLIST settlementCurrency  type           NMTOKEN  #FIXED 'string'
                                currencyScheme CDATA    #IMPLIED >
<!ELEMENT step (%FpML_Step;)>

<!ATTLIST step  type NMTOKEN  #FIXED 'Step'
                  id   ID       #IMPLIED >
<!ELEMENT stepDate (#PCDATA)>

<!ATTLIST stepDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT stepValue (#PCDATA)>

<!ATTLIST stepValue  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT strikeRate (#PCDATA)>

<!ATTLIST strikeRate  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT treatedRate (#PCDATA)>

<!ATTLIST treatedRate  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT thresholdRate (#PCDATA)>

<!ATTLIST thresholdRate  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT unadjustedDate (#PCDATA)>

<!ATTLIST unadjustedDate  type NMTOKEN  #FIXED 'date'
                            id   ID       #IMPLIED >
<!ELEMENT unadjustedFirstDate (#PCDATA)>

<!ATTLIST unadjustedFirstDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT unadjustedLastDate (#PCDATA)>

<!ATTLIST unadjustedLastDate  type NMTOKEN  #FIXED 'date' >
