files-fpml/schemas/fpml3-0/fpml-dtd-eqd-3-0.dtd

<?xml version='1.0' encoding='UTF-8' ?>

<!--Generated by XML Authority-->

<!ENTITY % FpML_PartyContact "partyContactName , partyContactFunction , partyContactDetail+">

<!-- edited with XML Spy v3.5 NT (http://www.xmlspy.com) by Kirren Basavaraj (UBS Warburg) -->
<!ENTITY % FpML_EquityStrike "strikePrice , currency?">

<!ENTITY % FpML_EquityAmericanExercise "%FpML_SharedAmericanExercise; , latestExerciseTimeType , equityExpirationTimeType , equityExpirationTime? , equityMultipleExercise?">

<!ENTITY % FpML_EquityEuropeanExercise "expirationDate , equityExpirationTimeType , equityExpirationTime?">

<!ENTITY % FpML_EquityMultipleExercise "integralMultipleExercise? , minimumNumberOfOptions , maximumNumberOfOptions">

<!ENTITY % FpML_EquityOption "%FpML_Product; , buyerParty , sellerParty , optionType , underlying , strike , spotPrice? , notional? , numberOfOptions? , optionEntitlement , equityExercise , equityPremium , methodOfAdjustment? , extraordinaryEvents?">

<!ENTITY % FpML_Equity "description , instrumentId+ , currency? , exchangeId* , relatedExchangeId* , clearanceSystem?">

<!ENTITY % FpML_ExtraordinaryEvents "mergerEvents , nationalisationOrInsolvency , delisting?">

<!ENTITY % FpML_EquityValuation "valuationDate? , valuationTimeType , valuationTime?">

<!ENTITY % FpML_EquityExercise "(equityEuropeanExercise | equityAmericanExercise) , automaticExerciseApplicable , equityValuation , settlementDate? , settlementCurrency , settlementPriceSource , settlementType , failureToDeliverApplicable?">

<!ENTITY % FpML_MergerEvents "shareForShare , shareForOther , shareForCombined">

<!ENTITY % FpML_EquityPremium "payerPartyReference , receiverPartyReference , paymentAmount? , paymentDate? , swapPremium? , pricePerOption? , percentageOfNotional?">

<!ENTITY % FpML_PartyDetails "partyReference , partyContact*">

<!ELEMENT automaticExerciseApplicable (#PCDATA)>

<!ATTLIST automaticExerciseApplicable  type NMTOKEN  #FIXED 'boolean' >
<!ELEMENT buyerParty (%FpML_PartyDetails;)>

<!ATTLIST buyerParty  type NMTOKEN  #FIXED 'PartyDetails' >
<!ELEMENT optionType (#PCDATA)>

<!ATTLIST optionType  type             NMTOKEN  #FIXED 'string'
                        optionTypeScheme CDATA    #IMPLIED >
<!ELEMENT clearanceSystem (#PCDATA)>

<!ATTLIST clearanceSystem  type                  NMTOKEN  #FIXED 'string'
                             clearanceSystemScheme CDATA    #IMPLIED >
<!ELEMENT delisting (#PCDATA)>

<!ATTLIST delisting  type                                         NMTOKEN  #FIXED 'string'
                       nationalisationOrInsolvencyOrDelistingScheme CDATA    #IMPLIED >
<!ELEMENT equityAmericanExercise (%FpML_EquityAmericanExercise;)>

<!ATTLIST equityAmericanExercise  type NMTOKEN  #FIXED 'EquityAmericanExercise' >
<!ELEMENT equityEuropeanExercise (%FpML_EquityEuropeanExercise;)>

<!ATTLIST equityEuropeanExercise  type NMTOKEN  #FIXED 'EquityEuropeanExercise' >
<!ELEMENT equityExercise (%FpML_EquityExercise;)>

<!ATTLIST equityExercise  type NMTOKEN  #FIXED 'EquityExercise' >
<!ELEMENT equityExpirationTime (%FpML_BusinessCenterTime;)>

<!ATTLIST equityExpirationTime  type NMTOKEN  #FIXED 'BusinessCenterTime' >
<!ELEMENT equityExpirationTimeType (#PCDATA)>

<!ATTLIST equityExpirationTimeType  type           NMTOKEN  #FIXED 'string'
                                      timeTypeScheme CDATA    #IMPLIED >
<!ELEMENT equityMultipleExercise (%FpML_EquityMultipleExercise;)>

<!ATTLIST equityMultipleExercise  type NMTOKEN  #FIXED 'EquityMultipleExercise' >
<!ELEMENT equityOption (%FpML_EquityOption;)>

<!ATTLIST equityOption  type NMTOKEN  #FIXED 'EquityOption' 
			base NMTOKEN  #FIXED 'Product'
			id   ID       #IMPLIED >
<!ELEMENT equityPremium (%FpML_EquityPremium;)>

<!ATTLIST equityPremium  type NMTOKEN  #FIXED 'EquityPremium' >
<!ELEMENT equityValuation (%FpML_EquityValuation;)>

<!ATTLIST equityValuation  type NMTOKEN  #FIXED 'EquityValuation'
                             id   ID       #IMPLIED >
<!ELEMENT exchangeId (#PCDATA)>

<!ATTLIST exchangeId  type             NMTOKEN  #FIXED 'string'
                        exchangeIdScheme CDATA    #IMPLIED >
<!ELEMENT extraordinaryEvents (%FpML_ExtraordinaryEvents;)>

<!ATTLIST extraordinaryEvents  type NMTOKEN  #FIXED 'ExtraordinaryEvents' >
<!ELEMENT failureToDeliverApplicable (#PCDATA)>

<!ATTLIST failureToDeliverApplicable  type NMTOKEN  #FIXED 'boolean' >
<!ELEMENT integralMultipleExercise (#PCDATA)>

<!ATTLIST integralMultipleExercise  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT maximumNumberOfOptions (#PCDATA)>

<!ATTLIST maximumNumberOfOptions  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT mergerEvents (%FpML_MergerEvents;)>

<!ATTLIST mergerEvents  type NMTOKEN  #FIXED 'MergerEvents' >
<!ELEMENT methodOfAdjustment (#PCDATA)>

<!ATTLIST methodOfAdjustment  type                     NMTOKEN  #FIXED 'string'
                                methodOfAdjustmentScheme CDATA    #IMPLIED >
<!ELEMENT minimumNumberOfOptions (#PCDATA)>

<!ATTLIST minimumNumberOfOptions  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT nationalisationOrInsolvency (#PCDATA)>

<!ATTLIST nationalisationOrInsolvency  type                                         NMTOKEN  #FIXED 'string'
                                         nationalisationOrInsolvencyOrDelistingScheme CDATA    #IMPLIED >
<!ELEMENT numberOfOptions (#PCDATA)>

<!ATTLIST numberOfOptions  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT optionEntitlement (#PCDATA)>

<!ATTLIST optionEntitlement  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT partyContact (%FpML_PartyContact;)>

<!ATTLIST partyContact  type NMTOKEN  #FIXED 'PartyContact' >
<!ELEMENT partyContactDetail (#PCDATA)>

<!ATTLIST partyContactDetail  partyContactDetailScheme CDATA    #REQUIRED
                                type                     NMTOKEN  #FIXED 'string' >
<!ELEMENT partyContactFunction (#PCDATA)>

<!ATTLIST partyContactFunction  partyContactFunctionScheme CDATA    #REQUIRED
                                  type                       NMTOKEN  #FIXED 'string' >
<!ELEMENT partyContactName (#PCDATA)>

<!ATTLIST partyContactName  type NMTOKEN  #FIXED 'string' >
<!ELEMENT percentageOfNotional (#PCDATA)>

<!ATTLIST percentageOfNotional  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT pricePerOption (#PCDATA)>

<!ATTLIST pricePerOption  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT description (#PCDATA)>

<!ATTLIST description  type NMTOKEN  #FIXED 'string' >
<!ELEMENT instrumentId (#PCDATA)>

<!ATTLIST instrumentId  type               NMTOKEN  #FIXED 'string'
                          instrumentIdScheme CDATA    #IMPLIED >
<!ELEMENT sellerParty (%FpML_PartyDetails;)>

<!ATTLIST sellerParty  type NMTOKEN  #FIXED 'PartyDetails' >
<!ELEMENT settlementDate (%FpML_RelativeDateOffset;)>

<!ATTLIST settlementDate  type NMTOKEN  #FIXED 'RelativeDateOffset'
                            base NMTOKEN #FIXED 'Offset'>
<!ELEMENT settlementPriceSource (#PCDATA)>

<!ATTLIST settlementPriceSource  type                        NMTOKEN  #FIXED 'string'
                                   settlementPriceSourceScheme CDATA    #IMPLIED >
<!ELEMENT settlementType (#PCDATA)>

<!ATTLIST settlementType  type                 NMTOKEN  #FIXED 'string'
                            settlementTypeScheme CDATA    #IMPLIED >
<!ELEMENT shareForCombined (#PCDATA)>

<!ATTLIST shareForCombined  type                          NMTOKEN  #FIXED 'string'
                              shareExtraordinaryEventScheme CDATA    #IMPLIED >
<!ELEMENT shareForOther (#PCDATA)>

<!ATTLIST shareForOther  type                          NMTOKEN  #FIXED 'string'
                           shareExtraordinaryEventScheme CDATA    #IMPLIED >
<!ELEMENT shareForShare (#PCDATA)>

<!ATTLIST shareForShare  type                          NMTOKEN  #FIXED 'string'
                           shareExtraordinaryEventScheme CDATA    #IMPLIED >
<!ELEMENT spotPrice (#PCDATA)>

<!ATTLIST spotPrice  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT strike (%FpML_EquityStrike;)>

<!ATTLIST strike  type NMTOKEN  #FIXED 'EquityStrike' >
<!ELEMENT swapPremium (#PCDATA)>

<!ATTLIST swapPremium  type NMTOKEN  #FIXED 'boolean' >
<!ELEMENT underlying (%FpML_Equity;)>

<!ATTLIST underlying  type NMTOKEN  #FIXED 'Equity' >
<!ELEMENT valuationDate (#PCDATA)>

<!ATTLIST valuationDate  type NMTOKEN  #FIXED 'date'
                           id   ID       #IMPLIED >
<!ELEMENT valuationTime (%FpML_BusinessCenterTime;)>

<!ATTLIST valuationTime  type NMTOKEN  #FIXED 'BusinessCenterTime' >
<!ELEMENT valuationTimeType (#PCDATA)>

<!ATTLIST valuationTimeType  type           NMTOKEN  #FIXED 'string'
                               timeTypeScheme CDATA    #IMPLIED >
<!ELEMENT relatedExchangeId (#PCDATA)>

<!ATTLIST relatedExchangeId  type             NMTOKEN  #FIXED 'string'
                               exchangeIdScheme CDATA    #IMPLIED >
<!ELEMENT latestExerciseTimeType (#PCDATA)>

<!ATTLIST latestExerciseTimeType  type           NMTOKEN  #FIXED 'string'
                                    timeTypeScheme CDATA    #IMPLIED >
<!ELEMENT strikePrice (#PCDATA)>

<!ATTLIST strikePrice  type NMTOKEN  #FIXED 'decimal' >
