files-fpml/schemas/fpml3-0/fpml-dtd-main-3-0.dtd

<?xml version='1.0' encoding='UTF-8' ?>

<!--Generated by Turbo XML 2.3.1.100.-->

<!ENTITY % SharedComponents SYSTEM "fpml-dtd-shared-3-0.dtd">

%SharedComponents;

<!ENTITY % FXComponents SYSTEM "fpml-dtd-fx-3-0.dtd">

%FXComponents;

<!ENTITY % IRDComponents SYSTEM "fpml-dtd-ird-3-0.dtd">

%IRDComponents;

<!ENTITY % EQDComponents SYSTEM "fpml-dtd-eqd-3-0.dtd">

%EQDComponents;

<!ENTITY % FpML_Party "partyId , partyName?">

<!ENTITY % FpML_PartyTradeIdentifier "partyReference , tradeId+ , linkId*">

<!ENTITY % FpML_ProductSelection "(bulletPayment | capFloor | fra | swap | swaption | fxSingleLeg | fxSwap | fxSimpleOption | fxBarrierOption | fxDigitalOption | fxAverageRateOption | equityOption | strategy)">

<!ENTITY % FpML_Strategy "%FpML_Product; , premiumProductReference? , (%FpML_ProductSelection;)+">

<!ENTITY % FpML_Trade "tradeHeader , %FpML_ProductSelection; , otherPartyPayment* , calculationAgent? , documentation? , governingLaw?">

<!ENTITY % FpML_TradeHeader "partyTradeIdentifier+ , tradeDate , calculationAgentPartyReference*">

<!ENTITY % FpML_Portfolio "partyPortfolioName? , tradeId* , portfolio*">

<!ENTITY % FpML_PartyPortfolioName "partyReference , portfolioName+">

<!ENTITY % FpML_Root "trade* , portfolio* , party*">

<!ELEMENT FpML (%FpML_Root;)>

<!ATTLIST FpML  type                                       NMTOKEN  #FIXED 'Root'
                  version                                     (3-0 )  #REQUIRED
                  callPutSchemeDefault                       CDATA    #IMPLIED
                  clearanceSystemSchemeDefault               CDATA    #IMPLIED
                  definitionsSchemeDefault                   CDATA    #IMPLIED
                  exchangeIdTypeSchemeDefault                CDATA    #IMPLIED
                  governingLawSchemeDefault                  CDATA    #IMPLIED
                  masterAgreementSchemeDefault               CDATA    #IMPLIED
                  methodOfAdjustmentSchemeDefault            CDATA    #IMPLIED
                  nationalisationOrInsolvencySchemeDefault   CDATA    #IMPLIED
                  potentialAdjustmentEventSchemeDefault      CDATA    #IMPLIED
                  securityIdSchemeDefault                    CDATA    #IMPLIED
                  settlementPriceSourceSchemeDefault         CDATA    #IMPLIED
                  settlementTypeSchemeDefault                CDATA    #IMPLIED
                  shareExtraordinaryEventSchemeDefault       CDATA    #IMPLIED
                  timeTypeSchemeDefault                      CDATA    #IMPLIED
                  averagingMethodSchemeDefault               CDATA    #IMPLIED
                  businessCenterSchemeDefault                CDATA    #IMPLIED
                  businessDayConventionSchemeDefault         CDATA    #IMPLIED
                  calculationAgentPartySchemeDefault         CDATA    #IMPLIED
                  compoundingMethodSchemeDefault             CDATA    #IMPLIED
                  countrySchemeDefault                       CDATA    #IMPLIED
                  currencySchemeDefault                      CDATA    #IMPLIED
                  cutNameSchemeDefault                       CDATA    #IMPLIED
                  dateRelativeToSchemeDefault                CDATA    #IMPLIED
                  dayCountFractionSchemeDefault              CDATA    #IMPLIED
                  dayTypeSchemeDefault                       CDATA    #IMPLIED
                  discountingTypeSchemeDefault               CDATA    #IMPLIED
                  exerciseStyleSchemeDefault                 CDATA    #IMPLIED
                  floatingRateIndexSchemeDefault             CDATA    #IMPLIED
                  fxBarrierTypeSchemeDefault                 CDATA    #IMPLIED
                  informationProviderSchemeDefault           CDATA    #IMPLIED
                  linkIdSchemeDefault                        CDATA    #IMPLIED
                  negativeInterestRateTreatmentSchemeDefault CDATA    #IMPLIED
                  partyIdSchemeDefault                       CDATA    #IMPLIED
                  payerReceiverSchemeDefault                 CDATA    #IMPLIED
                  paymentTypeSchemeDefault                   CDATA    #IMPLIED
                  payoutSchemeDefault                        CDATA    #IMPLIED
                  payRelativeToSchemeDefault                 CDATA    #IMPLIED
                  periodSchemeDefault                        CDATA    #IMPLIED
                  portfolioNameSchemeDefault                 CDATA    #IMPLIED
                  premiumQuoteBasisSchemeDefault             CDATA    #IMPLIED
                  productTypeSchemeDefault                   CDATA    #IMPLIED
                  quotationRateTypeSchemeDefault             CDATA    #IMPLIED
                  quoteBasisSchemeDefault                    CDATA    #IMPLIED
                  rateSourcePageSchemeDefault                CDATA    #IMPLIED
                  rateTreatmentSchemeDefault                 CDATA    #IMPLIED
                  referenceBankIdSchemeDefault               CDATA    #IMPLIED
                  resetRelativeToSchemeDefault               CDATA    #IMPLIED
                  rollConventionSchemeDefault                CDATA    #IMPLIED
                  roundingDirectionSchemeDefault             CDATA    #IMPLIED
                  routingIdTypeSchemeDefault                 CDATA    #IMPLIED
                  settlementMethodSchemeDefault              CDATA    #IMPLIED
                  sideRateBasisSchemeDefault                 CDATA    #IMPLIED
                  standardSettlementStyleSchemeDefault       CDATA    #IMPLIED
                  stepRelativeToSchemeDefault                CDATA    #IMPLIED
                  strikeQuoteBasisSchemeDefault              CDATA    #IMPLIED
                  touchConditionSchemeDefault                CDATA    #IMPLIED
                  tradeIdSchemeDefault                       CDATA    #IMPLIED
                  triggerConditionSchemeDefault              CDATA    #IMPLIED
                  weeklyRollConventionSchemeDefault          CDATA    #IMPLIED >
<!ELEMENT linkId (#PCDATA)>

<!ATTLIST linkId  type         NMTOKEN  #FIXED 'string'
                    id           ID       #IMPLIED
                    linkIdScheme CDATA    #IMPLIED >
<!ELEMENT otherPartyPayment (%FpML_Fee;)>

<!ATTLIST otherPartyPayment  type NMTOKEN  #FIXED 'Fee'
                               base NMTOKEN  #FIXED 'Payment'
                               id   ID       #IMPLIED >
<!ELEMENT party (%FpML_Party;)>

<!ATTLIST party  type NMTOKEN  #FIXED 'Party'
                   id   ID       #REQUIRED >
<!ELEMENT partyId (#PCDATA)>

<!ATTLIST partyId  type          NMTOKEN  #FIXED 'string'
                     partyIdScheme CDATA    #IMPLIED >
<!ELEMENT partyName (#PCDATA)>

<!ATTLIST partyName  type NMTOKEN  #FIXED 'string' >
<!ELEMENT partyPortfolioName (%FpML_PartyPortfolioName;)>

<!ATTLIST partyPortfolioName  type NMTOKEN  #FIXED 'PartyPortfolioName'
                                id   ID       #IMPLIED >
<!ELEMENT partyTradeIdentifier (%FpML_PartyTradeIdentifier;)>

<!ATTLIST partyTradeIdentifier  type NMTOKEN  #FIXED 'PartyTradeIdentifier'
                                  id   ID       #IMPLIED >
<!ELEMENT portfolio (%FpML_Portfolio;)>

<!ATTLIST portfolio  type NMTOKEN  #FIXED 'Portfolio'
                       id   ID       #IMPLIED >
<!ELEMENT portfolioName (#PCDATA)>

<!ATTLIST portfolioName  type                NMTOKEN  #FIXED 'String'
                           portfolioNameScheme CDATA    #IMPLIED
                           id                  ID       #IMPLIED >
<!ELEMENT premiumProductReference EMPTY>

<!ATTLIST premiumProductReference  idref IDREF  #REQUIRED >
<!ELEMENT strategy (%FpML_Strategy;)>

<!ATTLIST strategy  type NMTOKEN  #FIXED 'Strategy'
                      base NMTOKEN  #FIXED 'Product'
                      id   ID       #IMPLIED >
<!ELEMENT trade (%FpML_Trade;)>

<!ATTLIST trade  type NMTOKEN  #FIXED 'Trade'
                   id   ID       #IMPLIED >
<!ELEMENT tradeDate (#PCDATA)>

<!ATTLIST tradeDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT tradeHeader (%FpML_TradeHeader;)>

<!ATTLIST tradeHeader  type NMTOKEN  #FIXED 'TradeHeader' >
<!ELEMENT tradeId (#PCDATA)>

<!ATTLIST tradeId  type          NMTOKEN  #FIXED 'string'
                     id            ID       #IMPLIED
                     tradeIdScheme CDATA    #IMPLIED >
