files-fpml/schemas/fpml3-0/fpml-dtd-ird-3-0.dtd

<?xml version='1.0' encoding='UTF-8' ?>

<!--Generated by Turbo XML 2.3.1.100.-->

<!ENTITY % FpML_Calculation "((notionalSchedule | fxLinkedNotionalSchedule) , (fixedRateSchedule | floatingRateCalculation) , dayCountFraction , discounting? , compoundingMethod?)">

<!ENTITY % FpML_CalculationPeriod "unadjustedStartDate? , unadjustedEndDate? , adjustedStartDate? , adjustedEndDate? , calculationPeriodNumberOfDays? , (notionalAmount | fxLinkedNotionalAmount) , (floatingRateDefinition | fixedRate)">

<!ENTITY % FpML_CalculationPeriodAmount "calculation | knownAmountSchedule">

<!ENTITY % FpML_CalculationPeriodDates "effectiveDate , terminationDate , calculationPeriodDatesAdjustments , firstPeriodStartDate? , firstRegularPeriodStartDate? , lastRegularPeriodEndDate? , calculationPeriodFrequency">

<!ENTITY % FpML_Cashflows "cashflowsMatchParameters , principalExchange* , paymentCalculationPeriod*">

<!ENTITY % FpML_Discounting "discountingType , discountRate? , discountRateDayCountFraction?">

<!ENTITY % FpML_FloatingRate "floatingRateIndex , indexTenor? , floatingRateMultiplierSchedule? , spreadSchedule? , rateTreatment? , capRateSchedule* , floorRateSchedule*">

<!ENTITY % FpML_FloatingRateCalculation "(%FpML_FloatingRate; , initialRate? , finalRateRounding? , averagingMethod? , negativeInterestRateTreatment?)">

<!ENTITY % FpML_FloatingRateDefinition "calculatedRate? , rateObservation* , floatingRateMultiplier? , spread? , capRate* , floorRate*">

<!ENTITY % FpML_Fra "%FpML_Product; , buyerPartyReference , sellerPartyReference , adjustedEffectiveDate , adjustedTerminationDate , paymentDate , fixingDateOffset , dayCountFraction , calculationPeriodNumberOfDays , notional , fixedRate , floatingRateIndex , indexTenor+ , fraDiscounting">

<!ENTITY % FpML_InterestRateStream "payerPartyReference , receiverPartyReference , calculationPeriodDates , paymentDates , resetDates? , calculationPeriodAmount , stubCalculationPeriodAmount? , principalExchanges? , cashflows?">

<!ENTITY % FpML_Notional "notionalStepSchedule , notionalStepParameters?">

<!ENTITY % FpML_NotionalStepRule "calculationPeriodDatesReference , stepFrequency , firstNotionalStepDate , lastNotionalStepDate , (notionalStepAmount | (notionalStepRate , stepRelativeTo))">

<!ENTITY % FpML_PaymentCalculationPeriod "unadjustedPaymentDate? , adjustedPaymentDate? , (calculationPeriod+ | fixedPaymentAmount)">

<!ENTITY % FpML_PaymentDates "((calculationPeriodDatesReference | resetDatesReference) , paymentFrequency , firstPaymentDate? , lastRegularPaymentDate? , payRelativeTo , paymentDaysOffset? , paymentDatesAdjustments)">

<!ENTITY % FpML_PrincipalExchange "unadjustedPrincipalExchangeDate? , adjustedPrincipalExchangeDate? , principalExchangeAmount?">

<!ENTITY % FpML_PrincipalExchanges "initialExchange , finalExchange , intermediateExchange">

<!ENTITY % FpML_ResetDates "calculationPeriodDatesReference , resetRelativeTo? , initialFixingDate?, fixingDates , rateCutOffDaysOffset? , resetFrequency , resetDatesAdjustments">

<!ENTITY % FpML_ResetFrequency "(%FpML_Interval; , weeklyRollConvention?)">

<!ENTITY % FpML_Stub "(floatingRate+ | stubRate | stubAmount)">

<!ENTITY % FpML_StubCalculationPeriodAmount "calculationPeriodDatesReference , initialStub? , finalStub?">

<!ENTITY % FpML_Swap "%FpML_Product; , swapStream+ , earlyTerminationProvision? , cancelableProvision? , extendibleProvision? , additionalPayment*">

<!ENTITY % FpML_ExerciseSelection "europeanExercise | bermudaExercise | americanExercise">

<!ENTITY % FpML_CancelableProvision "buyerPartyReference , sellerPartyReference , (%FpML_ExerciseSelection;) , exerciseNotice? , followUpConfirmation , cancelableProvisionAdjustedDates?">

<!ENTITY % FpML_CancelableProvisionAdjustedDates "cancellationEvent+">

<!ENTITY % FpML_CancellationEvent "adjustedExerciseDate , adjustedEarlyTerminationDate">

<!ENTITY % FpML_BulletPayment "%FpML_Product;, payment">

<!ENTITY % FpML_CapFloor "%FpML_Product;, capFloorStream , additionalPayment*">

<!ENTITY % FpML_CashPriceMethod "cashSettlementReferenceBanks? , cashSettlementCurrency , quotationRateType">

<!ENTITY % FpML_CashSettlement "cashSettlementValuationTime , cashSettlementValuationDate , cashSettlementPaymentDate? , (cashPriceMethod | cashPriceAlternateMethod | parYieldCurveAdjustedMethod | zeroCouponYieldAdjustedMethod | parYieldCurveUnadjustedMethod)">

<!ENTITY % FpML_CashSettlementPaymentDate "adjustableDates | relativeDate | businessDateRange">

<!ENTITY % FpML_CashSettlementReferenceBanks "referenceBank+">

<!ENTITY % FpML_EarlyTerminationEvent "adjustedExerciseDate , adjustedEarlyTerminationDate , adjustedCashSettlementValuationDate , adjustedCashSettlementPaymentDate , adjustedExerciseFeePaymentDate?">

<!ENTITY % FpML_EarlyTerminationProvision "mandatoryEarlyTermination | optionalEarlyTermination">

<!ENTITY % FpML_ExerciseEvent "adjustedExerciseDate , adjustedRelevantSwapEffectiveDate , adjustedCashSettlementValuationDate? , adjustedCashSettlementPaymentDate? , adjustedExerciseFeePaymentDate?">

<!ENTITY % FpML_ExtendibleProvision "buyerPartyReference , sellerPartyReference , (%FpML_ExerciseSelection;) , exerciseNotice? , followUpConfirmation , extendibleProvisionAdjustedDates?">

<!ENTITY % FpML_ExtendibleProvisionAdjustedDates "extensionEvent+">

<!ENTITY % FpML_ExtensionEvent "adjustedExerciseDate , adjustedExtendedTerminationDate">

<!ENTITY % FpML_FxLinkedNotionalAmount "resetDate? , adjustedFxSpotFixingDate? , observedFxSpotRate? , notionalAmount?">

<!ENTITY % FpML_FxLinkedNotionalSchedule "constantNotionalScheduleReference , initialValue? , varyingNotionalCurrency , varyingNotionalFixingDates , fxSpotRateSource , varyingNotionalInterimExchangePaymentDates">

<!ENTITY % FpML_MandatoryEarlyTermination "mandatoryEarlyTerminationDate , calculationAgent , cashSettlement , mandatoryEarlyTerminationAdjustedDates?">

<!ENTITY % FpML_MandatoryEarlyTerminationAdjustedDates "adjustedEarlyTerminationDate , adjustedCashSettlementValuationDate , adjustedCashSettlementPaymentDate">

<!ENTITY % FpML_OptionalEarlyTermination "singlePartyOption? , (%FpML_ExerciseSelection;) , exerciseNotice* , followUpConfirmation? , calculationAgent , cashSettlement , optionalEarlyTerminationAdjustedDates?">

<!ENTITY % FpML_OptionalEarlyTerminationAdjustedDates "earlyTerminationEvent+">

<!ENTITY % FpML_SettlementRateSource "informationSource | cashSettlementReferenceBanks">

<!ENTITY % FpML_SinglePartyOption "buyerPartyReference , sellerPartyReference">

<!ENTITY % FpML_Swaption "%FpML_Product; , buyerPartyReference , sellerPartyReference , premium* , (%FpML_ExerciseSelection;) , exerciseProcedure , calculationAgentPartyReference+ , cashSettlement? , swaptionStraddle , swaptionAdjustedDates? , swap">

<!ENTITY % FpML_SwaptionAdjustedDates "exerciseEvent+">

<!ENTITY % FpML_YieldCurveMethod "settlementRateSource? , quotationRateType">

<!ELEMENT additionalPayment (%FpML_Fee;)>
<!ATTLIST additionalPayment  type NMTOKEN  #FIXED 'Fee'
                               base NMTOKEN  #FIXED 'Payment'
                               id   ID       #IMPLIED >
<!ELEMENT adjustedCashSettlementPaymentDate (#PCDATA)>

<!ATTLIST adjustedCashSettlementPaymentDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT adjustedCashSettlementValuationDate (#PCDATA)>

<!ATTLIST adjustedCashSettlementValuationDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT adjustedEarlyTerminationDate (#PCDATA)>

<!ATTLIST adjustedEarlyTerminationDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT adjustedEffectiveDate (#PCDATA)>

<!ATTLIST adjustedEffectiveDate  type NMTOKEN  #FIXED 'date'
                                   id   ID       #REQUIRED >
<!ELEMENT adjustedEndDate (#PCDATA)>

<!ATTLIST adjustedEndDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT adjustedExerciseDate (#PCDATA)>

<!ATTLIST adjustedExerciseDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT adjustedExerciseFeePaymentDate (#PCDATA)>

<!ATTLIST adjustedExerciseFeePaymentDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT adjustedExtendedTerminationDate (#PCDATA)>

<!ATTLIST adjustedExtendedTerminationDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT adjustedFxSpotFixingDate (#PCDATA)>

<!ATTLIST adjustedFxSpotFixingDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT adjustedPrincipalExchangeDate (#PCDATA)>

<!ATTLIST adjustedPrincipalExchangeDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT adjustedRelevantSwapEffectiveDate (#PCDATA)>

<!ATTLIST adjustedRelevantSwapEffectiveDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT adjustedStartDate (#PCDATA)>

<!ATTLIST adjustedStartDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT adjustedTerminationDate (#PCDATA)>

<!ATTLIST adjustedTerminationDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT averagingMethod (#PCDATA)>

<!ATTLIST averagingMethod  type                  NMTOKEN  #FIXED 'string'
                             averagingMethodScheme CDATA    #IMPLIED >
<!ELEMENT bulletPayment (%FpML_BulletPayment;)>

<!ATTLIST bulletPayment  type NMTOKEN  #FIXED 'BulletPayment'
                           base NMTOKEN  #FIXED 'Product'
                           id   ID       #IMPLIED >
<!ELEMENT calculatedRate (#PCDATA)>

<!ATTLIST calculatedRate  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT calculation (%FpML_Calculation;)>

<!ATTLIST calculation  type NMTOKEN  #FIXED 'Calculation' >
<!ELEMENT calculationPeriod (%FpML_CalculationPeriod;)>

<!ATTLIST calculationPeriod  type NMTOKEN  #FIXED 'CalculationPeriod'
                               id   ID       #IMPLIED >
<!ELEMENT calculationPeriodAmount (%FpML_CalculationPeriodAmount;)>

<!ATTLIST calculationPeriodAmount  type NMTOKEN  #FIXED 'CalculationPeriodAmount' >
<!ELEMENT calculationPeriodDates (%FpML_CalculationPeriodDates;)>

<!ATTLIST calculationPeriodDates  type NMTOKEN  #FIXED 'CalculationPeriodDates'
                                    id   ID       #REQUIRED >
<!ELEMENT calculationPeriodDatesAdjustments (%FpML_BusinessDayAdjustments;)>
<!ATTLIST calculationPeriodDatesAdjustments  type NMTOKEN  #FIXED 'BusinessDayAdjustments' >
<!ELEMENT calculationPeriodDatesReference EMPTY>

<!ATTLIST calculationPeriodDatesReference  href IDREF  #REQUIRED >
<!ELEMENT calculationPeriodNumberOfDays (#PCDATA)>

<!ATTLIST calculationPeriodNumberOfDays  type NMTOKEN  #FIXED 'positiveInteger' >
<!ELEMENT cancelableProvision (%FpML_CancelableProvision;)>

<!ATTLIST cancelableProvision  type NMTOKEN  #FIXED 'CancelableProvision' >
<!ELEMENT cancelableProvisionAdjustedDates (%FpML_CancelableProvisionAdjustedDates;)>

<!ATTLIST cancelableProvisionAdjustedDates  type NMTOKEN  #FIXED 'CancelableProvisionAdjustedDates' >
<!ELEMENT cancellationEvent (%FpML_CancellationEvent;)>

<!ATTLIST cancellationEvent  type NMTOKEN  #FIXED 'CancellationEvent'
                               id   ID       #IMPLIED >
<!ELEMENT capFloor (%FpML_CapFloor;)>

<!ATTLIST capFloor  type NMTOKEN  #FIXED 'CapFloor'
                      base NMTOKEN  #FIXED 'Product'
                      id   ID       #IMPLIED >
<!ELEMENT capFloorStream (%FpML_InterestRateStream;)>

<!ATTLIST capFloorStream  type NMTOKEN  #FIXED 'InterestRateStream'
                            id   ID       #IMPLIED >
<!ELEMENT capRate (%FpML_Strike;)>
<!ATTLIST capRate  type NMTOKEN  #FIXED 'Strike'
                     id   ID       #IMPLIED >
<!ELEMENT capRateSchedule (%FpML_StrikeSchedule;)>
<!ATTLIST capRateSchedule  type NMTOKEN  #FIXED 'StrikeSchedule'
                             base NMTOKEN  #FIXED 'Schedule'
                             id   ID       #IMPLIED >
<!ELEMENT cashflows (%FpML_Cashflows;)>

<!ATTLIST cashflows  type NMTOKEN  #FIXED 'Cashflows' >
<!ELEMENT cashflowsMatchParameters (#PCDATA)>

<!ATTLIST cashflowsMatchParameters  type NMTOKEN  #FIXED 'boolean' >
<!ELEMENT cashPriceAlternateMethod (%FpML_CashPriceMethod;)>

<!ATTLIST cashPriceAlternateMethod  type NMTOKEN  #FIXED 'CashPriceMethod' >
<!ELEMENT cashPriceMethod (%FpML_CashPriceMethod;)>

<!ATTLIST cashPriceMethod  type NMTOKEN  #FIXED 'CashPriceMethod' >
<!ELEMENT cashSettlement (%FpML_CashSettlement;)>

<!ATTLIST cashSettlement  type NMTOKEN  #FIXED 'CashSettlement'
                            id   ID       #IMPLIED >
<!ELEMENT cashSettlementCurrency (#PCDATA)>

<!ATTLIST cashSettlementCurrency  type           NMTOKEN  #FIXED 'string'
                                    currencyScheme CDATA    #IMPLIED >
<!ELEMENT cashSettlementPaymentDate (%FpML_CashSettlementPaymentDate;)>

<!ATTLIST cashSettlementPaymentDate  type NMTOKEN  #FIXED 'CashSettlementPaymentDate' >
<!ELEMENT cashSettlementReferenceBanks (%FpML_CashSettlementReferenceBanks;)>

<!ATTLIST cashSettlementReferenceBanks  type NMTOKEN  #FIXED 'CashSettlementReferenceBanks'
                                          id   ID       #IMPLIED >
<!ELEMENT cashSettlementValuationDate (%FpML_RelativeDateOffset;)>
<!ATTLIST cashSettlementValuationDate  type NMTOKEN  #FIXED 'RelativeDateOffset'
                                         base NMTOKEN  #FIXED 'Offset' >
<!ELEMENT cashSettlementValuationTime (%FpML_BusinessCenterTime;)>
<!ATTLIST cashSettlementValuationTime  type NMTOKEN  #FIXED 'BusinessCenterTime' >
<!ELEMENT compoundingMethod (#PCDATA)>

<!ATTLIST compoundingMethod  type                    NMTOKEN  #FIXED 'string'
                               compoundingMethodScheme CDATA    #IMPLIED >
<!ELEMENT constantNotionalScheduleReference EMPTY>

<!ATTLIST constantNotionalScheduleReference  href IDREF  #REQUIRED >
<!ELEMENT dayCountFraction (#PCDATA)>

<!ATTLIST dayCountFraction  type                   NMTOKEN  #FIXED 'string'
                              dayCountFractionScheme CDATA    #IMPLIED >
<!ELEMENT discounting (%FpML_Discounting;)>

<!ATTLIST discounting  type NMTOKEN  #FIXED 'Discounting' >
<!ELEMENT discountingType (#PCDATA)>

<!ATTLIST discountingType  type                  NMTOKEN  #FIXED 'string'
                             discountingTypeScheme CDATA    #IMPLIED >
<!ELEMENT discountRate (#PCDATA)>

<!ATTLIST discountRate  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT discountRateDayCountFraction (#PCDATA)>

<!ATTLIST discountRateDayCountFraction  type                   NMTOKEN  #FIXED 'string'
                                          dayCountFractionScheme CDATA    #IMPLIED >
<!ELEMENT earlyTerminationEvent (%FpML_EarlyTerminationEvent;)>

<!ATTLIST earlyTerminationEvent  type NMTOKEN  #FIXED 'EarlyTerminationEvent'
                                   id   ID       #IMPLIED >
<!ELEMENT earlyTerminationProvision (%FpML_EarlyTerminationProvision;)>

<!ATTLIST earlyTerminationProvision  type NMTOKEN  #FIXED 'EarlyTerminationProvision'
                                       id   ID       #IMPLIED >
<!ELEMENT effectiveDate (%FpML_AdjustableDate;)>
<!ATTLIST effectiveDate  type NMTOKEN  #FIXED 'AdjustableDate' >
<!ELEMENT exerciseEvent (%FpML_ExerciseEvent;)>

<!ATTLIST exerciseEvent  type NMTOKEN  #FIXED 'ExerciseEvent'
                           id   ID       #IMPLIED >
<!ELEMENT extendibleProvision (%FpML_ExtendibleProvision;)>

<!ATTLIST extendibleProvision  type NMTOKEN  #FIXED 'ExtendibleProvision' >
<!ELEMENT extendibleProvisionAdjustedDates (%FpML_ExtendibleProvisionAdjustedDates;)>

<!ATTLIST extendibleProvisionAdjustedDates  type NMTOKEN  #FIXED 'ExtendibleProvisionAdjustedDates' >
<!ELEMENT extensionEvent (%FpML_ExtensionEvent;)>

<!ATTLIST extensionEvent  type NMTOKEN  #FIXED 'ExtensionEvent'
                            id   ID       #IMPLIED >
<!ELEMENT finalExchange (#PCDATA)>

<!ATTLIST finalExchange  type NMTOKEN  #FIXED 'boolean' >
<!ELEMENT finalRateRounding (%FpML_Rounding;)>
<!ATTLIST finalRateRounding  type NMTOKEN  #FIXED 'Rounding' >
<!ELEMENT finalStub (%FpML_Stub;)>

<!ATTLIST finalStub  type NMTOKEN  #FIXED 'Stub' >
<!ELEMENT firstNotionalStepDate (#PCDATA)>

<!ATTLIST firstNotionalStepDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT firstPaymentDate (#PCDATA)>

<!ATTLIST firstPaymentDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT firstPeriodStartDate (%FpML_AdjustableDate;)>
<!ATTLIST firstPeriodStartDate  type NMTOKEN  #FIXED 'AdjustableDate' >
<!ELEMENT firstRegularPeriodStartDate (#PCDATA)>

<!ATTLIST firstRegularPeriodStartDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT fixedPaymentAmount (#PCDATA)>

<!ATTLIST fixedPaymentAmount  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT fixedRate (#PCDATA)>

<!ATTLIST fixedRate  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT fixedRateSchedule (%FpML_Schedule;)>
<!ATTLIST fixedRateSchedule  type NMTOKEN  #FIXED 'Schedule' >
<!ELEMENT fixingDateOffset (%FpML_RelativeDateOffset;)>
<!ATTLIST fixingDateOffset  type NMTOKEN  #FIXED 'RelativeDateOffset'
                              base NMTOKEN  #FIXED 'Offset' >
<!ELEMENT fixingDates (%FpML_RelativeDateOffset;)>
<!ATTLIST fixingDates  type NMTOKEN  #FIXED 'RelativeDateOffset'
                         base NMTOKEN  #FIXED 'Offset' >
<!ELEMENT floatingRate (%FpML_FloatingRate;)>

<!ATTLIST floatingRate  type NMTOKEN  #FIXED 'FloatingRate'
                          id   ID       #IMPLIED >
<!ELEMENT floatingRateCalculation (%FpML_FloatingRateCalculation;)>

<!ATTLIST floatingRateCalculation  type NMTOKEN  #FIXED 'FloatingRateCalculation'
                                     base NMTOKEN  #FIXED 'FloatingRate' >
<!ELEMENT floatingRateDefinition (%FpML_FloatingRateDefinition;)>

<!ATTLIST floatingRateDefinition  type NMTOKEN  #FIXED 'FloatingRateDefinition' >
<!ELEMENT floatingRateIndex (#PCDATA)>

<!ATTLIST floatingRateIndex  type                    NMTOKEN  #FIXED 'string'
                               floatingRateIndexScheme CDATA    #IMPLIED >
<!ELEMENT floatingRateMultiplier (#PCDATA)>

<!ATTLIST floatingRateMultiplier  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT floatingRateMultiplierSchedule (%FpML_Schedule;)>
<!ATTLIST floatingRateMultiplierSchedule  type NMTOKEN  #FIXED 'Schedule' >
<!ELEMENT floorRate (%FpML_Strike;)>
<!ATTLIST floorRate  type NMTOKEN  #FIXED 'Strike'
                       id   ID       #IMPLIED >
<!ELEMENT floorRateSchedule (%FpML_StrikeSchedule;)>
<!ATTLIST floorRateSchedule  type NMTOKEN  #FIXED 'StrikeSchedule'
                               base NMTOKEN  #FIXED 'Schedule'
                               id   ID       #IMPLIED >
<!ELEMENT fra (%FpML_Fra;)>

<!ATTLIST fra  type NMTOKEN  #FIXED 'Fra'
                 base NMTOKEN  #FIXED 'Product'
                 id   ID       #IMPLIED >
<!ELEMENT fraDiscounting (#PCDATA)>

<!ATTLIST fraDiscounting  type NMTOKEN  #FIXED 'boolean' >
<!ELEMENT fxLinkedNotionalAmount (%FpML_FxLinkedNotionalAmount;)>

<!ATTLIST fxLinkedNotionalAmount  type NMTOKEN  #FIXED 'FxLinkedNotionalAmount' >
<!ELEMENT fxLinkedNotionalSchedule (%FpML_FxLinkedNotionalSchedule;)>

<!ATTLIST fxLinkedNotionalSchedule  type NMTOKEN  #FIXED 'FxLinkedNotionalSchedule' >
<!ELEMENT fxSpotRateSource (%FpML_FxSpotRateSource;)>
<!ATTLIST fxSpotRateSource  type NMTOKEN  #FIXED 'FxSpotRateSource' >
<!ELEMENT indexTenor (%FpML_Interval;)>
<!ATTLIST indexTenor  type NMTOKEN  #FIXED 'Interval'
                        id   ID       #IMPLIED >
<!ELEMENT initialExchange (#PCDATA)>

<!ATTLIST initialExchange  type NMTOKEN  #FIXED 'boolean' >

<!ELEMENT initialFixingDate (%FpML_RelativeDateOffset;)>
<!ATTLIST initialFixingDate  type NMTOKEN  #FIXED 'RelativeDateOffset'
				base NMTOKEN #FIXED 'Offset'>

<!ELEMENT initialRate (#PCDATA)>

<!ATTLIST initialRate  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT initialStub (%FpML_Stub;)>

<!ATTLIST initialStub  type NMTOKEN  #FIXED 'Stub' >
<!ELEMENT intermediateExchange (#PCDATA)>

<!ATTLIST intermediateExchange  type NMTOKEN  #FIXED 'boolean' >
<!ELEMENT knownAmountSchedule (%FpML_AmountSchedule;)>
<!ATTLIST knownAmountSchedule  type NMTOKEN  #FIXED 'AmountSchedule'
                                 base NMTOKEN  #FIXED 'Schedule' >
<!ELEMENT lastNotionalStepDate (#PCDATA)>

<!ATTLIST lastNotionalStepDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT lastRegularPaymentDate (#PCDATA)>

<!ATTLIST lastRegularPaymentDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT lastRegularPeriodEndDate (#PCDATA)>

<!ATTLIST lastRegularPeriodEndDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT mandatoryEarlyTermination (%FpML_MandatoryEarlyTermination;)>

<!ATTLIST mandatoryEarlyTermination  type NMTOKEN  #FIXED 'MandatoryEarlyTermination'
                                       id   ID       #IMPLIED >
<!ELEMENT mandatoryEarlyTerminationAdjustedDates (%FpML_MandatoryEarlyTerminationAdjustedDates;)>

<!ATTLIST mandatoryEarlyTerminationAdjustedDates  type NMTOKEN  #FIXED 'MandatoryEarlyTerminationAdjustedDates' >
<!ELEMENT mandatoryEarlyTerminationDate (%FpML_AdjustableDate;)>
<!ATTLIST mandatoryEarlyTerminationDate  type NMTOKEN  #FIXED 'AdjustableDate' >
<!ELEMENT negativeInterestRateTreatment (#PCDATA)>

<!ATTLIST negativeInterestRateTreatment  type                                NMTOKEN  #FIXED 'string'
                                           negativeInterestRateTreatmentScheme CDATA    #IMPLIED >
<!ELEMENT notionalAmount (#PCDATA)>

<!ATTLIST notionalAmount  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT notionalSchedule (%FpML_Notional;)>

<!ATTLIST notionalSchedule  type NMTOKEN  #FIXED 'Notional'
                              id   ID       #IMPLIED >
<!ELEMENT notionalStepAmount (#PCDATA)>

<!ATTLIST notionalStepAmount  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT notionalStepParameters (%FpML_NotionalStepRule;)>

<!ATTLIST notionalStepParameters  type NMTOKEN  #FIXED 'NotionalStepRule' >
<!ELEMENT notionalStepRate (#PCDATA)>

<!ATTLIST notionalStepRate  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT notionalStepSchedule (%FpML_AmountSchedule;)>
<!ATTLIST notionalStepSchedule  type NMTOKEN  #FIXED 'AmountSchedule'
                                  base NMTOKEN  #FIXED 'Schedule' >
<!ELEMENT observedFxSpotRate (#PCDATA)>

<!ATTLIST observedFxSpotRate  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT optionalEarlyTermination (%FpML_OptionalEarlyTermination;)>

<!ATTLIST optionalEarlyTermination  type NMTOKEN  #FIXED 'OptionalEarlyTermination' >
<!ELEMENT optionalEarlyTerminationAdjustedDates (%FpML_OptionalEarlyTerminationAdjustedDates;)>

<!ATTLIST optionalEarlyTerminationAdjustedDates  type NMTOKEN  #FIXED 'OptionalEarlyTerminationAdjustedDates' >
<!ELEMENT parYieldCurveAdjustedMethod (%FpML_YieldCurveMethod;)>

<!ATTLIST parYieldCurveAdjustedMethod  type NMTOKEN  #FIXED 'YieldCurveMethod' >
<!ELEMENT parYieldCurveUnadjustedMethod (%FpML_YieldCurveMethod;)>

<!ATTLIST parYieldCurveUnadjustedMethod  type NMTOKEN  #FIXED 'YieldCurveMethod' >
<!ELEMENT payment (%FpML_Payment;)>
<!ATTLIST payment  type NMTOKEN  #FIXED 'Payment' >
<!ELEMENT paymentCalculationPeriod (%FpML_PaymentCalculationPeriod;)>

<!ATTLIST paymentCalculationPeriod  type NMTOKEN  #FIXED 'PaymentCalculationPeriod'
                                      id   ID       #IMPLIED >
<!ELEMENT paymentDates (%FpML_PaymentDates;)>

<!ATTLIST paymentDates  type NMTOKEN  #FIXED 'PaymentDates'
                          id   ID       #IMPLIED >
<!ELEMENT paymentDatesAdjustments (%FpML_BusinessDayAdjustments;)>
<!ATTLIST paymentDatesAdjustments  type NMTOKEN  #FIXED 'BusinessDayAdjustments' >
<!ELEMENT paymentDaysOffset (%FpML_Offset;)>
<!ATTLIST paymentDaysOffset  type NMTOKEN  #FIXED 'Offset'
                               base NMTOKEN  #FIXED 'Interval' >
<!ELEMENT paymentFrequency (%FpML_Interval;)>
<!ATTLIST paymentFrequency  type NMTOKEN  #FIXED 'Interval' >
<!ELEMENT payRelativeTo (#PCDATA)>

<!ATTLIST payRelativeTo  type                NMTOKEN  #FIXED 'string'
                           payRelativeToScheme CDATA    #IMPLIED >
<!ELEMENT premium (%FpML_Payment;)>
<!ATTLIST premium  type NMTOKEN  #FIXED 'Payment'
                     id   ID       #IMPLIED >
<!ELEMENT principalExchange (%FpML_PrincipalExchange;)>

<!ATTLIST principalExchange  type NMTOKEN  #FIXED 'PrincipalExchange'
                               id   ID       #IMPLIED >
<!ELEMENT principalExchangeAmount (#PCDATA)>

<!ATTLIST principalExchangeAmount  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT principalExchanges (%FpML_PrincipalExchanges;)>

<!ATTLIST principalExchanges  type NMTOKEN  #FIXED 'PrincipalExchanges' >
<!ELEMENT quotationRateType (#PCDATA)>

<!ATTLIST quotationRateType  type                    NMTOKEN  #FIXED 'string'
                               quotationRateTypeScheme CDATA    #IMPLIED >
<!ELEMENT rateCutOffDaysOffset (%FpML_Offset;)>
<!ATTLIST rateCutOffDaysOffset  type NMTOKEN  #FIXED 'Offset'
                                  base NMTOKEN  #FIXED 'Interval' >
<!ELEMENT rateObservation (%FpML_RateObservation;)>
<!ATTLIST rateObservation  type NMTOKEN  #FIXED 'RateObservation'
                             id   ID       #IMPLIED >
<!ELEMENT rateTreatment (#PCDATA)>

<!ATTLIST rateTreatment  type                NMTOKEN  #FIXED 'string'
                           rateTreatmentScheme CDATA    #IMPLIED >
<!ELEMENT resetDate (#PCDATA)>

<!ATTLIST resetDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT resetDates (%FpML_ResetDates;)>

<!ATTLIST resetDates  type NMTOKEN  #FIXED 'ResetDates'
                        id   ID       #REQUIRED >
<!ELEMENT resetDatesAdjustments (%FpML_BusinessDayAdjustments;)>
<!ATTLIST resetDatesAdjustments  type NMTOKEN  #FIXED 'BusinessDayAdjustments' >
<!ELEMENT resetDatesReference EMPTY>

<!ATTLIST resetDatesReference  href IDREF  #REQUIRED >
<!ELEMENT resetFrequency (%FpML_ResetFrequency;)>

<!ATTLIST resetFrequency  type NMTOKEN  #FIXED 'ResetFrequency'
                            base NMTOKEN  #FIXED 'Interval' >
<!ELEMENT resetRelativeTo (#PCDATA)>

<!ATTLIST resetRelativeTo  type                  NMTOKEN  #FIXED 'string'
                             resetRelativeToScheme CDATA    #IMPLIED >
<!ELEMENT settlementRateSource (%FpML_SettlementRateSource;)>

<!ATTLIST settlementRateSource  type NMTOKEN  #FIXED 'SettlementRateSource' >
<!ELEMENT singlePartyOption (%FpML_SinglePartyOption;)>

<!ATTLIST singlePartyOption  type NMTOKEN  #FIXED 'SinglePartyOption' >
<!ELEMENT spread (#PCDATA)>

<!ATTLIST spread  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT spreadSchedule (%FpML_Schedule;)>
<!ATTLIST spreadSchedule  type NMTOKEN  #FIXED 'Schedule' >
<!ELEMENT stepFrequency (%FpML_Interval;)>
<!ATTLIST stepFrequency  type NMTOKEN  #FIXED 'Interval' >
<!ELEMENT stepRelativeTo (#PCDATA)>

<!ATTLIST stepRelativeTo  type                 NMTOKEN  #FIXED 'string'
                            stepRelativeToScheme CDATA    #IMPLIED >
<!ELEMENT stubAmount (%FpML_Money;)>
<!ATTLIST stubAmount  type NMTOKEN  #FIXED 'Money' >
<!ELEMENT stubCalculationPeriodAmount (%FpML_StubCalculationPeriodAmount;)>

<!ATTLIST stubCalculationPeriodAmount  type NMTOKEN  #FIXED 'StubCalculationPeriodAmount' >
<!ELEMENT stubRate (#PCDATA)>

<!ATTLIST stubRate  type NMTOKEN  #FIXED 'decimal' >
<!ELEMENT swap (%FpML_Swap;)>

<!ATTLIST swap  type NMTOKEN  #FIXED 'Swap'
                  base NMTOKEN  #FIXED 'Product'
                  id   ID       #IMPLIED >
<!ELEMENT swapStream (%FpML_InterestRateStream;)>

<!ATTLIST swapStream  type NMTOKEN  #FIXED 'InterestRateStream'
                        id   ID       #IMPLIED >
<!ELEMENT swaption (%FpML_Swaption;)>

<!ATTLIST swaption  type NMTOKEN  #FIXED 'Swaption'
                      base NMTOKEN  #FIXED 'Product'
                      id   ID       #IMPLIED >
<!ELEMENT swaptionAdjustedDates (%FpML_SwaptionAdjustedDates;)>

<!ATTLIST swaptionAdjustedDates  type NMTOKEN  #FIXED 'SwaptionAdjustedDates' >
<!ELEMENT swaptionStraddle (#PCDATA)>

<!ATTLIST swaptionStraddle  type NMTOKEN  #FIXED 'boolean' >
<!ELEMENT terminationDate (%FpML_AdjustableDate;)>
<!ATTLIST terminationDate  type NMTOKEN  #FIXED 'AdjustableDate' >
<!ELEMENT unadjustedEndDate (#PCDATA)>

<!ATTLIST unadjustedEndDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT unadjustedStartDate (#PCDATA)>

<!ATTLIST unadjustedStartDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT unadjustedPaymentDate (#PCDATA)>

<!ATTLIST unadjustedPaymentDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT unadjustedPrincipalExchangeDate (#PCDATA)>

<!ATTLIST unadjustedPrincipalExchangeDate  type NMTOKEN  #FIXED 'date' >
<!ELEMENT varyingNotionalCurrency (#PCDATA)>

<!ATTLIST varyingNotionalCurrency  type           NMTOKEN  #FIXED 'string'
                                     currencyScheme CDATA    #IMPLIED >
<!ELEMENT varyingNotionalFixingDates (%FpML_RelativeDateOffset;)>

<!ATTLIST varyingNotionalFixingDates  type NMTOKEN  #FIXED 'RelativeDateOffset'
                                        base NMTOKEN  #FIXED 'Offset' >
<!ELEMENT varyingNotionalInterimExchangePaymentDates (%FpML_RelativeDateOffset;)>

<!ATTLIST varyingNotionalInterimExchangePaymentDates  type NMTOKEN  #FIXED 'RelativeDateOffset'
                                                        base NMTOKEN  #FIXED 'Offset' >
<!ELEMENT weeklyRollConvention (#PCDATA)>

<!ATTLIST weeklyRollConvention  type                       NMTOKEN  #FIXED 'string'
                                  weeklyRollConventionScheme CDATA    #IMPLIED >
<!ELEMENT zeroCouponYieldAdjustedMethod (%FpML_YieldCurveMethod;)>

<!ATTLIST zeroCouponYieldAdjustedMethod  type NMTOKEN  #FIXED 'YieldCurveMethod' >
