files-fpml/schemas/fpml4-2/fpml-tradeexec-4-2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 
== Copyright (c) 2002-2006. All rights reserved. 
== Financial Products Markup Language is subject to the FpML public license. 
== A copy of this license is available at http://www.fpml.org/documents/license.html
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" xmlns="http://www.fpml.org/2005/FpML-4-2" xmlns:fpml="http://www.fpml.org/2005/FpML-4-2" targetNamespace="http://www.fpml.org/2005/FpML-4-2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="$Revision: 1083 $">
	<xsd:include schemaLocation="fpml-msg-4-2.xsd"/>
	<xsd:complexType name="CancelTradeConfirmation">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining the content model for a message requesting that a previously requested TradeConfirmation process be cancelled.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="RequestMessage">
				<xsd:sequence>
					<xsd:element name="partyTradeIdentifier" type="PartyTradeIdentifier">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The trade reference identifier(s) allocated to the trade by the parties involved.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="party" type="Party">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">An entity having a role in a trade lifecycle. For example, the principal parties obligated to make payments from time to time during the term of the trade, but may include other parties involved in, or incidental to, the trade, such as parties acting in the role of novation transferor/transferee, broker, calculation agent, etc.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CancelTradeMatch">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining the content model for a message requesting that a previously requested TradeMatch process be cancelled.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="RequestMessage">
				<xsd:sequence>
					<xsd:element name="partyTradeIdentifier" type="PartyTradeIdentifier">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The trade reference identifier(s) allocated to the trade by the parties involved.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="party" type="Party">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The parties relating to the trade. These will include, at a minimum, the principal parties obligated to make payments from time to time during the term of the trade, but may include other parties involved in, or incidental to, the trade, such as parties acting in the role of novation transferor/transferee, broker, calculation agent, accountant, confirmation agent etc. In particular, parties paying or receiving fees, commissions etc. must be specified if referenced in otherPartyPayments. It may also service an account of a party that is party to the trade, but is not itself a party to the trade.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ConfirmationCancelled">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining the content model for the message generated in reponse to a CancelConfirmation request under normal circumstances.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ResponseMessage">
				<xsd:sequence>
					<xsd:element name="tradeIdentifier" type="TradeIdentifier">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">An instance of a unique trade identifier.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="party" type="Party">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The parties relating to the trade. These will include, at a minimum, the principal parties obligated to make payments from time to time during the term of the trade, but may include other parties involved in, or incidental to, the trade, such as parties acting in the role of novation transferor/transferee, broker, calculation agent, accountant, confirmation agent etc. In particular, parties paying or receiving fees, commissions etc. must be specified if referenced in otherPartyPayments. It may also service an account of a party that is party to the trade, but is not itself a party to the trade.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ConfirmTrade">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining the content model for a message that indicates acceptance of a previously matched trade.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="RequestMessage">
				<xsd:sequence>
					<xsd:element name="partyTradeIdentifier" type="PartyTradeIdentifier">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The trade reference identifier(s) allocated to the trade by the parties involved.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="party" type="Party">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The parties relating to the trade. These will include, at a minimum, the principal parties obligated to make payments from time to time during the term of the trade, but may include other parties involved in, or incidental to, the trade, such as parties acting in the role of novation transferor/transferee, broker, calculation agent, accountant, confirmation agent etc. In particular, parties paying or receiving fees, commissions etc. must be specified if referenced in otherPartyPayments. It may also service an account of a party that is party to the trade, but is not itself a party to the trade.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ModifyTradeConfirmation">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining the content model for a message requesting that the details of a trade previously sent for confirmation be changed.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="RequestMessage">
				<xsd:sequence>
					<xsd:element name="trade" type="Trade">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The root element in an FpML trade document.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="party" type="Party" minOccurs="2" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The parties relating to the trade. These will include, at a minimum, the principal parties obligated to make payments from time to time during the term of the trade, but may include other parties involved in, or incidental to, the trade, such as parties acting in the role of novation transferor/transferee, broker, calculation agent, accountant, confirmation agent etc. In particular, parties paying or receiving fees, commissions etc. must be specified if referenced in otherPartyPayments. It may also service an account of a party that is party to the trade, but is not itself a party to the trade.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ModifyTradeMatch">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining the content of a message requesting that the details of a trade previously sent for matching be modified.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="RequestMessage">
				<xsd:sequence>
					<xsd:element name="trade" type="Trade">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The root element in an FpML trade document.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="party" type="Party" minOccurs="2" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The parties relating to the trade. These will include, at a minimum, the principal parties obligated to make payments from time to time during the term of the trade, but may include other parties involved in, or incidental to, the trade, such as parties acting in the role of novation transferor/transferee, broker, calculation agent, accountant, confirmation agent etc. In particular, parties paying or receiving fees, commissions etc. must be specified if referenced in otherPartyPayments. It may also service an account of a party that is party to the trade, but is not itself a party to the trade.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RequestTradeConfirmation">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining the content model for a message requesting that the contained trade be put forward for matching and confirmation.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="RequestMessage">
				<xsd:sequence>
					<xsd:element name="trade" type="Trade">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The root element in an FpML trade document.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="party" type="Party" minOccurs="2" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The parties relating to the trade. These will include, at a minimum, the principal parties obligated to make payments from time to time during the term of the trade, but may include other parties involved in, or incidental to, the trade, such as parties acting in the role of novation transferor/transferee, broker, calculation agent, accountant, confirmation agent etc. In particular, parties paying or receiving fees, commissions etc. must be specified if referenced in otherPartyPayments. It may also service an account of a party that is party to the trade, but is not itself a party to the trade.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RequestTradeMatch">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining the content model for a message requesting that the contained trade be put forward for matching.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="RequestMessage">
				<xsd:sequence>
					<xsd:element name="trade" type="Trade">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The root element in an FpML trade document.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="party" type="Party" minOccurs="2" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The parties relating to the trade. These will include, at a minimum, the principal parties obligated to make payments from time to time during the term of the trade, but may include other parties involved in, or incidental to, the trade, such as parties acting in the role of novation transferor/transferee, broker, calculation agent, accountant, confirmation agent etc. In particular, parties paying or receiving fees, commissions etc. must be specified if referenced in otherPartyPayments. It may also service an account of a party that is party to the trade, but is not itself a party to the trade.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TradeAffirmation">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining the content model for a message that indicates that a trade is considered affirmed by the sender.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NotificationMessage">
				<xsd:sequence>
					<xsd:element name="trade" type="Trade">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The root element in an FpML trade document.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="party" type="Party" minOccurs="2" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The parties relating to the trade. These will include, at a minimum, the principal parties obligated to make payments from time to time during the term of the trade, but may include other parties involved in, or incidental to, the trade, such as parties acting in the role of novation transferor/transferee, broker, calculation agent, accountant, confirmation agent etc. In particular, parties paying or receiving fees, commissions etc. must be specified if referenced in otherPartyPayments. It may also service an account of a party that is party to the trade, but is not itself a party to the trade.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TradeAffirmed">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining the content model for a message generated when a party confirms that a trade is affirmed.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ResponseMessage">
				<xsd:sequence>
					<xsd:element name="tradeIdentifier" type="TradeIdentifier" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">An instance of a unique trade identifier.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="party" type="Party" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The parties relating to the trade. These will include, at a minimum, the principal parties obligated to make payments from time to time during the term of the trade, but may include other parties involved in, or incidental to, the trade, such as parties acting in the role of novation transferor/transferee, broker, calculation agent, accountant, confirmation agent etc. In particular, parties paying or receiving fees, commissions etc. must be specified if referenced in otherPartyPayments. It may also service an account of a party that is party to the trade, but is not itself a party to the trade.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TradeAlleged">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining the content model for a message sent by a confirmation provider when it believes that one party has been tardy in providing its side of a transaction.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NotificationMessage">
				<xsd:sequence>
					<xsd:element name="tradeIdentifier" type="TradeIdentifier">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">An instance of a unique trade identifier.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="bestFitTradeId" type="TradeIdentifier" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">A trade identifier for a transaction that closely resembles the characteristics of the trade under consideration.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="party" type="Party" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The parties relating to the trade. These will include, at a minimum, the principal parties obligated to make payments from time to time during the term of the trade, but may include other parties involved in, or incidental to, the trade, such as parties acting in the role of novation transferor/transferee, broker, calculation agent, accountant, confirmation agent etc. In particular, parties paying or receiving fees, commissions etc. must be specified if referenced in otherPartyPayments. It may also service an account of a party that is party to the trade, but is not itself a party to the trade.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TradeAlreadyAffirmed">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">An error response message indicating that a trade has already been affirmed.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TradeErrorResponse"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TradeAlreadyCancelled">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">An error response message indicating that a trade has already been cancelled.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TradeErrorResponse"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TradeAlreadyConfirmed">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">An error response message indicating that a trade has already been confirmed.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TradeErrorResponse"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TradeAlreadyMatched">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining the content model for a message sent by a confirmation provider when it believes that one party has repeated a request to confirm a trade.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ResponseMessage">
				<xsd:sequence>
					<xsd:element name="tradeIdentifier" type="TradeIdentifier">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">An instance of a unique trade identifier.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="party" type="Party">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The parties relating to the trade. These will include, at a minimum, the principal parties obligated to make payments from time to time during the term of the trade, but may include other parties involved in, or incidental to, the trade, such as parties acting in the role of novation transferor/transferee, broker, calculation agent, accountant, confirmation agent etc. In particular, parties paying or receiving fees, commissions etc. must be specified if referenced in otherPartyPayments. It may also service an account of a party that is party to the trade, but is not itself a party to the trade.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TradeAlreadySubmitted">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining the content model for a message sent by a confirmation provider when it believes that one party has repeated a request to confirm a trade.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ResponseMessage">
				<xsd:sequence>
					<xsd:element name="tradeIdentifier" type="TradeIdentifier">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">An instance of a unique trade identifier.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="party" type="Party">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The parties relating to the trade. These will include, at a minimum, the principal parties obligated to make payments from time to time during the term of the trade, but may include other parties involved in, or incidental to, the trade, such as parties acting in the role of novation transferor/transferee, broker, calculation agent, accountant, confirmation agent etc. In particular, parties paying or receiving fees, commissions etc. must be specified if referenced in otherPartyPayments. It may also service an account of a party that is party to the trade, but is not itself a party to the trade.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TradeAlreadyTerminated">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">An error response message indicating that a trade has already been terminated.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TradeErrorResponse"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TradeConfirmed">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining the content model of a message generated when a trade is determined to be confirmed.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NotificationMessage">
				<xsd:sequence>
					<xsd:element name="trade" type="Trade">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The root element in an FpML trade document.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="party" type="Party" minOccurs="2" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The parties relating to the trade. These will include, at a minimum, the principal parties obligated to make payments from time to time during the term of the trade, but may include other parties involved in, or incidental to, the trade, such as parties acting in the role of novation transferor/transferee, broker, calculation agent, accountant, confirmation agent etc. In particular, parties paying or receiving fees, commissions etc. must be specified if referenced in otherPartyPayments. It may also service an account of a party that is party to the trade, but is not itself a party to the trade.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TradeErrorResponse" abstract="true">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">An abstract trade error response message containing a singe trade or trade reference.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ResponseMessage">
				<xsd:sequence>
					<xsd:group ref="TradeOrTradeReference.model"/>
					<xsd:element name="party" type="Party" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The parties relating to the trade. These will include, at a minimum, the principal parties obligated to make payments from time to time during the term of the trade, but may include other parties involved in, or incidental to, the trade, such as parties acting in the role of novation transferor/transferee, broker, calculation agent, accountant, confirmation agent etc. In particular, parties paying or receiving fees, commissions etc. must be specified if referenced in otherPartyPayments. It may also service an account of a party that is party to the trade, but is not itself a party to the trade.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TradeMatched">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining the content model for a message indicating that a correlation has been made between two transactions.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NotificationMessage">
				<xsd:sequence>
					<xsd:element name="tradeIdentifier" type="TradeIdentifier" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">An instance of a unique trade identifier.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="differences" type="TradeDifference" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="party" type="Party" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The parties relating to the trade. These will include, at a minimum, the principal parties obligated to make payments from time to time during the term of the trade, but may include other parties involved in, or incidental to, the trade, such as parties acting in the role of novation transferor/transferee, broker, calculation agent, accountant, confirmation agent etc. In particular, parties paying or receiving fees, commissions etc. must be specified if referenced in otherPartyPayments. It may also service an account of a party that is party to the trade, but is not itself a party to the trade.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TradeMismatched">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining the content model of a message generated when a trade is determined to be mismatched.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NotificationMessage">
				<xsd:sequence>
					<xsd:element name="tradeIdentifier" type="TradeIdentifier">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">An instance of a unique trade identifier.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="bestFitTrade" type="BestFitTrade" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="party" type="Party" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The parties relating to the trade. These will include, at a minimum, the principal parties obligated to make payments from time to time during the term of the trade, but may include other parties involved in, or incidental to, the trade, such as parties acting in the role of novation transferor/transferee, broker, calculation agent, accountant, confirmation agent etc. In particular, parties paying or receiving fees, commissions etc. must be specified if referenced in otherPartyPayments. It may also service an account of a party that is party to the trade, but is not itself a party to the trade.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TradeUnmatched">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining the content model of a message generated when a trade is determined to be unmatched.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NotificationMessage">
				<xsd:sequence>
					<xsd:element name="tradeIdentifier" type="TradeIdentifier">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">An instance of a unique trade identifier.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="bestFitTradeId" type="TradeIdentifier" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">A trade identifier for a transaction that closely resembles the characteristics of the trade under consideration.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="party" type="Party" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The parties relating to the trade. These will include, at a minimum, the principal parties obligated to make payments from time to time during the term of the trade, but may include other parties involved in, or incidental to, the trade, such as parties acting in the role of novation transferor/transferee, broker, calculation agent, accountant, confirmation agent etc. In particular, parties paying or receiving fees, commissions etc. must be specified if referenced in otherPartyPayments. It may also service an account of a party that is party to the trade, but is not itself a party to the trade.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
