files-fpml/schemas/fpml4-2/fpml-eq-shared-4-2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 
== Copyright (c) 2002-2006. All rights reserved. 
== Financial Products Markup Language is subject to the FpML public license. 
== A copy of this license is available at http://www.fpml.org/documents/license.html
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.fpml.org/2005/FpML-4-2" xmlns:fpml="http://www.fpml.org/2005/FpML-4-2" targetNamespace="http://www.fpml.org/2005/FpML-4-2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="$Revision: 1707 $">
	<xsd:include schemaLocation="fpml-asset-4-2.xsd"/>
	<xsd:complexType name="AdditionalDisruptionEvents">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type for defining ISDA 2002 Equity Derivative Additional Disruption Events"</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="changeInLaw" type="xsd:boolean"/>
			<xsd:element name="failureToDeliver" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Where the underlying is shares and the transaction is physically settled, then, if true, a failure to deliver the shares on the settlement date will not be an event of default for the purposes of the master agreement.</xsd:documentation>
					<xsd:documentation xml:lang="de">Ist der Basiswert eine Aktie und wird die Transaktion effektiv beliefert, stellt die Nichtlieferung von Aktien am Abrechnungstag keinen Kündigungsgrund im Sinne des Rahmenvertrags dar, wenn der Wert "wahr" lautet.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="insolvencyFiling" type="xsd:boolean"/>
			<xsd:element name="hedgingDisruption" type="xsd:boolean"/>
			<xsd:element name="lossOfStockBorrow" type="xsd:boolean"/>
			<xsd:element name="increasedCostOfStockBorrow" type="xsd:boolean"/>
			<xsd:element name="increasedCostOfHedging" type="xsd:boolean"/>
			<xsd:element name="determiningPartyReference" type="PartyReference">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A reference to a party element within this document.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AdditionalPaymentAmount">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Specifies the amount of the fee along with, when applicable, the formula that supports its determination.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="paymentAmount" type="Money" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The currency amount of the payment.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="formula" type="Formula" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Specifies a formula, with its description and components.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AdjustableDateOrRelativeDateSequence">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type describing a date defined as subject to adjustment or defined in reference to another date through one or several date offsets.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="adjustableDate" type="AdjustableDate">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A date that shall be subject to adjustment if it would otherwise fall on a day that is not a business day in the specified business centers, together with the convention for adjusting the date.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="relativeDateSequence" type="RelativeDateSequence">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A date specified in relation to some other date defined in the document (the anchor date), where there is the opportunity to specify a combination of offset rules. This component will typically be used for defining the valuation date in relation to the payment date, as both the currency and the exchange holiday calendars need to be considered.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
		<xsd:attribute name="id" type="xsd:ID"/>
	</xsd:complexType>
	<xsd:complexType name="Asian">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">As per ISDA 2002 Definitions</xsd:documentation>
			<xsd:documentation xml:lang="de">Im Sinne der ISDA-Definitionen von 2002.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="averagingInOut" type="AveragingInOutEnum"/>
			<xsd:element name="strikeFactor" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The factor of strike.</xsd:documentation>
					<xsd:documentation xml:lang="de">Strike-Faktor.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="averagingPeriodIn" type="AveragingPeriod" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The averaging in period.</xsd:documentation>
					<xsd:documentation xml:lang="de">Averaging-In-Zeitraum.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="averagingPeriodOut" type="AveragingPeriod" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The averaging out period.</xsd:documentation>
					<xsd:documentation xml:lang="de">Averaging-Out-Zeitraum.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AveragingPeriod">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Period over which an average value is taken</xsd:documentation>
			<xsd:documentation xml:lang="de">Typ zur Definition der Ausübungsprozesse bei einer amerikanischen Aktienoption. Diese Einheit leitet sich ab vom Typ "SharedAmericanExercise".</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="schedule" type="EquitySchedule" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A Equity Derivative schedule.</xsd:documentation>
					<xsd:documentation xml:lang="de">Zeitplan für Aktienderivate.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="averagingDateTimes" type="DateTimeList" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Averaging DateTimes</xsd:documentation>
					<xsd:documentation xml:lang="de">Für die Durchschnittsbildung herangezogene Daten und Zeiten.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="marketDisruption" type="MarketDisruption">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The market disruption event as defined by ISDA 2002 Definitions</xsd:documentation>
					<xsd:documentation xml:lang="de">Marktunterbrechung im Sinne der ISDA-Definitionen von 2002.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Barrier">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">As per ISDA 2002 Definitions.</xsd:documentation>
			<xsd:documentation xml:lang="de">Im Sinne der ISDA-Definitionen von 2002.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="barrierCap" type="TriggerEvent" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A trigger level approached from beneath.</xsd:documentation>
					<xsd:documentation xml:lang="de">Von unten ausgelöstes Trigger-Niveau.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="barrierFloor" type="TriggerEvent" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A trigger level approached from above.</xsd:documentation>
					<xsd:documentation xml:lang="de">Von oben ausgelöstes Trigger-Niveau.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Composite">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Specifies the conditions to be applied for converting into a reference currency when the actual currency rate is not determined upfront.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="determinationMethod" type="DeterminationMethod" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Specifies the method according to which an amount or a date is determined.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="relativeDate" type="RelativeDateOffset" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A date specified as some offset to another date (the anchor date).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fxSpotRateSource" type="FxSpotRateSource" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Specifies the methodology (reference source and, optionally, fixing time) to be used for determining a currency conversion rate.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Compounding">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Specifies the compounding method and the compounding rate.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="compoundingMethod" type="CompoundingMethodEnum">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">If more that one calculation period contributes to a single payment amount this element specifies whether compounding is applicable, and if so, what compounding method is to be used. This element must only be included when more that one calculation period contributes to a single payment amount.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="compoundingRate" type="CompoundingRate">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Defines a compounding rate. The compounding interest can either point back to the interest calculation node on the Interest Leg, or be defined specifically.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CompoundingRate">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining a compounding rate. The compounding interest can either point back to the interest calculation node on the Interest Leg, or be defined specifically.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="interestLegRate" type="InterestCalculationReference">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Reference to the interest calculation node on the Interest Leg.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="specificRate" type="InterestAccrualsMethod">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Defines a specific rate.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="EquityCorporateEvents">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type for defining the merger events and their treatment.</xsd:documentation>
			<xsd:documentation xml:lang="de">Typ zur Definition von Fusionen und deren Behandlung.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="shareForShare" type="ShareExtraordinaryEventEnum">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The consideration paid for the original shares following the Merger Event consists wholly of new shares.</xsd:documentation>
					<xsd:documentation xml:lang="de">Einstandspreis für die ursprünglichen Aktien nach Fusion beinhaltet ausschließlich neue Aktien.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="shareForOther" type="ShareExtraordinaryEventEnum">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The consideration paid for the original shares following the Merger Event consists wholly of cash/securities other than new shares.</xsd:documentation>
					<xsd:documentation xml:lang="de">Einstandspreis für die ursprünglichen Aktien nach Fusion beinhaltet ausschließlich Barmittel/Wertpapiere (keine neuen Aktien).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="shareForCombined" type="ShareExtraordinaryEventEnum">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The consideration paid for the original shares following the Merger Event consists of both cash/securities and new shares.</xsd:documentation>
					<xsd:documentation xml:lang="de">Einstandspreis für die ursprünglichen Aktien nach Fusion beinhaltet sowohl Barmittel/Wertpapiere als auch neue Aktien.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EquityPremium">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type used to describe the amount paid for an equity option.</xsd:documentation>
			<xsd:documentation xml:lang="de">Typ zur Beschreibung des für eine Aktienoption gezahlten Betrages.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="PayerReceiver.model"/>
			<xsd:element name="premiumType" type="PremiumTypeEnum" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Forward start Premium type</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="paymentAmount" type="Money" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The currency amount of the payment.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="paymentDate" type="AdjustableDate" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The payment date. This date is subject to adjustment in accordance with any applicable business day convention.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swapPremium" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Specifies whether or not the premium is to be paid in the style of payments under an interest rate swap contract.</xsd:documentation>
					<xsd:documentation xml:lang="de">Gibt die Zahlbarkeit der Prämie in Form von Zinsswap-Zahlungsströmen an.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pricePerOption" type="Money" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The amount of premium to be paid expressed as a function of the number of options.</xsd:documentation>
					<xsd:documentation xml:lang="de">Zahlbare Prämie in Abhängigkeit von der Anzahl der Optionen.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="percentageOfNotional" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The amount of premium to be paid expressed as a percentage of the notional value of the transaction. A percentage of 5% would be expressed as 0.05.</xsd:documentation>
					<xsd:documentation xml:lang="de">Zahlbare Prämie, ausgedrückt als Prozentsatz des Nennwerts der Transaktion. (Ein Prozentsatz von 5 % wird als 0,05 dargestellt.)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EquitySchedule">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Method of generating a series of dates.</xsd:documentation>
			<xsd:documentation xml:lang="de">Methode zur Generierung einer Reihe von Terminen.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="startDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The averaging period start date.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="endDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The averaging period end date.</xsd:documentation>
					<xsd:documentation xml:lang="de">Letzter Tag eines Durchschnittszeitraums.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="frequency" type="xsd:decimal">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The schedule frequency.</xsd:documentation>
					<xsd:documentation xml:lang="de">Zahlungsfrequenz laut Zeitplan.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="frequencyType" type="FrequencyTypeEnum">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The schedule frequency type</xsd:documentation>
					<xsd:documentation xml:lang="de">Art der Zahlungsfrequenz laut Zeitplan.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="weekNumber" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The schedule week number.</xsd:documentation>
					<xsd:documentation xml:lang="de">Wochenzahl im Zeitplan.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dayOfWeek" type="WeeklyRollConventionEnum" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EquityStrike">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type for defining the strike price for an equity option. The strike price is either: (i) in respect of an index option transaction, the level of the relevant index specified or otherwise determined in the transaction; or (ii) in respect of a share option transaction, the price per share specified or otherwise determined in the transaction. This can be expressed either as a percentage of notional amount or as an absolute value.</xsd:documentation>
			<xsd:documentation xml:lang="de">Typ zur Definition des Strike-Preises für eine Aktienoption. Der Strike-Preis ist: (i) bei Indexoptionen der Stand des jeweils spezifizierten oder anderweitig in der Transaktion bestimmten Index oder (ii) bei Aktienoptionen der Preis jeder spezifizierten oder anderweitig in der Transaktion bestimmten Aktie. Der Strike-Preis kann entweder als Prozentsatz des Nennwertes oder als absoluter Wert angegeben werden.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="strikePrice" type="xsd:decimal">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">The price or level at which the option has been struck.</xsd:documentation>
						<xsd:documentation xml:lang="de">Preis oder Niveau als Strike-Preis der Option.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="strikePercentage" type="xsd:decimal">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">The price or level expressed as a percentage of the forward starting spot price.</xsd:documentation>
						<xsd:documentation xml:lang="de">Preis oder Niveau, ausgedrückt als Prozentsatz des für einen künftigen Zeitpunkt ermittelten Spotpreises.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="currency" type="Currency" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The currency in which an amount is denominated.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EquityValuation">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type for defining how and when an equity option is to be valued.</xsd:documentation>
			<xsd:documentation xml:lang="de">Typ, mit dem Zeitpunkt und Art der Bewertung einer Aktienoption bestimmt wird.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice minOccurs="0">
				<xsd:element name="valuationDate" type="AdjustableDateOrRelativeDateSequence">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">The term "Valuation Date" is assumed to have the meaning as defined in the ISDA 2002 Equity Derivatives Definitions.</xsd:documentation>
						<xsd:documentation xml:lang="de">"Bewertungstag" im Sinne der ISDA-Definitionen zu Aktienderivaten von 2002.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="valuationDates" type="AdjustableRelativeOrPeriodicDates">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">Specifies the interim equity valuation dates of the swap.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="valuationTimeType" type="TimeTypeEnum" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The time of day at which the calculation agent values the underlying, for example the official closing time of the exchange.</xsd:documentation>
					<xsd:documentation xml:lang="de">Tageszeit, zu der die Berechnungsstelle den Basiswert bewertet, zum Beispiel der offizielle Börsenschluss.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valuationTime" type="BusinessCenterTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The specific time of day at which the calculation agent values the underlying.</xsd:documentation>
					<xsd:documentation xml:lang="de">Genaue Tageszeit, zu der die Bewertungsstelle den Basiswert bewertet.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="futuresPriceValuation" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The official settlement price as announced by the related exchange is applicable, in accordance with the ISDA 2002 definitions.</xsd:documentation>
					<xsd:documentation xml:lang="de">Es gilt der von der relevanten Börse veröffentlichte offizielle Abrechnungspreis im Sinne der ISDA-Definitionen von 2002.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="optionsPriceValuation" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The official settlement price as announced by the related exchange is applicable, in accordance with the ISDA 2002 definitions.</xsd:documentation>
					<xsd:documentation xml:lang="de">Es gilt der von der relevanten Börse veröffentlichte offizielle Abrechnungspreis im Sinne der ISDA-Definitionen von 2002.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID"/>
	</xsd:complexType>
	<xsd:complexType name="ExtraordinaryEvents">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Where the underlying is shares, defines market events affecting the issuer of those shares that may require the terms of the transaction to be adjusted.</xsd:documentation>
			<xsd:documentation xml:lang="de">Ist der Basiswert eine Aktie, werden hiermit Marktereignisse angegeben, die den Emittenten der Aktie betreffen und die eine Anpassung der Transaktionsbedingungen erfordern können.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="mergerEvents" type="EquityCorporateEvents" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Occurs when the underlying ceases to exist following a merger between the Issuer and another company.</xsd:documentation>
					<xsd:documentation xml:lang="de">Dieses Element ist relevant, wenn der Basiswert nach einer Fusion zwischen dem Emittenten und einer anderen Gesellschaft nicht mehr existiert.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tenderOffer" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="tenderOfferEvents" type="EquityCorporateEvents" minOccurs="0"/>
			<xsd:element name="compositionOfCombinedConsideration" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="indexAdjustmentEvents" type="IndexAdjustmentEvents" minOccurs="0"/>
			<xsd:choice>
				<xsd:element name="additionalDisruptionEvents" type="AdditionalDisruptionEvents"/>
				<xsd:element name="failureToDeliver" type="xsd:boolean"/>
			</xsd:choice>
			<xsd:element name="representations" type="Representations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">ISDA 2002 Equity Derivative Representations</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nationalisationOrInsolvency" type="NationalisationOrInsolvencyOrDelistingEventEnum" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The terms "Nationalisation" and "Insolvency" have the meaning as defined in the ISDA 2002 Equity Derivatives Definitions.</xsd:documentation>
					<xsd:documentation xml:lang="de">"Verstaatlichung" und "Insolvenz" im Sinne der ISDA-Definitionen zu Aktienderivaten von 2002.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="delisting" type="NationalisationOrInsolvencyOrDelistingEventEnum" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The term "Delisting" has the meaning defined in the ISDA 2002 Equity Derivatives Definitions.</xsd:documentation>
					<xsd:documentation xml:lang="de">"Delisting" im Sinne der ISDA-Definitionen zu Aktienderivaten von 2002.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FeaturePayment">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Payment made following trigger occurence.</xsd:documentation>
			<xsd:documentation xml:lang="de">Nach Eintritt des Trigger-Ereignisses erfolgende Zahlung.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="PayerReceiver.model"/>
			<xsd:choice>
				<xsd:element name="levelPercentage" type="xsd:decimal">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">The trigger level percentage.</xsd:documentation>
						<xsd:documentation xml:lang="de">Triggerniveau, ausgedrückt als Prozentsatz.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="amount" type="xsd:decimal">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">The monetary quantity in currency units.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="time" type="TimeTypeEnum" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The feature payment time.</xsd:documentation>
					<xsd:documentation xml:lang="de">Zeitpunkt der aus dem Optionsmerkmal resultierenden Zahlung.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="currency" type="Currency" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The currency in which an amount is denominated.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="featurePaymentDate" type="AdjustableOrRelativeDate" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The feature payment date.</xsd:documentation>
					<xsd:documentation xml:lang="de">Datum der aus dem Optionsmerkmal resultierenden Zahlung.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FxFeature">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type for defining Fx Features.</xsd:documentation>
			<xsd:documentation xml:lang="de">Typ zur Definition von Devisenbestandteilen.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="referenceCurrency" type="IdentifiedCurrency">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Specifies the reference currency of the trade.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:element name="composite" type="Composite">
					<xsd:annotation>
						<xsd:documentation xml:lang="en"> If “Composite” is specified as the Settlement Type in the relevant Transaction Supplement, an amount in the Settlement Currency, determined by the Calculation Agent as being equal to the number of Options exercised or deemed exercised, multiplied by: (Settlement Price – Strike Price) / (Strike Price – Settlement Price) x Multiplier provided that if the above is equal to a negative amount the Option Cash Settlement Amount shall be deemed to be zero. </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="quanto" type="Quanto">
					<xsd:annotation>
						<xsd:documentation xml:lang="en"> If “Quanto” is specified as the Settlement Type in the relevant Transaction Supplement, an amount, as determined by the Calculation Agent in accordance with the Section 8.2 of the Equity Definitions </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="crossCurrency" type="Composite">
					<xsd:annotation>
						<xsd:documentation xml:lang="en"> If “Cross-Currency” is specified as the Settlement Type in the relevant Transaction Supplement, an amount in the Settlement Currency, determined by the Calculation Agent as being equal to the number of Options exercised or deemed exercised, multiplied by: (Settlement Price – Strike Price) / (Strike Price – Settlement Price) x Multiplier x one unit of the Reference Currency converted into an amount in the Settlement Currency using the rate of exchange of the Settlement Currency as quoted on the Reference Price Source on the Valuation Date, provided that if the above is equal to a negative amount the Option Cash Settlement Amount shall be deemed to be zero </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IndexAdjustmentEvents">
		<xsd:sequence>
			<xsd:element name="indexModification" type="IndexEventConsequenceEnum"/>
			<xsd:element name="indexCancellation" type="IndexEventConsequenceEnum"/>
			<xsd:element name="indexDisruption" type="IndexEventConsequenceEnum"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InterestCalculation">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Specifies the calculation method of the interest rate leg of the equity swap. Includes the floating or fixed rate calculation definitions, along with the determination of the day count fraction.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="InterestAccrualsMethod">
				<xsd:sequence>
					<xsd:element name="dayCountFraction" type="DayCountFraction">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The day count fraction.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="compounding" type="Compounding" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Defines compounding rates on the Interest Leg.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="id" type="xsd:ID"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="InterestCalculationReference">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Reference to an interest calculation component.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Reference"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="InterestLeg">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type describing the fixed income leg of the equity swap.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReturnSwapLeg">
				<xsd:sequence>
					<xsd:element name="interestLegCalculationPeriodDates" type="InterestLegCalculationPeriodDates">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Component that holds the various dates used to specify the interest leg of the equity swap. It is used to define the InterestPeriodDates identifyer.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="notional" type="ReturnSwapNotional">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Specifies the notional of a return type swap. When used in the equity leg, the definition will typically combine the actual amount (using the notional component defined by the FpML industry group) and the determination method. When used in the interest leg, the definition will typically point to the definition of the equity leg.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="interestAmount" type="LegAmount">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Specifies, in relation to each Interest Payment Date, the amount to which the Interest Payment Date relates. Unless otherwise specified, this term has the meaning defined in the ISDA 2000 ISDA Definitions.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="interestCalculation" type="InterestCalculation">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Specifies the calculation method of the interest rate leg of the equity swap. Includes the floating or fixed rate calculation definitions, along with the determination of the day count fraction.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="stubCalculationPeriod" type="StubCalculationPeriod" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Specifies the stub calculation period</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="InterestLegCalculationPeriodDates">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Component that holds the various dates used to specify the interest leg of the equity swap. It is used to define the InterestPeriodDates identifyer.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="effectiveDate" type="AdjustableOrRelativeDate">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Specifies the effective date of the equity swap. This global element is valid within the equity swaps namespace. Within the FpML namespace, another effectiveDate global element has been defined, that is different in the sense that it does not propose the choice of refering to another date in the document.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="terminationDate" type="AdjustableOrRelativeDate">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Specifies the termination date of the equity swap. This global element is valid within the equity swaps namespace. Within the FpML namespace, another terminationDate global element has been defined, that is different in the sense that it does not propose the choice of refering to another date in the document.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="interestLegResetDates" type="InterestLegResetDates">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Specifies the reset dates of the interest leg of the swap.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="interestLegPaymentDates" type="AdjustableOrRelativeDates">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Specifies the payment dates of the interest leg of the swap. When defined in relation to a date specified somewhere else in the document (through the relativeDates component), this element will typically point to the payment dates of the equity leg of the swap.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="InterestLegCalculationPeriodDatesReference">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Reference to the calculation period dates of the interest leg.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Reference"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="InterestLegResetDates">
		<xsd:sequence>
			<xsd:element name="calculationPeriodDatesReference" type="InterestLegCalculationPeriodDatesReference">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A pointer style reference to the associated calculation period dates component defined elsewhere in the document.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:element name="resetRelativeTo" type="ResetRelativeToEnum">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">Specifies whether the reset dates are determined with respect to each adjusted calculation period start date or adjusted calculation period end date. If the reset frequency is specified as daily this element must not be included.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="resetFrequency" type="ResetFrequency">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">The frequency at which reset dates occur. In the case of a weekly reset frequency, also specifies the day of the week that the reset occurs. If the reset frequency is greater than the calculation period frequency then this implies that more than one reset date is established for each calculation period and some form of rate averaging is applicable.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Knock">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Knock In means option to exercise comes into existence. Knock Out means option to exercise goes out of existence</xsd:documentation>
			<xsd:documentation xml:lang="de">"Knock-in" bedeutet, dass eine Option durch das Überschreiten aktiviert wird. "Knock-out" bedeutet, dass eine Option nach dem Überschreiten erlischt.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="knockIn" type="TriggerEvent" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The knock in.</xsd:documentation>
					<xsd:documentation xml:lang="de">Knock-In.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="knockOut" type="TriggerEvent" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The knock out.</xsd:documentation>
					<xsd:documentation xml:lang="de">Knock-Out.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LegAmount">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type describing the amount that will paid or received on each of the payment dates. This type is used to define both the Equity Amount and the Interest Amount.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="paymentCurrency" type="PaymentCurrency" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Currency in which the payment relating to the leg amount (equity amount or interest amount) or the dividend will be denominated.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:element name="referenceAmount" type="ReferenceAmount">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">Specifies the reference Amount when this term either corresponds to the standard ISDA Definition (either the 2002 Equity Definition for the Equity Amount, or the 2000 Definition for the Interest Amount), or points to a term defined elsewhere in the swap document.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="formula" type="Formula">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">Specifies a formula, with its description and components.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="encodedDescription" type="xsd:base64Binary">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">Description of the leg amount when represented through an encoded image.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="variance" type="Variance">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">Specifies Variance for Variance Leg</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="calculationDates" type="AdjustableRelativeOrPeriodicDates" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Specifies the date ion which a calculation or an observation will be performed for the purpose of defining the Equity Amount, and in accordance to the definition terms of this latter.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MakeWholeProvisions">
		<xsd:annotation>
			<xsd:documentation>A type to hold early exercise provisions.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="makeWholeDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Date through which option can not be exercised without penalty.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="recallSpread" type="xsd:decimal">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Spread used if exercised before make whole date. Early termination penalty. Expressed in bp, e.g. 25 bp.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MarketDisruption">
		<xsd:simpleContent>
			<xsd:extension base="xsd:normalizedString">
				<xsd:attribute name="marketDisruptionScheme" type="xsd:anyURI" default="http://www.fpml.org/coding-scheme/market-disruption-1-0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="OptionFeatures">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type for defining option features.</xsd:documentation>
			<xsd:documentation xml:lang="de">Typ zur Definition von Optionsbestandteilen.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="asian" type="Asian" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">An option where and average price is taken on valuation.</xsd:documentation>
					<xsd:documentation xml:lang="de">Option, deren Bewertung auf einem Durchschnittspreis basiert.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="barrier" type="Barrier" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">An option with a barrier feature.</xsd:documentation>
					<xsd:documentation xml:lang="de">Option mit Barrier-Merkmal.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="knock" type="Knock" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A knock feature.</xsd:documentation>
					<xsd:documentation xml:lang="de">Knock-Spezifikation.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="passThrough" type="PassThrough" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Pass through payments from the underlyer, such as dividends.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PassThrough">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Type which contains pass through payments.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="passThroughItem" type="PassThroughItem" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">One to many pass through payment items.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PassThroughItem">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Type to represent a single pass through payment.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="PayerReceiver.model"/>
			<xsd:element name="underlyerReference" type="AssetReference">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Reference to the underlyer whose payments are being passed through.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="passThroughPercentage" type="xsd:decimal">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Percentage of payments from the underlyer which are passed through.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PrincipalExchangeAmount">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Specifies the principal exchange amount, either by explicitly defining it, or by point to an amount defined somewhere else in the swap document.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="amountRelativeTo" type="AmountReference"/>
			<xsd:element name="determinationMethod" type="DeterminationMethod">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Specifies the method according to which an amount or a date is determined.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="principalAmount" type="Money">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Principal exchange amount when explictly stated.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="PrincipalExchangeDescriptions">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Specifies each of the characteristics of the principal exchange cashflows, in terms of paying/receiving counterparties, amounts and dates.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="PayerReceiver.model"/>
			<xsd:element name="principalExchangeAmount" type="PrincipalExchangeAmount">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Specifies the principal echange amount, either by explicitly defining it, or by point to an amount defined somewhere else in the swap document.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="principalExchangeDate" type="AdjustableOrRelativeDate">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Date on which each of the principal exchanges will take place. This date is either explictly stated, or is defined by reference to another date in the swap document. In this latter case, it will typically refer to one other date of the equity leg: either the effective date (initial exchange), or the last payment date (final exchange).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PrincipalExchangeFeatures">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type describing the principal exchange features of the equity swap.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="principalExchanges" type="PrincipalExchanges">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The true/false flags indicating whether initial, intermediate or final exchanges of principal should occur.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="principalExchangeDescriptions" type="PrincipalExchangeDescriptions" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Specifies each of the characteristics of the principal exchange cashflows, in terms of paying/receiving counterparties, amounts and dates.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Quanto">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">When present without child elements this type indicate that a Quanto feature is in use Child elements are used to specify the currency conversion rate(s) associated with the quanto. One rate will be defined for each pair of currencies involved.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="fxRate" type="FxRate" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Specifies a currency conversion rate.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fxSpotRateSource" type="FxSpotRateSource" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Specifies the methodology (reference source and, optionally, fixing time) to be used for determining a currency conversion rate.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Representations">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type for defining ISDA 2002 Equity Derivative Representations</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="nonReliance" type="xsd:boolean"/>
			<xsd:element name="agreementsRegardingHedging" type="xsd:boolean"/>
			<xsd:element name="indexDisclaimer" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="additionalAcknowledgements" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Return">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type describing the dividend return conditions applicable to the swap.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="returnType" type="ReturnTypeEnum">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Defines the type of return associated with the equity swap.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dividendConditions" type="DividendConditions" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Specifies the conditions governing the payment of the dividends to the receiver of the equity return. With the exception of the dividend payout ratio, which is defined for each of the underlying components.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReturnLeg">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type describing the return leg of a return type swap.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReturnSwapLeg">
				<xsd:sequence>
					<xsd:element name="effectiveDate" type="AdjustableOrRelativeDate">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Specifies the effective date of the return leg of the swap. When defined in relation to a date specified somewhere else in the document (through the relativeDate component), this element will typically point to the effective date of the other leg of the swap.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="terminationDate" type="AdjustableOrRelativeDate">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Specifies the termination date of the return leg of the swap. When defined in relation to a date specified somewhere else in the document (through the relativeDate component), this element will typically point to the termination date of the other leg of the swap.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="underlyer" type="Underlyer">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Specifies the underlying component of the return type swap, which can be either one or many and consists in either equity, index or convertible bond component, or a combination of these.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="rateOfReturn" type="ReturnLegValuation">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Element named "valuation" in versions prior to FpML 4.2 Second Working Draft. Specifies the terms of the initial price of the return type swap and of the subsequent valuations of the underlyer.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="notional" type="ReturnSwapNotional">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Specifies the notional of a return type swap. When used in the equity leg, the definition will typically combine the actual amount (using the notional component defined by the FpML industry group) and the determination method. When used in the interest leg, the definition will typically point to the definition of the equity leg.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="amount" type="ReturnSwapAmount">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Element named "equityAmount" in versions prior to FpML 4.2 Second Working Draft. Specifies, in relation to each Payment Date, the amount to which the Payment Date relates. For equity swaps this element is equivalent to the Equity Amount term as defined in the ISDA 2002 Equity Derivatives Definitions.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="return" type="Return">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Specifies the conditions under which dividend affecting the underlyer will be paid to the receiver of the amounts.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="notionalAdjustments" type="NotionalAdjustmentEnum">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Specifies the conditions that govern the adjustment to the number of units of the equity swap.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="fxFeature" type="FxFeature" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">A quanto or composite FX feature.</xsd:documentation>
							<xsd:documentation xml:lang="de">Quanto- oder Komposit-Devisenbestandteil.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ReturnLegValuation">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type describing the initial and final valuation of the underlyer.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="initialPrice" type="ReturnLegValuationPrice">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Specifies the initial reference price of the underlyer. This price can be expressed either as an actual amount/currency, as a determination method, or by reference to another value specified in the swap document.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="notionalReset" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Element named "equityNotionalReset" in versions prior to FpML 4.2 Second Working Draft. For equity swaps, this element is equivalent to the term "Equity Notional Reset" as defined in the ISDA 2002 Equity Derivatives Definitions. The reference to the ISDA definition is either "Applicable" or 'Inapplicable".</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valuationPriceInterim" type="ReturnLegValuationPrice" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Specifies the interim valuation price of the underlyer. This price can be expressed either as an actual amount/currency, as a determination method, or by reference to another value specified in the swap document.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valuationPriceFinal" type="ReturnLegValuationPrice">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Specifies the final valuation price of the underlyer. This price can be expressed either as an actual amount/currency, as a determination method, or by reference to another value specified in the swap document.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="paymentDates" type="ReturnSwapPaymentDates">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Element named "equityPaymentDates" in versions prior to FpML 4.2 Second Working Draft. Specifies the payment dates of the swap.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReturnLegValuationPrice">
		<xsd:complexContent>
			<xsd:extension base="Price">
				<xsd:sequence>
					<xsd:element name="valuationRules" type="EquityValuation" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Element named "equityValuation" in versions prior to FpML 4.2 Second Working Draft.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ReturnSwap">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type describing return swaps including equity swaps (long form), total return swaps, and variance swaps.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReturnSwapBase">
				<xsd:sequence>
					<xsd:element name="principalExchangeFeatures" type="PrincipalExchangeFeatures" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Specifies the principal exchange features of the equity swap.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="additionalPayment" type="ReturnSwapAdditionalPayment" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Specifies additional payment(s) between the principal parties to the trade. This component extends some of the features of the additionalPayment component developed by the FpML industry group. Appropriate discussions will determine whether it would be appropriate to extend the shared component in order to meet the further requirements of equity swaps.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="earlyTermination" type="ReturnSwapEarlyTermination" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Specifies, for one or for both the parties to the trade, the date from which it can early terminate it.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="extraordinaryEvents" type="ExtraordinaryEvents" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Where the underlying is shares, specifies events affecting the issuer of those shares that may require the terms of the transaction to be adjusted.</xsd:documentation>
							<xsd:documentation xml:lang="de">Ist der Basiswert eine Aktie, werden hiermit Ereignisse angegeben, die den Emittenten der Aktie betreffen und die eine Anpassung der Transaktionsbedingungen erfordern kÃƒÂ¶nnen.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ReturnSwapAdditionalPayment">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type describing the additional payment(s) between the principal parties to the trade. This component extends some of the features of the additionalPayment component previously developed in FpML. Appropriate discussions will determine whether it would be appropriate to extend the shared component in order to meet the further requirements of equity swaps.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="PayerReceiver.model"/>
			<xsd:element name="additionalPaymentAmount" type="AdditionalPaymentAmount">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Specifies the amount of the fee along with, when applicable, the formula that supports its determination.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="additionalPaymentDate" type="AdjustableOrRelativeDate">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Specifies the value date of the fee payment/receipt.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="paymentType" type="PaymentType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReturnSwapAmount">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Specifies, in relation to each Payment Date, the amount to which the Payment Date relates. For Equity Swaps this element is equivalent to the Equity Amount term as defined in the ISDA 2002 Equity Derivatives Definitions.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LegAmount">
				<xsd:sequence>
					<xsd:element name="cashSettlement" type="xsd:boolean"/>
					<xsd:element name="optionsExchangeDividends" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="additionalDividends" type="xsd:boolean" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ReturnSwapBase">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type describing the components that are common for return type swaps, including short and long form equity swaps representations.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Product">
				<xsd:sequence>
					<xsd:group ref="BuyerSeller.model" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">BuyerSeller.model has been included as an optional child of ReturnSwapBase to support the situation where an implementor wishes to indicate who has manufactured the Swap through representing them as the Seller. It may be removed in future major revisions.</xsd:documentation>
						</xsd:annotation>
					</xsd:group>
					<xsd:element ref="returnSwapLeg" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ReturnSwapEarlyTermination">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type describing the date from which each of the party may be allowed to terminate the trade.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="partyReference" type="PartyReference"/>
			<xsd:element name="startingDate" type="StartingDate">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Specifies the date from which the early termination clause can be exercised.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReturnSwapLeg" abstract="true">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The abstract base class for all types of Return Swap Leg.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="PayerReceiver.model"/>
			<xsd:element name="paymentFrequency" type="Interval" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Frequency at which this leg pays.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="legIdentifier" type="xsd:ID"/>
	</xsd:complexType>
	<xsd:complexType name="ReturnSwapNotional">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Specifies the notional of return type swap. When used in the equity leg, the definition will typically combine the actual amount (using the notional component defined by the FpML industry group) and the determination method. When used in the interest leg, the definition will typically point to the definition of the equity leg.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="determinationMethod" type="DeterminationMethod">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Specifies the method according to which an amount or a date is determined.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="notionalAmount" type="Money">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The notional amount.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="amountRelativeTo" type="AmountReference"/>
		</xsd:choice>
		<xsd:attribute name="id" type="xsd:ID"/>
	</xsd:complexType>
	<xsd:complexType name="ReturnSwapPaymentDates">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type describing the return payment dates of the swap.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="paymentDatesInterim" type="AdjustableOrRelativeDates" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Element named "equityPaymentDatesInterim" in versions prior to FpML 4.2 Second Working Draft. Specifies the interim payment dates of the swap. When defined in relation to a date specified somewhere else in the document (through the relativeDates component), this element will typically refer to the valuation dates and add a lag corresponding to the settlement cycle of the underlyer.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="paymentDateFinal" type="AdjustableOrRelativeDate">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Element named "equityPaymentDateFinal" in versions prior to FpML 4.2 Second Working Draft. Specifies the final payment date of the swap. When defined in relation to a date specified somewhere else in the document (through the relativeDate component), this element will typically refer to the final valuation date and add a lag corresponding to the settlement cycle of the underlyer.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID"/>
	</xsd:complexType>
	<xsd:complexType name="StartingDate">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type specifying the date from which the early termination clause can be exercised.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="dateRelativeTo" type="DateReference">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Specifies the anchor as an href attribute. The href attribute value is a pointer style reference to the element or component elsewhere in the document where the anchor date is defined.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="adjustableDate" type="AdjustableDate"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="StubCalculationPeriod">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type describing the Stub Calculation Period</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:sequence>
				<xsd:element name="initialStub" type="Stub"/>
				<xsd:element name="finalStub" type="Stub" minOccurs="0"/>
			</xsd:sequence>
			<xsd:element name="finalStub" type="Stub"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="Trigger">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Trigger point at which feature is effective</xsd:documentation>
			<xsd:documentation xml:lang="de">Trigger-Niveau, bei dem bestimmte Merkmale einsetzen.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="level" type="xsd:decimal">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">The trigger level.</xsd:documentation>
						<xsd:documentation xml:lang="de">Trigger-Niveau.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="levelPercentage" type="xsd:decimal">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">The trigger level percentage.</xsd:documentation>
						<xsd:documentation xml:lang="de">Triggerniveau, ausgedrückt als Prozentsatz.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TriggerEvent">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Observation point for trigger</xsd:documentation>
			<xsd:documentation xml:lang="de">Beobachtungspunkt für das Trigger-Ereignis.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="schedule" type="EquitySchedule" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A Equity Derivative schedule.</xsd:documentation>
					<xsd:documentation xml:lang="de">Zeitplan für Aktienderivate.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="triggerDates" type="DateList" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The trigger Dates</xsd:documentation>
					<xsd:documentation xml:lang="de">Trigger-Tage.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="trigger" type="Trigger">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The trigger level.</xsd:documentation>
					<xsd:documentation xml:lang="de">Trigger-Niveau.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="featurePayment" type="FeaturePayment" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The feature payment.</xsd:documentation>
					<xsd:documentation xml:lang="de">Aus dem Optionsmerkmal resultierende Zahlung.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Variance">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type describing the variance amount of a variance swap</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="initialLevel" type="xsd:decimal"/>
				<xsd:element name="closingLevel" type="xsd:boolean"/>
				<xsd:element name="expiringLevel" type="xsd:boolean">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">If present and true this contract will strike off the default exchange traded contract</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="varianceAmount" type="Money"/>
			<xsd:choice>
				<xsd:element name="volatilityStrikePrice" type="xsd:decimal"/>
				<xsd:element name="varianceStrikePrice" type="xsd:decimal"/>
			</xsd:choice>
			<xsd:element name="expectedN" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="varianceCap" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="unadjustedVarianceCap" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">For use when varianceCap is applicable. Contains the scaling factor of the Variance Cap that can differ on a trade-by-trade basis in the European market. For example, a Variance Cap of 2.5^2 x Variance Strike Price has an unadjustedVarianceCap of 2.5.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="exchangeTradedContractNearest" type="ExchangeTradedContract" minOccurs="0"/>
			<xsd:element name="vegaNotionalAmount" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Vega Notional represents the approximate gain/loss at maturity for a 1% difference between RVol (realised vol) and KVol (strike vol). It does not necessarily represent the Vega Risk of the trade.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fxFeature" type="FxFeature" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Quanto, Composite, or Cross Currency FX features</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VarianceAmount">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Specifies, in relation to each Equity Payment Date, the amount to which the Equity Payment Date relates for Variance Swaps. Unless otherwise specified, this term has the meaning defined in the ISDA 2002 Equity Derivatives Definitions.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReturnSwapAmount">
				<xsd:sequence>
					<xsd:element name="cashSettlementPaymentDate" type="AdjustableOrRelativeDate" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Typically specified as a number of days following the valuation date, such as one settlement cycle following the valuation date. Number of days can vary in the European market.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="observationStartDate" type="StartingDate" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The start of the period over which observations are made to determine the variance. Used when the date differs from the trade date such as for forward starting variance swaps.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="allDividends" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Represents the European Master Confirmation value of 'All Dividends' which, when applicable, signifies that, for a given Ex-Date, the daily observed Share Price for that day is adjusted (reduced) by the cash dividend and/or the cash value of any non cash dividend per Share (including Extraordinary Dividends) declared by the Issuer.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="VarianceLeg">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type describing the variance leg of the equity swap.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ReturnSwapLeg">
				<xsd:sequence>
					<xsd:element name="underlyer" type="Underlyer">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Specifies the underlying component of the variance swap, which can be either one or many and consists in either equity, index or convertible bond component, or a combination of these.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="equityValuation" type="EquityValuation">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Equity Valuation</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="equityAmount" type="VarianceAmount">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Specifies, in relation to each Equity Payment Date, the amount to which the Equity Payment Date relates. Unless otherwise specified, this term has the meaning defined in the ISDA 2002 Equity Derivatives Definitions.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="interestLeg" type="InterestLeg" substitutionGroup="returnSwapLeg">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The fixed income amounts of the return type swap.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="returnLeg" type="ReturnLeg" substitutionGroup="returnSwapLeg">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Return amounts of the return type swap.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="returnSwapLeg" type="ReturnSwapLeg" abstract="true">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">An placeholder for the actual Return Swap Leg definition.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="returnSwap" type="ReturnSwap" substitutionGroup="product">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Specifies the structure of a return type swap. It can represent equity swaps, total return swaps, variance swaps.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="varianceLeg" type="VarianceLeg" substitutionGroup="returnSwapLeg">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The variance leg of the equity swap</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- AP 09 feb 2007 added -->
	<xsd:group name="Feature.model">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				A group containing Swap and Derivate features
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="feature" type="OptionFeatures" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Asian, Barrier, Knock and Pass Through features
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fxFeature" type="FxFeature" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Quanto, Composite, or Cross Currency FX features
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
