files-fpml/schemas/fpml5-1/reporting/fpml-fx-5-1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 
        == Copyright (c) 2002-2010. All rights reserved. 
        == Financial Products Markup Language is subject to the FpML public license. 
        == A copy of this license is available at http://www.fpml.org/license/license.html
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns="http://www.fpml.org/FpML-5/reporting" xmlns:fpml-annotation="http://www.fpml.org/annotation" targetNamespace="http://www.fpml.org/FpML-5/reporting" ecore:documentRoot="FpML" ecore:nsPrefix="rpt" ecore:package="org.fpml.reporting" version="$Revision: 8808 $" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:include schemaLocation="fpml-option-shared-5-1.xsd" />
  <xsd:simpleType name="PointValue">
    <xsd:annotation>
      <xsd:documentation>Constrains the forward point tick/pip factor to 1, 0.1, 0.01, 0.001, etc.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:pattern value="1" />
      <xsd:pattern value="0.0*1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CrossRate">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type that is used for including the currency exchange rates used to cross between the traded currencies for non-base currency FX contracts.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="QuotedCurrencyPair">
        <xsd:sequence>
          <xsd:element name="rate" type="PositiveDecimal" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The exchange rate used to cross between the traded currencies.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:sequence minOccurs="0">
            <xsd:element name="spotRate" type="PositiveDecimal" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">An optional element used for FX forwards and certain types of FX OTC options. For deals consumated in the FX Forwards Market, this represents the current market rate for a particular currency pair.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="forwardPoints" type="xsd:decimal" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">An optional element used for deals consumated in the FX Forwards market. Forward points represent the interest rate differential between the two currencies traded and are quoted as a preminum or a discount. Forward points are added to, or subtracted from, the spot rate to create the rate of the forward trade.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CutName">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Allows for an expiryDateTime cut to be described by name.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="cutNameScheme" type="xsd:anyURI" default="http://www.fpml.org/coding-scheme/cut-name" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="DualCurrencyFeature">
    <xsd:annotation>
      <xsd:documentation>Describes the parameters for a dual currency deposit.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="currency" type="Currency" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The currency in which the principal and interest will be repaid.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fixingDate" type="xsd:date" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The date on which the decion on delivery currency will be made.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fixingTime" type="BusinessCenterTime" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Time at which the option expires on the expiry date.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="strike" type="DualCurrencyStrikePrice" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The strike rate at which the deposit will be converted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="spotRate" type="xsd:decimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The spot rate at the time the trade was agreed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="interestAtRisk" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the interest component of the redemption amount is subject to conversion to the Alternate currency, in the event that the spot rate is strictly lower than the strike level at the specified fixing date and time.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DualCurrencyStrikePrice">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type that describes the rate of exchange at which the embedded option in a Dual Currency Deposit has been struck.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="rate" type="PositiveDecimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The rate of exchange between the two currencies of the leg of a deal.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="strikeQuoteBasis" type="DualCurrencyStrikeQuoteBasisEnum" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The method by which the strike rate is quoted, in terms of the deposit (principal) and alternate currencies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExchangeRate">
    <xsd:annotation>
      <xsd:documentation>A type that is used for describing the exchange rate for a particular transaction.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="quotedCurrencyPair" type="QuotedCurrencyPair" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Defines the two currencies for an FX trade and the quotation relationship between the two currencies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rate" type="PositiveDecimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The rate of exchange between the two currencies of the leg of a deal. Must be specified with a quote basis.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:sequence minOccurs="0">
        <xsd:element name="spotRate" type="PositiveDecimal" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">An element used for FX forwards and certain types of FX OTC options. For deals consumated in the FX Forwards Market, this represents the current market rate for a particular currency pair. For barrier and digital/binary options, it can be useful to include the spot rate at the time the option was executed to make it easier to know whether the option needs to move "up" or "down" to be triggered.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:sequence minOccurs="0">
          <xsd:element name="forwardPoints" type="xsd:decimal" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">An optional element used for deals consumated in the FX Forwards market. Forward points represent the interest rate differential between the two currencies traded and are quoted as a preminum or a discount. Forward points are added to, or subtracted from, the spot rate to create the rate of the forward trade.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="pointValue" type="PointValue" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">An optional element that documents the size of point (pip) in which a rate was quoted (or in this case, forwardPoints are calculated). Point (pip) size varies by currency pair: major currencies are all traded in points of 0.0001, with the exception of JPY which has a point size of 0.01.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:sequence>
      <xsd:element name="crossRate" type="CrossRate" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">An optional element that allow for definition of the currency exchange rates used to cross between the traded currencies for non-base currency FX contracts.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FxAmericanExercise">
    <xsd:annotation>
      <xsd:documentation>Describes the characteristics for american exercise of FX products.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="FxDigitalAmericanExercise">
        <xsd:sequence>
          <xsd:element name="multipleExercise" type="FxMultipleExercise" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Characteristics for multiple exercise.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxAsianFeature">
    <xsd:annotation>
      <xsd:documentation>Descibes the averaging period properties for an asian option.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="primaryRateSource" type="InformationSource" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The primary source for where the rate observation will occur. Will typically be either a page or a reference bank published rate.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="secondaryRateSource" type="InformationSource" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">An alternative, or secondary, source for where the rate observation will occur. Will typically be either a page or a reference bank published rate.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fixingTime" type="BusinessCenterTime" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The time at which the spot currency exchange rate will be observed. It is specified as a time in a business day calendar location, e.g. 11:00am London time.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:choice>
        <xsd:sequence>
          <xsd:element name="observationSchedule" type="FxAverageRateObservationSchedule" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Parametric schedule of rate observations.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:group ref="FxRateObservation.model" minOccurs="0" />
        </xsd:sequence>
      </xsd:choice>
      <xsd:element name="payoutFormula" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The description of the mathematical computation for how the payout is computed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="precision" type="xsd:nonNegativeInteger" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Specifies the rounding precision in terms of a number of decimal places. Note how a percentage rate rounding of 5 decimal places is expressed as a rounding precision of 7 in the FpML document since the percentage is expressed as a decimal, e.g. 9.876543% (or 0.09876543) being rounded to the nearest 5 decimal places is 9.87654% (or 0.0987654).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FxAverageRateObservation">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type that, for average rate options, is used to describe each specific observation date, as opposed to a parametric frequency of rate observations.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="date" type="xsd:date" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A specific date for which an observation against a particular rate will be made and will be used for subsequent computations.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="averageRateWeightingFactor" type="xsd:decimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">An optional factor that can be used for weighting certain observation dates. Typically, firms will weight each date with a factor of 1 if there are standard, unweighted adjustments.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rate" type="NonNegativeDecimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The observed rate of exchange between the two option currencies. In the absence of rateObservationQuoteBasis, the rate is assumed to be quoted as per option strike/strikeQuoteBasis.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FxAverageRateObservationSchedule">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type that describes average rate options rate observations. This is used to describe a parametric frequency of rate observations against a particular rate. Typical frequencies might include daily, every Friday, etc.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="startDate" type="xsd:date" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The start of the period over which observations are made to determine whether a trigger has occurred.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="endDate" type="xsd:date" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The end of the period over which observations are made to determine whether a trigger event has occurred.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="calculationPeriodFrequency" type="CalculationPeriodFrequency" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The frequency at which calculation period end dates occur with the regular part of the calculation period schedule and their roll date convention.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FxBarrierFeature">
    <xsd:annotation>
      <xsd:documentation>Describes the properties of an Fx barrier.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="barrierType" type="FxBarrierTypeEnum" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This specifies whether the option becomes effective ("knock-in") or is annulled ("knock-out") when the respective trigger event occurs.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="quotedCurrencyPair" type="QuotedCurrencyPair" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Defines the two currencies for an FX trade and the quotation relationship between the two currencies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="triggerRate" type="PositiveDecimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The market rate is observed relative to the trigger rate, and if it is found to be on the predefined side of (above or below) the trigger rate, a trigger event is deemed to have occurred.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="informationSource" type="InformationSource" maxOccurs="unbounded" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The information source where a published or displayed market rate will be obtained, e.g. Telerate Page 3750.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:sequence minOccurs="0">
        <xsd:element name="observationStartDate" type="xsd:date" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The start of the period over which observations are made to determine whether a trigger has occurred.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="observationEndDate" type="xsd:date" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The end of the period over which observations are made to determine whether a trigger event has occurred.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FxBoundary">
    <xsd:annotation>
      <xsd:documentation>Describes a precise boundary value.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="inclusive" minOccurs="0" />
      <xsd:element name="exclusive" minOccurs="0" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="FxDigitalAmericanExercise">
    <xsd:annotation>
      <xsd:documentation>Descrines the characteristics for American exercise in FX digital options.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Exercise">
        <xsd:sequence>
          <xsd:element name="commencementDate" type="AdjustableOrRelativeDate" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The earliest date on which the option can be exercised.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="expiryDate" type="xsd:date" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The latest date on which the option can be exercised.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="expiryTime" type="BusinessCenterTime" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Time at which the option expires on the expiry date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="cutName" type="CutName" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The code by which the expiry time is known in the market.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="latestValueDate" type="xsd:date" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The latest date on which both currencies traded will settle.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxDigitalOption">
    <xsd:annotation>
      <xsd:documentation>Describes an option having a triggerable fixed payout.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Option">
        <xsd:sequence>
          <xsd:element name="effectiveDate" type="AdjustableOrRelativeDate" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Effective date for a forward starting derivative. If this element is not present, the effective date is the trade date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:sequence>
            <xsd:annotation>
              <xsd:documentation>Defines the parameters for option exercise.</xsd:documentation>
            </xsd:annotation>
            <xsd:choice>
              <xsd:sequence>
                <xsd:element name="americanExercise" type="FxDigitalAmericanExercise" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>The parameters for defining the exercise period for an American style option.</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="touch" type="FxTouch" maxOccurs="unbounded" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>Defines one or more conditions underwhich the option will payout if exercisable.</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
              <xsd:sequence>
                <xsd:element name="europeanExercise" type="FxEuropeanExercise" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>The parameters for defining the exercise period for an European style option.</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="trigger" type="FxTrigger" maxOccurs="unbounded" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>Defines one or more conditions underwhich the option will payout if exercisable.</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:choice>
            <xsd:element name="exerciseProcedure" type="ExerciseProcedure" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>A set of parameters defining procedures associated with the exercise.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
          <xsd:element name="payout" type="FxOptionPayout" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The amount of currency which becomes payable if and when a trigger event occurs.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="premium" type="FxOptionPremium" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>Premium amount or premium installment amount for an option.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxEuropeanExercise">
    <xsd:annotation>
      <xsd:documentation>Describes the characteristics for European exercise of FX products.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Exercise">
        <xsd:sequence>
          <xsd:element name="expiryDate" type="xsd:date" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Represents a standard expiry date as defined for an FX OTC option.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="expiryTime" type="BusinessCenterTime" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Time at which the option expires on the expiry date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="cutName" type="CutName" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The code by which the expiry time is known in the market.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="valueDate" type="xsd:date" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The date on which both currencies traded will settle.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxMultipleExercise">
    <xsd:annotation>
      <xsd:documentation>Describes the limits on the size of notional when multiple exercise is allowed.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="minimumNotionalAmount" type="NonNegativeMoney" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The minimum amount of notional that can be exercised.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="maximumNotionalAmount" type="NonNegativeMoney" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The maximum amount of notiional that can be exercised.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FxOption">
    <xsd:annotation>
      <xsd:documentation>Describes an FX option with optional asian and barrier features.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Option">
        <xsd:sequence>
          <xsd:element name="effectiveDate" type="AdjustableOrRelativeDate" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Effective date for a forward starting derivative. If this element is not present, the effective date is the trade date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:sequence>
            <xsd:annotation>
              <xsd:documentation>Defines the parameters for option exercise.</xsd:documentation>
            </xsd:annotation>
            <xsd:choice>
              <xsd:element name="americanExercise" type="FxAmericanExercise" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>The parameters for defining the exercise period for an American style option.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="europeanExercise" type="FxEuropeanExercise" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>The parameters for defining the exercise period for an European style option.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:choice>
            <xsd:element name="exerciseProcedure" type="ExerciseProcedure" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>A set of parameters defining procedures associated with the exercise.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
          <xsd:sequence>
            <xsd:annotation>
              <xsd:documentation>Defines the underlying FX transaction.</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="putCurrencyAmount" type="NonNegativeMoney" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>The currency amount that the option gives the right to sell.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="callCurrencyAmount" type="NonNegativeMoney" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>The currency amount that the option gives the right to buy.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
          <xsd:element name="soldAs" type="PutCallEnum" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Indicates how the product was original sold as a Put or a Call.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:sequence>
            <xsd:element name="strike" type="FxStrikePrice" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Defines the option strike price.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="spotRate" type="PositiveDecimal" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">An optional element used for FX forwards and certain types of FX OTC options. For deals consumated in the FX Forwards Market, this represents the current market rate for a particular currency pair. For barrier and digital/binary options, it can be useful to include the spot rate at the time the option was executed to make it easier to know whether the option needs to move "up" or "down" to be triggered.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
          <xsd:element name="features" type="FxOptionFeatures" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Describes additional features within the option.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="premium" type="FxOptionPremium" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>Premium amount or premium installment amount for an option.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="cashSettlement" type="FxCashSettlement" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Specifies the currency and fixing details for cash settlement. This optional element is produced only where it has been specified at execution time that the option wlll be settled into a single cash payment - for example, in the case of a non-deliverable option (although note that an Fx option may be contractually cash settled, without necessarily being non-deliverable).</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxOptionFeatures">
    <xsd:annotation>
      <xsd:documentation>A type describing the features that may be present in an FX option.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:sequence>
        <xsd:element name="asian" type="FxAsianFeature"></xsd:element>
        <xsd:element name="barrier" type="FxBarrierFeature" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
      <xsd:element name="barrier" type="FxBarrierFeature" maxOccurs="unbounded"></xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="FxOptionPayout">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type that contains full details of a predefined fixed payout which may occur (or not) in a Barrier Option or Digital Option when a trigger event occurs (or not).</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NonNegativeMoney">
        <xsd:sequence>
          <xsd:element name="payoutStyle" type="PayoutEnum" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The trigger event and payout may be asynchonous. A payout may become due on the trigger event, or the payout may (by agreeement at initiation) be deferred (for example) to the maturity date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="settlementInformation" type="SettlementInformation" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The information required to settle a currency payment that results from a trade.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxOptionPremium">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type that specifies the premium exchanged for a single option trade or option strategy.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NonNegativePayment">
        <xsd:sequence>
          <xsd:element name="settlementInformation" type="SettlementInformation" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The information required to settle a currency payment that results from a trade.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="quote" type="PremiumQuote" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">This is the option premium as quoted. It is expected to be consistent with the premiumAmount and is for information only.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxSingleLeg">
    <xsd:annotation>
      <xsd:documentation>A type defining either a spot or forward FX transactions.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Product">
        <xsd:sequence>
          <xsd:group ref="FxCoreDetails.model" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxStrikePrice">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type that describes the rate of exchange at which the option has been struck.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="rate" type="PositiveDecimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The rate of exchange between the two currencies of the leg of a deal.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="strikeQuoteBasis" type="StrikeQuoteBasisEnum" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The method by which the strike rate is quoted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FxSwap">
    <xsd:annotation>
      <xsd:documentation>A type defining either a spot/forward or forward/forward FX swap transaction.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Product">
        <xsd:sequence>
          <xsd:element name="nearLeg" type="FxSwapLeg" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The FX transaction with the earliest value date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="farLeg" type="FxSwapLeg" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The FX transaction with the latest value date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxSwapLeg">
    <xsd:complexContent>
      <xsd:extension base="Leg">
        <xsd:annotation>
          <xsd:documentation>A type defining the details for one of the transactions in an FX swap.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:group ref="FxCoreDetails.model" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxTouch">
    <xsd:annotation>
      <xsd:documentation>Describes an FX touch condition.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="touchCondition" type="TouchConditionEnum" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The binary condition that applies to an American-style trigger. There can only be two domain values for this element: "touch" or "no touch".</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="quotedCurrencyPair" type="QuotedCurrencyPair" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Defines the two currencies for an FX trade and the quotation relationship between the two currencies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="triggerRate" type="PositiveDecimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The market rate is observed relative to the trigger rate, and if it is found to be on the predefined side of (above or below) the trigger rate, a trigger event is deemed to have occurred.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="spotRate" type="PositiveDecimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">An optional element used for FX forwards and certain types of FX OTC options. For deals consumated in the FX Forwards Market, this represents the current market rate for a particular currency pair. For barrier and digital/binary options, it can be useful to include the spot rate at the time the option was executed to make it easier to know whether the option needs to move "up" or "down" to be triggered.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="informationSource" type="InformationSource" maxOccurs="unbounded" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The information source where a published or displayed market rate will be obtained, e.g. Telerate Page 3750.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:sequence minOccurs="0">
        <xsd:element name="observationStartDate" type="xsd:date" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>The start of the period over which observations are made to determine whether a trigger has occurred.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="observationEndDate" type="xsd:date" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>The end of the period over which observations are made to determine whether a trigger event has occurred.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FxTrigger">
    <xsd:annotation>
      <xsd:documentation>Describes an FX trigger condition.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="triggerCondition" type="TriggerConditionEnum" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The condition that applies to a European-style trigger. It determines where the rate at expiry date and time at must be relative to the triggerRate for the option to be exercisable. The allowed values are "Above" and "Below".</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="quotedCurrencyPair" type="QuotedCurrencyPair" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Defines the two currencies for an FX trade and the quotation relationship between the two currencies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="triggerRate" type="PositiveDecimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The market rate is observed relative to the trigger rate, and if it is found to be on the predefined side of (above or below) the trigger rate, a trigger event is deemed to have occurred.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="spotRate" type="PositiveDecimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">An optional element used for FX forwards and certain types of FX OTC options. For deals consumated in the FX Forwards Market, this represents the current market rate for a particular currency pair. For barrier and digital/binary options, it can be useful to include the spot rate at the time the option was executed to make it easier to know whether the option needs to move "up" or "down" to be triggered.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="informationSource" type="InformationSource" maxOccurs="unbounded" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The information source where a published or displayed market rate will be obtained, e.g. Telerate Page 3750.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LowerBound">
    <xsd:choice>
      <xsd:element name="minimumInclusive" type="PositiveDecimal" minOccurs="0" />
      <xsd:element name="minimumExclusive" type="PositiveDecimal" minOccurs="0" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="MoneyReference">
    <xsd:annotation>
      <xsd:documentation>References a Money instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Reference">
        <xsd:attribute name="href" type="xsd:IDREF" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ObservationSchedule">
    <xsd:sequence>
      <xsd:element name="startDate" type="xsd:date" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The start of the period over which observations are made to determine whether a condition has occurred.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="endDate" type="xsd:date" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The end of the period over which observations are made to determine whether a condition has occurred.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="observationPeriodFrequency" type="Frequency" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Describes how often observations are made.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PremiumQuote">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type that describes the option premium as quoted.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="value" type="xsd:decimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The value of the premium quote. In general this will be either a percentage or an explicit amount.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="quoteBasis" type="PremiumQuoteBasisEnum" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The method by which the option premium was quoted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TermDeposit">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A class defining the content model for a term deposit product.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Product">
        <xsd:sequence>
          <xsd:group ref="PayerReceiver.model">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">A pointer style reference to a servicingParty or accountBeneficiary identifier defined elsewhere in the document. The payer party (depositor) is paying the initial principal for the term deposit on the start date from a contractual point of view. The receiver party (deposit taker) is a receiver of the initial principal of the deposit on the start date.</xsd:documentation>
            </xsd:annotation>
          </xsd:group>
          <xsd:element name="startDate" type="xsd:date" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The start date of the calculation period.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="maturityDate" type="xsd:date" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The end date of the calculation period. This date should already be adjusted for any applicable business day convention.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="principal" type="PositiveMoney" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The principal amount of the trade.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="fixedRate" type="PositiveDecimal" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The calculation period fixed rate. A per annum rate, expressed as a decimal. A fixed rate of 5% would be represented as 0.05.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="dayCountFraction" type="DayCountFraction" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The day count fraction.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="features" type="TermDepositFeatures" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>An optional container that hold additional features of the deposit (e.g. Dual Currency feature).</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="interest" type="Money" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The total interest of at maturity of the trade.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="payment" type="Payment" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">A known payment between two parties.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TermDepositFeatures">
    <xsd:sequence>
      <xsd:element name="dualCurrency" type="DualCurrencyFeature" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UpperBound">
    <xsd:choice>
      <xsd:element name="maximumInclusive" type="PositiveDecimal" minOccurs="0" />
      <xsd:element name="maximumExclusive" type="PositiveDecimal" minOccurs="0" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:group name="FxCoreDetails.model">
    <xsd:annotation>
      <xsd:documentation>The elements common to FX spot, forward and swap legs.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="exchangedCurrency1" type="Payment" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This is the first of the two currency flows that define a single leg of a standard foreign exchange transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="exchangedCurrency2" type="Payment" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This is the second of the two currency flows that define a single leg of a standard foreign exchange transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dealtCurrency" type="DealtCurrencyEnum" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates which currency was dealt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:group ref="FxTenor.model" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Denotes the tenor on which both currencies traded will settle.</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
      <xsd:choice>
        <xsd:element name="valueDate" type="xsd:date" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The date on which both currencies traded will settle.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:sequence>
          <xsd:element name="currency1ValueDate" type="xsd:date" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The date on which the currency1 amount will be settled. To be used in a split value date scenario.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="currency2ValueDate" type="xsd:date" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The date on which the currency2 amount will be settled. To be used in a split value date scenario.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:choice>
      <xsd:element name="exchangeRate" type="ExchangeRate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The rate of exchange between the two currencies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="nonDeliverableSettlement" type="FxCashSettlement" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used to describe a particular type of FX forward transaction that is settled in a single currency (for example, a non-deliverable forward).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="FxRateObservation.model">
    <xsd:annotation>
      <xsd:documentation>The elements common to FX rate observation.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="rateObservation" type="FxAverageRateObservation" maxOccurs="unbounded" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">One or more specific rate observation dates.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rateObservationQuoteBasis" type="StrikeQuoteBasisEnum" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The method by which observed rate values are quoted, in terms of the option put/call currencies. In the absence of this element, rate observations are assumed to be quoted as per the option strikeQuoteBasis.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="FxTenor.model">
    <xsd:annotation>
      <xsd:documentation>Denotes the tenor on which both currencies traded will settle.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="tenorName" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A tenor expressed with a standard business term (i.e. Spot, TomorrowNext, etc.)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="FxTenorPeriodEnum" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="tenorPeriod" type="Period" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A tenor expressed as a period type and multiplier (e.g. 1D, 1Y, etc.)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:group>
  <xsd:element name="fxSingleLeg" type="FxSingleLeg" substitutionGroup="product">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A simple FX spot or forward transaction definition.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="fxSwap" type="FxSwap" substitutionGroup="product">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An FX Swap transaction definition.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="fxOption" type="FxOption" substitutionGroup="product">
    <xsd:annotation>
      <xsd:documentation>An FX option transaction definition.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="fxDigitalOption" type="FxDigitalOption" substitutionGroup="product">
    <xsd:annotation>
      <xsd:documentation>An FX digital option transaction definition.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="termDeposit" type="TermDeposit" substitutionGroup="product">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A term deposit product definition.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>

