files-fpml/schemas/fpml1-0/fpml-dtd-1-0-2001-05-14.dtd

<!-- uri://www.fpml.org/spec/2001/fpml-dtd-1-0-2001-05-14 -->

<!ENTITY % FpML_AdjustableDate "unadjustedDate
                                , dateAdjustments">

<!ENTITY % FpML_BusinessCenters "businessCenter+">

<!ENTITY % FpML_BusinessDayAdjustments "businessDayConvention
                                        ,  (businessCentersReference
                                        | businessCenters )?">

<!ENTITY % FpML_Calculation "notionalSchedule
                             ,  (fixedRateSchedule
                             | floatingRateCalculation )
                             , dayCountFraction
                             , discounting?
                             , compoundingMethod?">

<!ENTITY % FpML_CalculationPeriod "adjustedStartDate
                                   , adjustedEndDate
                                   , notionalAmount
                                   ,  (floatingRateDefinition
                                   | fixedRate )">

<!ENTITY % FpML_CalculationPeriodAmount "calculation
                                         | knownAmountSchedule">

<!ENTITY % FpML_CalculationPeriodDates "effectiveDate
                                        , terminationDate
                                        , calculationPeriodDatesAdjustments
                                        , firstPeriodStartDate?
                                        , firstRegularPeriodStartDate?
                                        , lastRegularPeriodEndDate?
                                        , calculationPeriodFrequency">

<!ENTITY % FpML_Cashflows "cashflowsMatchParameters
                           , principalExchange*
                           , paymentCalculationPeriod*">

<!ENTITY % FpML_Discounting "discountingType
                             , discountRate?
                             , discountRateDayCountFraction?">

<!ENTITY % FpML_Fee "payerPartyReference
                     , receiverPartyReference
                     , paymentType?
                     , paymentAmount
                     , paymentDate?
                     , adjustedPaymentDate?">

<!ENTITY % FpML_FloatingRate "floatingRateIndex
                              , indexTenor?
                              , spreadSchedule?
                              , rateTreatment?
                              , capRateSchedule?
                              , floorRateSchedule?">

<!ENTITY % FpML_FloatingRateCalculation " (%FpML_FloatingRate;
                                         , initialRate?
                                         , finalRateRounding?
                                         , averagingMethod?
                                         , negativeInterestRateTreatment? )">

<!ENTITY % FpML_FloatingRateDefinition "calculatedRate?
                                        , rateObservation*
                                        , spread?
                                        , capRate?
                                        , floorRate?">

<!ENTITY % FpML_Fra "buyerPartyReference
                     , sellerPartyReference
                     , adjustedEffectiveDate
                     , adjustedTerminationDate
                     , paymentDate
                     , fixingDateOffset
                     , dayCountFraction
                     , calculationPeriodNumberOfDays
                     , notional
                     , fixedRate
                     , floatingRateIndex
                     , indexTenor+
                     , fraDiscounting">

<!ENTITY % FpML_InterestRateStream "payerPartyReference
                                    , receiverPartyReference
                                    , calculationPeriodDates
                                    , paymentDates
                                    , resetDates?
                                    , calculationPeriodAmount
                                    , stubCalculationPeriodAmount?
                                    , principalExchanges?
                                    , cashflows?">

<!ENTITY % FpML_Interval "periodMultiplier
                          , period">

<!ENTITY % FpML_CalculationPeriodFrequency "(%FpML_Interval;
                                            , rollConvention)">

<!ENTITY % FpML_Money "currency
                       , amount">

<!ENTITY % FpML_Notional "notionalStepSchedule
                          , notionalStepParameters?">

<!ENTITY % FpML_NotionalStepRule "calculationPeriodDatesReference
                                  , stepFrequency
                                  , firstNotionalStepDate
                                  , lastNotionalStepDate
                                  ,  (notionalStepAmount
                                  |  (notionalStepRate
                                  , stepRelativeTo ) )">

<!ENTITY % FpML_Offset " (%FpML_Interval;
                        , dayType? )">

<!ENTITY % FpML_Party "partyId
                       , partyName?">

<!ENTITY % FpML_PartyTradeIdentifier "partyReference
                                      , tradeId+
                                      , linkId*">

<!ENTITY % FpML_PaymentCalculationPeriod "adjustedPaymentDate
                                          ,  (calculationPeriod+
                                          | fixedPaymentAmount )">

<!ENTITY % FpML_PaymentDates " ( (calculationPeriodDatesReference
                              | resetDatesReference )
                              , paymentFrequency
                              , firstPaymentDate?
                              , lastRegularPaymentDate?
                              , payRelativeTo
                              , paymentDaysOffset?
                              , paymentDatesAdjustments )">

<!ENTITY % FpML_PrincipalExchange "adjustedPrincipalExchangeDate
                                   , principalExchangeAmount">

<!ENTITY % FpML_PrincipalExchanges "initialExchange
                                    , finalExchange
                                    , intermediateExchange">

<!ENTITY % FpML_Product "swap
                         | fra">             

<!ENTITY % FpML_RateObservation "adjustedFixingDate
                                 , observedRate?
                                 , treatedRate?
                                 , observationWeight
                                 , rateReference?">

<!ENTITY % FpML_RelativeDateOffset "(%FpML_Offset;
                                      , businessDayConvention
                                      , (businessCentersReference
                                      | businessCenters )?
                                      , dateRelativeTo)">

<!ENTITY % FpML_ResetDates "calculationPeriodDatesReference
                            , resetRelativeTo?
                            , fixingDates
                            , rateCutOffDaysOffset?
                            , resetFrequency
                            , resetDatesAdjustments">

<!ENTITY % FpML_ResetFrequency " (%FpML_Interval;
                                , weeklyRollConvention? )">

<!ENTITY % FpML_Rounding "roundingDirection
                          , precision">

<!ENTITY % FpML_Schedule "initialValue
                          , step*">

<!ENTITY % FpML_AmountSchedule " (%FpML_Schedule;
                                , currency )">

<!ENTITY % FpML_Step "stepDate
                      , stepValue">

<!ENTITY % FpML_Stub " (floatingRate+
                      | stubRate
                      | stubAmount )">

<!ENTITY % FpML_StubCalculationPeriodAmount "calculationPeriodDatesReference
                                             , initialStub?
                                             , finalStub?">

<!ENTITY % FpML_Swap "swapStream+
                      , additionalPayment*">

<!ENTITY % FpML_Trade "tradeHeader
                       , product
                       , party+
                       , otherPartyPayment*">

<!ENTITY % FpML_TradeHeader "partyTradeIdentifier+
                             , tradeDate
                             , calculationAgentPartyReference*">

<!ELEMENT FpML  (trade )>
<!ATTLIST FpML  version                                   (1-0)  #REQUIRED
                averagingMethodSchemeDefault               CDATA  #IMPLIED
                businessCenterSchemeDefault                CDATA  #IMPLIED
                businessDayConventionSchemeDefault         CDATA  #IMPLIED
                compoundingMethodSchemeDefault             CDATA  #IMPLIED
                currencySchemeDefault                      CDATA  #IMPLIED
                dateRelativeToSchemeDefault                CDATA  #IMPLIED
                dayCountFractionSchemeDefault              CDATA  #IMPLIED
                dayTypeSchemeDefault                       CDATA  #IMPLIED
                discountingTypeSchemeDefault               CDATA  #IMPLIED
                floatingRateIndexSchemeDefault             CDATA  #IMPLIED
                linkIdSchemeDefault                        CDATA  #IMPLIED
                negativeInterestRateTreatmentSchemeDefault CDATA  #IMPLIED
                partyIdSchemeDefault                       CDATA  #IMPLIED
                paymentTypeSchemeDefault                   CDATA  #IMPLIED
                payRelativeToSchemeDefault                 CDATA  #IMPLIED
                periodSchemeDefault                        CDATA  #IMPLIED
                rateTreatmentSchemeDefault                 CDATA  #IMPLIED
                resetRelativeToSchemeDefault               CDATA  #IMPLIED
                rollConventionSchemeDefault                CDATA  #IMPLIED
                roundingDirectionSchemeDefault             CDATA  #IMPLIED
                stepRelativeToSchemeDefault                CDATA  #IMPLIED
                tradeIdSchemeDefault                       CDATA  #IMPLIED
                weeklyRollConventionSchemeDefault          CDATA  #IMPLIED >

<!ELEMENT additionalPayment  (%FpML_Fee; )>
<!ATTLIST additionalPayment  type NMTOKEN  #FIXED 'Fee' 
                             id   ID       #IMPLIED >

<!ELEMENT adjustedEffectiveDate  (#PCDATA )>
<!ATTLIST adjustedEffectiveDate  type NMTOKEN  #FIXED 'date'
                                 id   ID       #REQUIRED >

<!ELEMENT adjustedEndDate  (#PCDATA )>
<!ATTLIST adjustedEndDate  type NMTOKEN  #FIXED 'date' >

<!ELEMENT adjustedFixingDate  (#PCDATA )>
<!ATTLIST adjustedFixingDate  type NMTOKEN  #FIXED 'date' >

<!ELEMENT adjustedPaymentDate  (#PCDATA )>
<!ATTLIST adjustedPaymentDate  type NMTOKEN  #FIXED 'date' >

<!ELEMENT adjustedPrincipalExchangeDate  (#PCDATA )>
<!ATTLIST adjustedPrincipalExchangeDate  type NMTOKEN  #FIXED 'date' >

<!ELEMENT adjustedStartDate  (#PCDATA )>
<!ATTLIST adjustedStartDate  type NMTOKEN  #FIXED 'date' >

<!ELEMENT adjustedTerminationDate  (#PCDATA )>
<!ATTLIST adjustedTerminationDate  type NMTOKEN  #FIXED 'date' >

<!ELEMENT amount  (#PCDATA )>
<!ATTLIST amount  type NMTOKEN  #FIXED 'decimal' >

<!ELEMENT averagingMethod  (#PCDATA )>
<!ATTLIST averagingMethod  type                  NMTOKEN  #FIXED 'string'
                           averagingMethodScheme CDATA    #IMPLIED >

<!ELEMENT businessCenter  (#PCDATA )>
<!ATTLIST businessCenter  type                 NMTOKEN  #FIXED 'string'
                          id                   ID       #IMPLIED
                          businessCenterScheme CDATA    #IMPLIED >

<!ELEMENT businessCenters  (%FpML_BusinessCenters; )>
<!ATTLIST businessCenters  type NMTOKEN  #FIXED 'BusinessCenters'
                           id   ID       #IMPLIED >

<!ELEMENT businessCentersReference EMPTY>
<!ATTLIST businessCentersReference  href CDATA  #IMPLIED >

<!ELEMENT businessDayConvention  (#PCDATA )>
<!ATTLIST businessDayConvention  type                        NMTOKEN  #FIXED 'string'
                                 businessDayConventionScheme CDATA    #IMPLIED >

<!ELEMENT buyerPartyReference EMPTY>
<!ATTLIST buyerPartyReference  href CDATA  #REQUIRED >

<!ELEMENT calculatedRate  (#PCDATA )>
<!ATTLIST calculatedRate  type NMTOKEN  #FIXED 'decimal' >

<!ELEMENT calculation  (%FpML_Calculation; )>
<!ATTLIST calculation  type NMTOKEN  #FIXED 'Calculation' >

<!ELEMENT calculationAgentPartyReference EMPTY>
<!ATTLIST calculationAgentPartyReference  href CDATA  #REQUIRED >

<!ELEMENT calculationPeriod  (%FpML_CalculationPeriod; )>
<!ATTLIST calculationPeriod  type NMTOKEN  #FIXED 'CalculationPeriod' 
                             id   ID       #IMPLIED >

<!ELEMENT calculationPeriodAmount  (%FpML_CalculationPeriodAmount; )>
<!ATTLIST calculationPeriodAmount  type NMTOKEN  #FIXED 'CalculationPeriodAmount' >

<!ELEMENT calculationPeriodDates  (%FpML_CalculationPeriodDates; )>
<!ATTLIST calculationPeriodDates  type NMTOKEN  #FIXED 'CalculationPeriodDates'
                                  id   ID       #REQUIRED >

<!ELEMENT calculationPeriodDatesAdjustments  (%FpML_BusinessDayAdjustments; )>
<!ATTLIST calculationPeriodDatesAdjustments  type NMTOKEN  #FIXED 'BusinessDayAdjustments' >

<!ELEMENT calculationPeriodDatesReference EMPTY>
<!ATTLIST calculationPeriodDatesReference  href CDATA  #REQUIRED >

<!ELEMENT calculationPeriodFrequency  (%FpML_CalculationPeriodFrequency; )>
<!ATTLIST calculationPeriodFrequency  type NMTOKEN  #FIXED 'CalculationPeriodFrequency'
                                      base NMTOKEN  #FIXED 'Interval' >

<!ELEMENT calculationPeriodNumberOfDays  (#PCDATA )>
<!ATTLIST calculationPeriodNumberOfDays  type NMTOKEN  #FIXED 'positiveInteger' >

<!ELEMENT capRate  (#PCDATA )>
<!ATTLIST capRate  type NMTOKEN  #FIXED 'decimal' >

<!ELEMENT capRateSchedule  (%FpML_Schedule; )>
<!ATTLIST capRateSchedule  type NMTOKEN  #FIXED 'Schedule' >

<!ELEMENT cashflows  (%FpML_Cashflows; )>
<!ATTLIST cashflows  type NMTOKEN  #FIXED 'Cashflows' >

<!ELEMENT cashflowsMatchParameters  (#PCDATA )>
<!ATTLIST cashflowsMatchParameters  type NMTOKEN  #FIXED 'boolean' >

<!ELEMENT compoundingMethod  (#PCDATA )>
<!ATTLIST compoundingMethod  type                    NMTOKEN  #FIXED 'string'
                             compoundingMethodScheme CDATA    #IMPLIED >

<!ELEMENT currency  (#PCDATA )>
<!ATTLIST currency  type           NMTOKEN  #FIXED 'string'
                    currencyScheme CDATA    #IMPLIED >

<!ELEMENT dateAdjustments  (%FpML_BusinessDayAdjustments; )>
<!ATTLIST dateAdjustments  type NMTOKEN  #FIXED 'BusinessDayAdjustments' >

<!ELEMENT dateRelativeTo  (#PCDATA )>
<!ATTLIST dateRelativeTo  type                 NMTOKEN  #FIXED 'string'
                          href                 CDATA  #REQUIRED 
                          dateRelativeToScheme CDATA    #IMPLIED >

<!ELEMENT dayCountFraction  (#PCDATA )>
<!ATTLIST dayCountFraction  type                   NMTOKEN  #FIXED 'string'
                            dayCountFractionScheme CDATA    #IMPLIED >

<!ELEMENT dayType  (#PCDATA )>
<!ATTLIST dayType  type          NMTOKEN  #FIXED 'string'
                   dayTypeScheme CDATA    #IMPLIED >

<!ELEMENT discounting  (%FpML_Discounting; )>
<!ATTLIST discounting  type NMTOKEN  #FIXED 'Discounting' >

<!ELEMENT discountingType  (#PCDATA )>
<!ATTLIST discountingType  type                  NMTOKEN  #FIXED 'string'
                           discountingTypeScheme CDATA    #IMPLIED >

<!ELEMENT discountRate  (#PCDATA )>
<!ATTLIST discountRate  type NMTOKEN  #FIXED 'decimal' >


<!ELEMENT discountRateDayCountFraction  (#PCDATA )>
<!ATTLIST discountRateDayCountFraction  type                   NMTOKEN  #FIXED 'string'
                                        dayCountFractionScheme CDATA    #IMPLIED >

<!ELEMENT effectiveDate  (%FpML_AdjustableDate; )>
<!ATTLIST effectiveDate  type NMTOKEN  #FIXED 'AdjustableDate' >

<!ELEMENT finalExchange  (#PCDATA )>
<!ATTLIST finalExchange  type NMTOKEN  #FIXED 'boolean' >

<!ELEMENT finalRateRounding  (%FpML_Rounding; )>
<!ATTLIST finalRateRounding  type NMTOKEN  #FIXED 'Rounding' >

<!ELEMENT finalStub  (%FpML_Stub; )>
<!ATTLIST finalStub  type NMTOKEN  #FIXED 'Stub' >

<!ELEMENT firstNotionalStepDate  (#PCDATA )>
<!ATTLIST firstNotionalStepDate  type NMTOKEN  #FIXED 'date' >

<!ELEMENT firstPaymentDate  (#PCDATA )>
<!ATTLIST firstPaymentDate  type NMTOKEN  #FIXED 'date' >

<!ELEMENT firstPeriodStartDate  (%FpML_AdjustableDate; )>
<!ATTLIST firstPeriodStartDate  type NMTOKEN  #FIXED 'AdjustableDate' >

<!ELEMENT firstRegularPeriodStartDate  (#PCDATA )>
<!ATTLIST firstRegularPeriodStartDate  type NMTOKEN  #FIXED 'date' >

<!ELEMENT fixedPaymentAmount  (#PCDATA )>
<!ATTLIST fixedPaymentAmount  type NMTOKEN  #FIXED 'decimal' >

<!ELEMENT fixedRate  (#PCDATA )>
<!ATTLIST fixedRate  type NMTOKEN  #FIXED 'decimal' >

<!ELEMENT fixedRateSchedule  (%FpML_Schedule; )>
<!ATTLIST fixedRateSchedule  type NMTOKEN  #FIXED 'Schedule' >

<!ELEMENT fixingDateOffset  (%FpML_RelativeDateOffset; )>
<!ATTLIST fixingDateOffset  type NMTOKEN  #FIXED 'RelativeDateOffset'
                            base NMTOKEN  #FIXED 'Offset' >

<!ELEMENT fixingDates  (%FpML_RelativeDateOffset; )>
<!ATTLIST fixingDates  type NMTOKEN  #FIXED 'RelativeDateOffset'
                       base NMTOKEN  #FIXED 'Offset' >

<!ELEMENT floatingRate  (%FpML_FloatingRate; )>
<!ATTLIST floatingRate  type NMTOKEN  #FIXED 'FloatingRate'
                        id   ID       #IMPLIED >

<!ELEMENT floatingRateCalculation  (%FpML_FloatingRateCalculation; )>
<!ATTLIST floatingRateCalculation  type NMTOKEN  #FIXED 'FloatingRateCalculation'
                                   base NMTOKEN  #FIXED 'FloatingRate' >

<!ELEMENT floatingRateDefinition  (%FpML_FloatingRateDefinition; )>
<!ATTLIST floatingRateDefinition  type NMTOKEN  #FIXED 'FloatingRateDefinition' >

<!ELEMENT floatingRateIndex  (#PCDATA )>
<!ATTLIST floatingRateIndex  type                    NMTOKEN  #FIXED 'string'
                             floatingRateIndexScheme CDATA    #IMPLIED >

<!ELEMENT floorRate  (#PCDATA )>
<!ATTLIST floorRate  type NMTOKEN  #FIXED 'decimal' >

<!ELEMENT floorRateSchedule  (%FpML_Schedule; )>
<!ATTLIST floorRateSchedule  type NMTOKEN  #FIXED 'Schedule' >

<!ELEMENT fra  (%FpML_Fra; )>
<!ATTLIST fra  type NMTOKEN  #FIXED 'Fra' >

<!ELEMENT fraDiscounting  (#PCDATA )>
<!ATTLIST fraDiscounting  type NMTOKEN  #FIXED 'boolean' >

<!ELEMENT indexTenor  (%FpML_Interval; )>
<!ATTLIST indexTenor  type NMTOKEN  #FIXED 'Interval' >

<!ELEMENT initialExchange  (#PCDATA )>
<!ATTLIST initialExchange  type NMTOKEN  #FIXED 'boolean' >

<!ELEMENT initialRate  (#PCDATA )>
<!ATTLIST initialRate  type NMTOKEN  #FIXED 'decimal' >

<!ELEMENT initialStub  (%FpML_Stub; )>
<!ATTLIST initialStub  type NMTOKEN  #FIXED 'Stub' >

<!ELEMENT initialValue  (#PCDATA )>
<!ATTLIST initialValue  type NMTOKEN  #FIXED 'decimal' >

<!ELEMENT intermediateExchange  (#PCDATA )>
<!ATTLIST intermediateExchange  type NMTOKEN  #FIXED 'boolean' >

<!ELEMENT knownAmountSchedule  (%FpML_AmountSchedule; )>
<!ATTLIST knownAmountSchedule  type NMTOKEN  #FIXED 'AmountSchedule'
                               base NMTOKEN  #FIXED 'Schedule' >

<!ELEMENT lastNotionalStepDate  (#PCDATA )>
<!ATTLIST lastNotionalStepDate  type NMTOKEN  #FIXED 'date' >

<!ELEMENT lastRegularPaymentDate  (#PCDATA )>
<!ATTLIST lastRegularPaymentDate  type NMTOKEN  #FIXED 'date' >

<!ELEMENT lastRegularPeriodEndDate  (#PCDATA )>
<!ATTLIST lastRegularPeriodEndDate  type NMTOKEN  #FIXED 'date' >

<!ELEMENT linkId  (#PCDATA )>
<!ATTLIST linkId  type         NMTOKEN  #FIXED 'string'
                  id           ID       #IMPLIED
                  linkIdScheme CDATA    #IMPLIED >

<!ELEMENT negativeInterestRateTreatment  (#PCDATA )>
<!ATTLIST negativeInterestRateTreatment  type NMTOKEN  #FIXED 'string'
          negativeInterestRateTreatmentScheme CDATA    #IMPLIED >

<!ELEMENT notional  (%FpML_Money; )>
<!ATTLIST notional  type NMTOKEN  #FIXED 'Money' >

<!ELEMENT notionalAmount  (#PCDATA )>
<!ATTLIST notionalAmount  type NMTOKEN  #FIXED 'decimal' >

<!ELEMENT notionalSchedule  (%FpML_Notional; )>
<!ATTLIST notionalSchedule  type NMTOKEN  #FIXED 'Notional' >

<!ELEMENT notionalStepAmount  (#PCDATA )>
<!ATTLIST notionalStepAmount  type NMTOKEN  #FIXED 'decimal' >

<!ELEMENT notionalStepParameters  (%FpML_NotionalStepRule; )>
<!ATTLIST notionalStepParameters  type NMTOKEN  #FIXED 'NotionalStepRule' >

<!ELEMENT notionalStepRate  (#PCDATA )>
<!ATTLIST notionalStepRate  type NMTOKEN  #FIXED 'decimal' >

<!ELEMENT notionalStepSchedule  (%FpML_AmountSchedule; )>
<!ATTLIST notionalStepSchedule  type NMTOKEN  #FIXED 'AmountSchedule'
                                base NMTOKEN  #FIXED 'Schedule' >

<!ELEMENT observationWeight  (#PCDATA )>
<!ATTLIST observationWeight  type NMTOKEN  #FIXED 'positiveInteger' >

<!ELEMENT observedRate  (#PCDATA )>
<!ATTLIST observedRate  type NMTOKEN  #FIXED 'decimal' >

<!ELEMENT otherPartyPayment  (%FpML_Fee; )>
<!ATTLIST otherPartyPayment  type NMTOKEN  #FIXED 'Fee' 
                             id   ID       #IMPLIED >

<!ELEMENT party  (%FpML_Party; )>
<!ATTLIST party  type NMTOKEN  #FIXED 'Party'
                 id   ID       #REQUIRED >

<!ELEMENT partyId  (#PCDATA )>
<!ATTLIST partyId  type          NMTOKEN  #FIXED 'string'
                   partyIdScheme CDATA    #IMPLIED >

<!ELEMENT partyName  (#PCDATA )>
<!ATTLIST partyName  type NMTOKEN  #FIXED 'string' >

<!ELEMENT partyReference EMPTY>
<!ATTLIST partyReference  href CDATA  #REQUIRED >

<!ELEMENT partyTradeIdentifier  (%FpML_PartyTradeIdentifier; )>
<!ATTLIST partyTradeIdentifier  type NMTOKEN  #FIXED 'PartyTradeIdentifier' 
                                id   ID       #IMPLIED >

<!ELEMENT payerPartyReference EMPTY>
<!ATTLIST payerPartyReference  href CDATA  #REQUIRED >

<!ELEMENT paymentAmount  (%FpML_Money; )>
<!ATTLIST paymentAmount  type NMTOKEN  #FIXED 'Money' >

<!ELEMENT paymentCalculationPeriod  (%FpML_PaymentCalculationPeriod; )>
<!ATTLIST paymentCalculationPeriod  type NMTOKEN  #FIXED 'PaymentCalculationPeriod'
                                    id   ID       #IMPLIED >

<!ELEMENT paymentDate  (%FpML_AdjustableDate; )>
<!ATTLIST paymentDate  type NMTOKEN  #FIXED 'AdjustableDate' >

<!ELEMENT paymentDates  (%FpML_PaymentDates; )>
<!ATTLIST paymentDates  type NMTOKEN  #FIXED 'PaymentDates' >

<!ELEMENT paymentDatesAdjustments  (%FpML_BusinessDayAdjustments; )>
<!ATTLIST paymentDatesAdjustments  type NMTOKEN  #FIXED 'BusinessDayAdjustments' >

<!ELEMENT paymentDaysOffset  (%FpML_Offset; )>
<!ATTLIST paymentDaysOffset  type NMTOKEN  #FIXED 'Offset'
                             base NMTOKEN  #FIXED 'Interval' >

<!ELEMENT paymentFrequency  (%FpML_Interval; )>
<!ATTLIST paymentFrequency  type NMTOKEN  #FIXED 'Interval' >

<!ELEMENT paymentType  (#PCDATA )>
<!ATTLIST paymentType  type              NMTOKEN  #FIXED 'string'
                       paymentTypeScheme CDATA    #IMPLIED >

<!ELEMENT payRelativeTo  (#PCDATA )>
<!ATTLIST payRelativeTo  type                NMTOKEN  #FIXED 'string'
                         payRelativeToScheme CDATA    #IMPLIED >

<!ELEMENT period  (#PCDATA )>
<!ATTLIST period  type         NMTOKEN  #FIXED 'string'
                  periodScheme CDATA    #IMPLIED >

<!ELEMENT periodMultiplier  (#PCDATA )>
<!ATTLIST periodMultiplier  type NMTOKEN  #FIXED 'integer' >

<!ELEMENT precision  (#PCDATA )>
<!ATTLIST precision  type NMTOKEN  #FIXED 'nonNegativeInteger' >

<!ELEMENT principalExchange  (%FpML_PrincipalExchange; )>
<!ATTLIST principalExchange  type NMTOKEN  #FIXED 'PrincipalExchange'
                             id   ID       #IMPLIED >

<!ELEMENT principalExchangeAmount  (#PCDATA )>
<!ATTLIST principalExchangeAmount  type NMTOKEN  #FIXED 'decimal' >

<!ELEMENT principalExchanges  (%FpML_PrincipalExchanges; )>
<!ATTLIST principalExchanges  type NMTOKEN  #FIXED 'PrincipalExchanges' >

<!ELEMENT product  (%FpML_Product; )>
<!ATTLIST product  type NMTOKEN  #FIXED 'Product' >

<!ELEMENT rateCutOffDaysOffset  (%FpML_Offset; )>
<!ATTLIST rateCutOffDaysOffset  type NMTOKEN  #FIXED 'Offset'
                                base NMTOKEN  #FIXED 'Interval' >

<!ELEMENT rateObservation  (%FpML_RateObservation; )>
<!ATTLIST rateObservation  type NMTOKEN  #FIXED 'RateObservation'
                           id   ID       #IMPLIED >

<!ELEMENT rateReference EMPTY>
<!ATTLIST rateReference  href CDATA  #REQUIRED >

<!ELEMENT rateTreatment  (#PCDATA )>
<!ATTLIST rateTreatment  type                NMTOKEN  #FIXED 'string'
                         rateTreatmentScheme CDATA    #IMPLIED >

<!ELEMENT receiverPartyReference EMPTY>
<!ATTLIST receiverPartyReference  href CDATA  #REQUIRED >

<!ELEMENT resetDates  (%FpML_ResetDates; )>
<!ATTLIST resetDates  type NMTOKEN  #FIXED 'ResetDates'
                      id   ID       #REQUIRED >

<!ELEMENT resetDatesAdjustments  (%FpML_BusinessDayAdjustments; )>
<!ATTLIST resetDatesAdjustments  type NMTOKEN  #FIXED 'BusinessDayAdjustments' >

<!ELEMENT resetDatesReference EMPTY>
<!ATTLIST resetDatesReference  href CDATA  #REQUIRED >

<!ELEMENT resetFrequency  (%FpML_ResetFrequency; )>
<!ATTLIST resetFrequency  type NMTOKEN  #FIXED 'ResetFrequency'
                          base NMTOKEN  #FIXED 'Interval' >

<!ELEMENT resetRelativeTo  (#PCDATA )>
<!ATTLIST resetRelativeTo  type                  NMTOKEN  #FIXED 'string'
                           resetRelativeToScheme CDATA    #IMPLIED >

<!ELEMENT rollConvention  (#PCDATA )>
<!ATTLIST rollConvention  type                 NMTOKEN  #FIXED 'string'
                          rollConventionScheme CDATA    #IMPLIED >

<!ELEMENT roundingDirection  (#PCDATA )>
<!ATTLIST roundingDirection  type                    NMTOKEN  #FIXED 'string'
                             roundingDirectionScheme CDATA    #IMPLIED >

<!ELEMENT sellerPartyReference EMPTY>
<!ATTLIST sellerPartyReference  href CDATA  #REQUIRED >

<!ELEMENT spread  (#PCDATA )>
<!ATTLIST spread  type NMTOKEN  #FIXED 'decimal' >

<!ELEMENT spreadSchedule  (%FpML_Schedule; )>
<!ATTLIST spreadSchedule  type NMTOKEN  #FIXED 'Schedule' >

<!ELEMENT step  (%FpML_Step; )>
<!ATTLIST step  type NMTOKEN  #FIXED 'Step'
                id   ID       #IMPLIED >

<!ELEMENT stepDate  (#PCDATA )>
<!ATTLIST stepDate  type NMTOKEN  #FIXED 'date' >

<!ELEMENT stepFrequency  (%FpML_Interval; )>
<!ATTLIST stepFrequency  type NMTOKEN  #FIXED 'Interval' >

<!ELEMENT stepRelativeTo  (#PCDATA )>
<!ATTLIST stepRelativeTo  type                 NMTOKEN  #FIXED 'string'
                          stepRelativeToScheme CDATA    #IMPLIED >

<!ELEMENT stepValue  (#PCDATA )>
<!ATTLIST stepValue  type NMTOKEN  #FIXED 'decimal' >

<!ELEMENT stubAmount  (%FpML_Money; )>
<!ATTLIST stubAmount  type NMTOKEN  #FIXED 'Money' >

<!ELEMENT stubCalculationPeriodAmount  (%FpML_StubCalculationPeriodAmount; )>
<!ATTLIST stubCalculationPeriodAmount  type NMTOKEN  #FIXED 'StubCalculationPeriodAmount' >

<!ELEMENT stubRate  (#PCDATA )>
<!ATTLIST stubRate  type NMTOKEN  #FIXED 'decimal' >

<!ELEMENT swap  (%FpML_Swap; )>
<!ATTLIST swap  type NMTOKEN  #FIXED 'Swap' >

<!ELEMENT swapStream  (%FpML_InterestRateStream; )>
<!ATTLIST swapStream  type NMTOKEN  #FIXED 'InterestRateStream'
                      id   ID       #IMPLIED >

<!ELEMENT terminationDate  (%FpML_AdjustableDate; )>
<!ATTLIST terminationDate  type NMTOKEN  #FIXED 'AdjustableDate' >

<!ELEMENT trade  (%FpML_Trade; )>
<!ATTLIST trade  type NMTOKEN  #FIXED 'Trade'
                 id   ID       #IMPLIED >

<!ELEMENT tradeDate  (#PCDATA )>
<!ATTLIST tradeDate  type NMTOKEN  #FIXED 'date' >

<!ELEMENT tradeHeader  (%FpML_TradeHeader; )>
<!ATTLIST tradeHeader  type NMTOKEN  #FIXED 'TradeHeader' >

<!ELEMENT tradeId  (#PCDATA )>
<!ATTLIST tradeId  type          NMTOKEN  #FIXED 'string'
                   id            ID       #IMPLIED
                   tradeIdScheme CDATA    #IMPLIED >

<!ELEMENT treatedRate  (#PCDATA )>
<!ATTLIST treatedRate  type NMTOKEN  #FIXED 'decimal' >

<!ELEMENT unadjustedDate  (#PCDATA )>
<!ATTLIST unadjustedDate  type NMTOKEN  #FIXED 'date' >

<!ELEMENT weeklyRollConvention  (#PCDATA )>
<!ATTLIST weeklyRollConvention  type                       NMTOKEN  #FIXED 'string'
                                weeklyRollConventionScheme CDATA    #IMPLIED >
