files-fpml/schemas/fpml5-3/transparency/fpml-fx-5-3.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 
        == Copyright (c) 2002-2013 All rights reserved. 
        == Financial Products Markup Language is subject to the FpML public license. 
        == A copy of this license is available at http://www.fpml.org/license/license.html
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns="http://www.fpml.org/FpML-5/transparency" xmlns:fpml-annotation="http://www.fpml.org/annotation" targetNamespace="http://www.fpml.org/FpML-5/transparency" ecore:documentRoot="FpML" ecore:nsPrefix="trnsp" ecore:package="org.fpml.transparency" version="$Revision: 9462 $" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:include schemaLocation="fpml-option-shared-5-3.xsd" />
  <xsd:simpleType name="PointValue">
    <xsd:annotation>
      <xsd:documentation>Constrains the forward point tick/pip factor to 1, 0.1, 0.01, 0.001, etc.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:pattern value="1" />
      <xsd:pattern value="0.0*1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CrossRate">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type that is used for including the currency exchange rates used to cross between the traded currencies for non-base currency FX contracts.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="QuotedCurrencyPair">
        <xsd:sequence>
          <xsd:element name="rate" type="PositiveDecimal" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The exchange rate used to cross between the traded currencies.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:sequence minOccurs="0">
            <xsd:element name="spotRate" type="PositiveDecimal" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">An optional element used for FX forwards and certain types of FX OTC options. For deals consumated in the FX Forwards Market, this represents the current market rate for a particular currency pair.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="forwardPoints" type="xsd:decimal" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">An optional element used for deals consumated in the FX Forwards market. Forward points represent the interest rate differential between the two currencies traded and are quoted as a preminum or a discount. Forward points are added to, or subtracted from, the spot rate to create the rate of the forward trade.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CutName">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Allows for an expiryDateTime cut to be described by name.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="cutNameScheme" type="xsd:anyURI" default="http://www.fpml.org/coding-scheme/cut-name" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="DualCurrencyFeature">
    <xsd:annotation>
      <xsd:documentation>Describes the parameters for a dual currency deposit.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="currency" type="Currency" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The currency in which the principal and interest will be repaid.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fixingDate" type="xsd:date" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The date on which the decion on delivery currency will be made.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fixingTime" type="BusinessCenterTime" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Time at which the option expires on the expiry date.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="strike" type="DualCurrencyStrikePrice" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The strike rate at which the deposit will be converted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="spotRate" type="xsd:decimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The spot rate at the time the trade was agreed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="interestAtRisk" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Specifies whether the interest component of the redemption amount is subject to conversion to the Alternate currency, in the event that the spot rate is strictly lower than the strike level at the specified fixing date and time.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DualCurrencyStrikePrice">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type that describes the rate of exchange at which the embedded option in a Dual Currency Deposit has been struck.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="rate" type="PositiveDecimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The rate of exchange between the two currencies of the leg of a deal.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="strikeQuoteBasis" type="DualCurrencyStrikeQuoteBasisEnum" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The method by which the strike rate is quoted, in terms of the deposit (principal) and alternate currencies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExchangeRate">
    <xsd:annotation>
      <xsd:documentation>A type that is used for describing the exchange rate for a particular transaction.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="quotedCurrencyPair" type="QuotedCurrencyPair" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Defines the two currencies for an FX trade and the quotation relationship between the two currencies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rate" type="PositiveDecimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The rate of exchange between the two currencies of the leg of a deal. Must be specified with a quote basis.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:sequence minOccurs="0">
        <xsd:element name="spotRate" type="PositiveDecimal" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">An element used for FX forwards and certain types of FX OTC options. For deals consumated in the FX Forwards Market, this represents the current market rate for a particular currency pair. For barrier and digital/binary options, it can be useful to include the spot rate at the time the option was executed to make it easier to know whether the option needs to move "up" or "down" to be triggered.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:sequence minOccurs="0">
          <xsd:element name="forwardPoints" type="xsd:decimal" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">An optional element used for deals consumated in the FX Forwards market. Forward points represent the interest rate differential between the two currencies traded and are quoted as a preminum or a discount. Forward points are added to, or subtracted from, the spot rate to create the rate of the forward trade.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="pointValue" type="PointValue" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">An optional element that documents the size of point (pip) in which a rate was quoted (or in this case, forwardPoints are calculated). Point (pip) size varies by currency pair: major currencies are all traded in points of 0.0001, with the exception of JPY which has a point size of 0.01.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:sequence>
      <xsd:element name="crossRate" type="CrossRate" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">An optional element that allow for definition of the currency exchange rates used to cross between the traded currencies for non-base currency FX contracts.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FxAmericanExercise">
    <xsd:annotation>
      <xsd:documentation>Describes the characteristics for american exercise of FX products.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="FxDigitalAmericanExercise">
<!--View Generation: Skipped an empty sequence.-->
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!--View Generation: SKIPPED FxAsianFeature - NonStandardFeature-->
<!--View Generation: SKIPPED FxAverageRateObservation - Unsupported-->
<!--View Generation: SKIPPED FxAverageRateObservationSchedule - Unsupported-->
<!--View Generation: SKIPPED FxBarrierFeature - NonStandardFeature-->
<!--View Generation: SKIPPED FxBoundary - NonStandardFeature-->
  <xsd:complexType name="FxDigitalAmericanExercise">
    <xsd:annotation>
      <xsd:documentation>Descrines the characteristics for American exercise in FX digital options.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Exercise">
        <xsd:sequence>
          <xsd:element name="commencementDate" type="AdjustableOrRelativeDate" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The earliest date on which the option can be exercised.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="expiryDate" type="xsd:date" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The latest date on which the option can be exercised.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
<!--View Generation: SKIPPED expiryTime - Documentation-->
<!--View Generation: SKIPPED cutName - Documentation-->
          <xsd:element name="latestValueDate" type="xsd:date" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The latest date on which both currencies traded will settle.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!--View Generation: SKIPPED FxDigitalOption - Unsupported-->
  <xsd:complexType name="FxEuropeanExercise">
    <xsd:annotation>
      <xsd:documentation>Describes the characteristics for European exercise of FX products.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Exercise">
        <xsd:sequence>
          <xsd:element name="expiryDate" type="xsd:date" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Represents a standard expiry date as defined for an FX OTC option.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="expiryTime" type="BusinessCenterTime" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Time at which the option expires on the expiry date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="cutName" type="CutName" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The code by which the expiry time is known in the market.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="valueDate" type="xsd:date" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The date on which both currencies traded will settle.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxMultipleExercise">
    <xsd:annotation>
      <xsd:documentation>Describes the limits on the size of notional when multiple exercise is allowed.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="minimumNotionalAmount" type="NonNegativeMoney" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The minimum amount of notional that can be exercised.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="maximumNotionalAmount" type="NonNegativeMoney" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The maximum amount of notiional that can be exercised.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FxOption">
    <xsd:annotation>
      <xsd:documentation>Describes an FX option with optional asian and barrier features.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Option">
        <xsd:sequence>
          <xsd:element name="effectiveDate" type="AdjustableOrRelativeDate" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Effective date for a forward starting derivative. If this element is not present, the effective date is the trade date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="tenorPeriod" type="Period" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>A tenor expressed as a period type and multiplier (e.g. 1D, 1Y, etc.)</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:sequence>
            <xsd:annotation>
              <xsd:documentation>Defines the parameters for option exercise.</xsd:documentation>
            </xsd:annotation>
            <xsd:choice minOccurs="0">
              <xsd:element name="americanExercise" type="FxAmericanExercise">
                <xsd:annotation>
                  <xsd:documentation>The parameters for defining the exercise period for an American style option.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="europeanExercise" type="FxEuropeanExercise">
                <xsd:annotation>
                  <xsd:documentation>The parameters for defining the exercise period for an European style option.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:choice>
<!--View Generation: SKIPPED exerciseProcedure - Documentation-->
          </xsd:sequence>
          <xsd:sequence>
            <xsd:annotation>
              <xsd:documentation>Defines the underlying FX transaction.</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="putCurrencyAmount" type="NonNegativeMoney">
              <xsd:annotation>
                <xsd:documentation>The currency amount that the option gives the right to sell.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="callCurrencyAmount" type="NonNegativeMoney">
              <xsd:annotation>
                <xsd:documentation>The currency amount that the option gives the right to buy.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
          <xsd:element name="soldAs" type="PutCallEnum" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Indicates how the product was original sold as a Put or a Call.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:sequence>
            <xsd:element name="strike" type="FxStrikePrice">
              <xsd:annotation>
                <xsd:documentation>Defines the option strike price.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="spotRate" type="PositiveDecimal" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">An optional element used for FX forwards and certain types of FX OTC options. For deals consumated in the FX Forwards Market, this represents the current market rate for a particular currency pair. For barrier and digital/binary options, it can be useful to include the spot rate at the time the option was executed to make it easier to know whether the option needs to move "up" or "down" to be triggered.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
<!--View Generation: SKIPPED features - NonStandardFeature-->
          <xsd:element name="premium" type="FxOptionPremium">
            <xsd:annotation>
              <xsd:documentation>Premium amount or premium installment amount for an option.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="cashSettlement" type="FxCashSettlement" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Specifies the currency and fixing details for cash settlement. This optional element is produced only where it has been specified at execution time that the option wlll be settled into a single cash payment - for example, in the case of a non-deliverable option (although note that an Fx option may be contractually cash settled, without necessarily being non-deliverable).</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!--View Generation: SKIPPED FxOptionFeatures - NonStandardFeature-->
<!--View Generation: SKIPPED FxOptionPayout - Unsupported-->
  <xsd:complexType name="FxOptionPremium">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type that specifies the premium exchanged for a single option trade or option strategy.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NonNegativePayment">
        <xsd:sequence>
<!--View Generation: SKIPPED settlementInformation - Documentation-->
          <xsd:element name="quote" type="PremiumQuote" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">This is the option premium as quoted. It is expected to be consistent with the premiumAmount and is for information only.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxSingleLeg">
    <xsd:annotation>
      <xsd:documentation>A type defining either a spot or forward FX transactions.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Product">
        <xsd:sequence>
          <xsd:group ref="FxCoreDetails.model" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxStrikePrice">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type that describes the rate of exchange at which the option has been struck.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="rate" type="PositiveDecimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The rate of exchange between the two currencies of the leg of a deal.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="strikeQuoteBasis" type="StrikeQuoteBasisEnum" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The method by which the strike rate is quoted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FxSwap">
    <xsd:annotation>
      <xsd:documentation>A type defining either a spot/forward or forward/forward FX swap transaction.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Product">
        <xsd:sequence>
          <xsd:element name="nearLeg" type="FxSwapLeg">
            <xsd:annotation>
              <xsd:documentation>The FX transaction with the earliest value date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="farLeg" type="FxSwapLeg">
            <xsd:annotation>
              <xsd:documentation>The FX transaction with the latest value date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxSwapLeg">
    <xsd:complexContent>
      <xsd:extension base="Leg">
        <xsd:annotation>
          <xsd:documentation>A type defining the details for one of the transactions in an FX swap.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:group ref="FxCoreDetails.model" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!--View Generation: SKIPPED FxTouch - NonStandardFeature-->
<!--View Generation: SKIPPED FxTrigger - NonStandardFeature-->
<!--View Generation: SKIPPED LowerBound - NonStandardFeature-->
<!--View Generation: SKIPPED MoneyReference - NonStandardFeature-->
<!--View Generation: SKIPPED ObservationSchedule - NonStandardFeature-->
  <xsd:complexType name="PremiumQuote">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type that describes the option premium as quoted.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="value" type="xsd:decimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The value of the premium quote. In general this will be either a percentage or an explicit amount.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="quoteBasis" type="PremiumQuoteBasisEnum" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The method by which the option premium was quoted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!--View Generation: SKIPPED TermDeposit - Unsupported-->
<!--View Generation: SKIPPED TermDepositFeatures - Unsupported-->
<!--View Generation: SKIPPED UpperBound - NonStandardFeature-->
  <xsd:group name="FxCoreDetails.model">
    <xsd:annotation>
      <xsd:documentation>The elements common to FX spot, forward and swap legs.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="exchangedCurrency1" type="Payment">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This is the first of the two currency flows that define a single leg of a standard foreign exchange transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="exchangedCurrency2" type="Payment">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This is the second of the two currency flows that define a single leg of a standard foreign exchange transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dealtCurrency" type="DealtCurrencyEnum" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates which currency was dealt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:group ref="FxTenor.model" minOccurs="0" />
      <xsd:choice>
        <xsd:element name="valueDate" type="xsd:date">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The date on which both currencies traded will settle.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:sequence>
          <xsd:element name="currency1ValueDate" type="xsd:date">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The date on which the currency1 amount will be settled. To be used in a split value date scenario.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="currency2ValueDate" type="xsd:date">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The date on which the currency2 amount will be settled. To be used in a split value date scenario.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:choice>
      <xsd:element name="exchangeRate" type="ExchangeRate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The rate of exchange between the two currencies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="nonDeliverableSettlement" type="FxCashSettlement" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used to describe a particular type of FX forward transaction that is settled in a single currency (for example, a non-deliverable forward).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
<!--View Generation: SKIPPED FxRateObservation.model - Unsupported-->
  <xsd:group name="FxTenor.model">
    <xsd:choice>
      <xsd:element name="tenorName">
        <xsd:annotation>
          <xsd:documentation>A tenor expressed with a standard business term (i.e. Spot, TomorrowNext, etc.)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="FxTenorPeriodEnum" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="tenorPeriod" type="Period">
        <xsd:annotation>
          <xsd:documentation>A tenor expressed as a period type and multiplier (e.g. 1D, 1Y, etc.)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:group>
  <xsd:element name="fxSingleLeg" type="FxSingleLeg" substitutionGroup="product">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A simple FX spot or forward transaction definition.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="fxSwap" type="FxSwap" substitutionGroup="product">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An FX Swap transaction definition.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="fxOption" type="FxOption" substitutionGroup="product">
    <xsd:annotation>
      <xsd:documentation>An FX option transaction definition.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
<!--View Generation: SKIPPED fxDigitalOption - Unsupported-->
<!--View Generation: SKIPPED termDeposit - Unsupported-->
</xsd:schema>

