files-fpml/schemas/acme2-0/acme-2-0.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://www.handcoded.com/spec/2007/Acme-2-0"
	 targetNamespace = "http://www.handcoded.com/spec/2007/Acme-2-0"
	 xmlns:fpml = "http://www.fpml.org/2005/FpML-4-2"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	<xsd:import namespace = "http://www.fpml.org/2005/FpML-4-2" schemaLocation = "fpml-main-4-2.xsd"/>
	<!-- Reject Document -->
	<xsd:complexType name = "RejectedDocument">
		<xsd:complexContent>
			<xsd:extension base = "fpml:Document">
				<xsd:sequence>
					<xsd:element name = "validation" type = "fpml:Validation" minOccurs = "0" maxOccurs = "unbounded"/>
					<xsd:element name = "reason" type = "fpml:Reason" maxOccurs = "unbounded"/>
					<xsd:element name = "additionalData" type = "xsd:string" minOccurs = "0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Credit Event Notices (Pre-release) -->
</xsd:schema>